<template>
    <div class="row">
        <div class="col-md-12">
            <div class="intro-banner-search-form margin-top-95">

                <!-- Search Field -->
                <div class="intro-search-field with-autocomplete">
                    <label  class="field-title ripple-effect">Where?</label>
                        <gmap-autocomplete placeholder="Enter Location"
                                @place_changed="setPlace">
                        </gmap-autocomplete>
                </div>

                <!-- Search Field -->
                <div class="intro-search-field custom-autocomplete-field" @mouseleave="onBlurInput">
                    <label for ="intro-keywords" class="field-title ripple-effect">What job you want?</label>
                    <input v-model="query.title" @focus="onFocusInput" @keyup="autocompleteSearch" id="intro-keywords" type="text" placeholder="Title or Keywords" autocomplete="off">
                    <template v-if="query.title && showDropdown">
                        <ul v-if="query.title.length >0 || results.length > 0" class="search-dropdown-autocomple" :class="{'custom-hide':!showDropdown}">
                            <li @click="handleItem(item)" v-if="index < 5" v-for="(item,index) in results">{{item.title}}</li>
                        </ul>
                    </template>
                </div>

                <!-- Button -->
                <div class="intro-search-button">
                    <button @click="search" class="button ripple-effect">Search</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "search",
        data(){
            return{
                query:{},
                results:[],
                showDropdown:false,
                selectedItem:{},
            }
        },
        methods:{
            onFocusInput(){
                this.showDropdown = true;
            },
            handleItem(item){
                this.selectedItem = item;
                this.query.title = item.title;
                this.showDropdown = false;
            },
            autocompleteSearch(){
                axios.post('/home-search',this.query)
                    .then(resp=>{
                        this.results = resp.data;
                    })
            },
            setPlace(place) {
                this.query.lat = place.geometry.location.lat();
                this.query.lng = place.geometry.location.lng();
            },
            onBlurInput(){
                this.showDropdown = false;
            },
            slugify(string) {
                const a = 'àáäâãåăæçèéëêǵḧìíïîḿńǹñòóöôœṕŕßśșțùúüûǘẃẍÿź·/_,:;'
                const b = 'aaaaaaaaceeeeghiiiimnnnoooooprssstuuuuuwxyz------'
                const p = new RegExp(a.split('').join('|'), 'g')
                return string.toString().toLowerCase()
                    .replace(/\s+/g, '-') // Replace spaces with -
                    .replace(p, c => b.charAt(a.indexOf(c))) // Replace special characters
                    .replace(/&/g, '-and-') // Replace & with ‘and’
                    .replace(/[^\w\-]+/g, '') // Remove all non-word characters
                    .replace(/\-\-+/g, '-') // Replace multiple - with single -
                    .replace(/^-+/, '') // Trim - from start of text
                    .replace(/-+$/, '') // Trim - from end of text
            },
            search(){
                if(this.query.title){
                    if(this.query.lat){
                        window.location.href = `/search?q=${this.slugify(this.query.title)}&lat=${this.query.lat}&lng=${this.query.lng}`;
                    }else{
                        window.location.href = `/search?q=${this.slugify(this.query.title)}`;
                    }
                }
            }
        },
        computed:{
            title:function () {
                return this.query.title;
            }
        },
        watch:{
            title:function (value) {
                if(value.length > 0){
                    this.showDropdown = true;
                }
            }
        }
    }
</script>

<style>
.custom-autocomplete-field{
    position: relative;
}
.custom-hide{
    display: none;
}
    .search-dropdown-autocomple{
        position: absolute;
        top: 100%;
        width: 100% !important;
        background: white;
        list-style-type: none;
        border-radius: 4px;
        z-index: 55;
        padding-left: 0;
    }
    .search-dropdown-autocomple li{
    border-top: 1px solid #d8d8d8;
        padding-top: 8px;
        padding-bottom: 5px;
        text-align: left;
        padding-left: 13px;
        cursor: pointer;
    }
@media (min-width: 998px){
    .search-dropdown-autocomple{
        margin-left: -12px;
    }
}
</style>