<template>
    <div>
        <!-- Comments -->
        <div class="row">
            <div class="col-xl-12">
                <section class="comments">
                    <h3 class="margin-top-45 margin-bottom-0">Comments <span class="comments-amount">({{currentPost.comments.length}})</span></h3>

                    <ul>
                        <li v-for="(item,index) in currentPost.comments">
                            <div class="avatar"><img src="/images/user-avatar-placeholder.png" alt=""> </div>
                            <div class="comment-content"><div class="arrow-comment"></div>
                                <div class="comment-by">
                                    <span v-if="item.user">
                                        {{item.user.name}}
                                    </span>
                                    <span v-else>
                                        {{item.name}}
                                    </span>
                                    <span class="date">{{item.posted_on}}</span>
                                    <a href="#" @click.prevent="showModal(item.id,index)" class="reply"><i class="fa fa-reply"></i> Reply</a>
                                </div>
                                <p>{{item.body}}</p>
                            </div>
                            <ul>
                                <li v-if="item.replies.length > 0" v-for="replies in item.replies">
                                    <div class="avatar"><img src="/images/user-avatar-placeholder.png" alt=""></div>
                                    <div class="comment-content"><div class="arrow-comment"></div>
                                        <div class="comment-by">
                                            <span v-if="replies.user">
                                                {{replies.user.name}}
                                            </span>
                                            <span v-else>
                                            {{replies.name}}
                                            </span>
                                            <span class="date">{{replies.posted_on}}</span>
                                            <a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
                                        </div>
                                        <p>
                                            {{replies.body}}
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </section>
            </div>
        </div>
        <!-- Comments / End -->


        <!-- Leava a Comment -->
        <div class="row">
            <div class="col-xl-12">

                <h3 class="margin-top-35 margin-bottom-30">Add Comment</h3>

                <!-- Form -->
                <form method="post" id="add-comment" @submit.prevent="saveComment">

                    <div class="row" v-if="parseInt(check) === 0">
                        <div class="col-xl-6">
                            <div class="input-with-icon-left no-border">
                                <i class="icon-material-outline-account-circle"></i>
                                <input type="text" v-model="comment.name" class="input-text" placeholder="Name" required/>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="input-with-icon-left no-border">
                                <i class="icon-material-baseline-mail-outline"></i>
                                <input type="text" v-model="comment.email" class="input-text" placeholder="Email Address" required/>
                            </div>
                        </div>
                    </div>

                    <textarea required  v-model="comment.body" cols="30" rows="5" placeholder="Comment"></textarea>
                </form>

                <!-- Button -->
                <button class="button button-sliding-icon ripple-effect margin-bottom-40" type="submit" form="add-comment">Add Comment <i class="icon-material-outline-arrow-right-alt"></i></button>

            </div>
        </div>
        <!-- Leava a Comment / End -->
        <template>
            <!-- Leave a Review Popup====================== -->
            <div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

                <!--Tabs -->
                <div class="sign-in-form">
                    <ul class="popup-tabs-nav">
                        <li><a href="#tab">Reply to this Comment</a></li>
                    </ul>
                    <div class="popup-tabs-container">
                        <!-- Tab -->
                        <div class="popup-tab-content" id="tab">
                            <!-- Welcome Text -->
                            <div class="welcome-text">
                                <!-- Form -->
                                <form method="post" id="leave-company-review-form" @submit.prevent="saveReply">
                                    <div v-if="!auth" class="row">
                                        <div class="col-xl-12">
                                            <div class="input-with-icon-left" title="Leave blank to add reply anonymously" data-tippy-placement="bottom">
                                                <i class="icon-material-outline-account-circle"></i>
                                                <input v-model="reply.name" type="text" class="input-text with-border" name="name" id="name" placeholder="First and Last Name"/>
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="input-with-icon-left">
                                                <i class="icon-material-outline-rate-review"></i>
                                                <input v-model="reply.email" type="email" class="input-text with-border" placeholder="Email"  required/>
                                            </div>
                                        </div>
                                    </div>
                                    <textarea class="with-border" v-model="reply.body" placeholder="Reply" cols="7"  required></textarea>
                                </form>
                            </div>
                            <!-- Button -->
                            <button class="button margin-top-35 full-width button-sliding-icon ripple-effect" type="submit" form="leave-company-review-form">
                                Reply <i class="icon-material-outline-arrow-right-alt"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Leave a Review Popup / End -->
        </template>
    </div>
</template>

<script>
    export default {
        name: "comments",
        props:['check','post'],
        data(){
            return{
                comment:{},
                currentPost:{},
                reply:{},
                currentIndex:''
            }
        },
        methods:{
            auth(){
                let num = parseInt(this.check)? true : false;
                if(num){
                    return true;
                }else{
                    return false;
                }
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            saveComment(){
                this.comment.post_id = this.currentPost.id;
                axios.post('/blog/comments',this.comment)
                    .then(resp=>{
                        this.comment = {};
                        this.currentPost.comments.unshift(resp.data);
                        let changes = this.currentPost.comments.length + ' '+'comment(s)';
                        $('#dynamic-update-comments').html(changes);
                        this.showAlert('comment saved successfully','success');
                    })
                    .catch(error=>{
                        this.showAlert('sorry an error occurred','error')
                    })
            },
            showModal(id,index){
                this.reply.comment_id = id;
                this.reply.post_id = this.currentPost.id;
                this.currentIndex = index;
                $.magnificPopup.open({
                    items:{
                        src:'#small-dialog'
                    },
                    type:'inline'
                })
            },
            saveReply(){
                axios.post('/blog/replys',this.reply)
                    .then(resp=>{
                        this.reply = {};
                        this.currentPost.comments[this.currentIndex].replies.unshift(resp.data);
                        $.magnificPopup.close()
                        this.showAlert('reply saved successfully','success')
                    })
                    .catch(error=>{
                        this.showAlert('sorry an error occurred','error')
                    })
            }
        },
        mounted(){
            this.currentPost = JSON.parse(this.post)
        }
    }
</script>

<style>
    .mfp-bg{
        opacity: .85 !important;
    }
</style>