<template>
    <div>
        <!-- Recent Blog Posts -->
        <div v-if="featuredPosts.length > 0" class="section white padding-top-0 padding-bottom-60 full-width-carousel-fix">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="blog-carousel">

                            <a v-for="item in featuredPosts" :key="item.id" :href="`/blog/${item.slug}`" class="blog-compact-item-container">
                                <div class="blog-compact-item">
                                    <img v-if="item.avatar" :src="item.avatar" alt="">
                                    <img v-else src="/images/blog-04a.jpg" alt="">
                                    <span class="blog-item-tag">{{item.tag.name}}</span>
                                    <div class="blog-compact-item-content">
                                        <ul class="blog-post-tags">
                                            <li>{{item.posted_on}}</li>
                                        </ul>
                                        <h3>{{item.title}}</h3>
                                        <p v-html="item.short_cut"></p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Recent Blog Posts / End -->


        <!-- Section -->
        <div class="section gray">
            <div class="container">
                <div class="row">
                    <div v-if="recentPosts.data.length > 0" class="col-xl-8 col-lg-8">

                        <!-- Section Headline -->
                        <div class="section-headline margin-top-60 margin-bottom-35">
                            <h4>Recent Posts</h4>
                        </div>

                        <!-- Blog Post -->
                        <a v-for="item in recentPosts.data" :href="`/blog/${item.slug}`" class="blog-post">
                            <!-- Blog Post Thumbnail -->
                            <div class="blog-post-thumbnail">
                                <div class="blog-post-thumbnail-inner">
                                    <span class="blog-item-tag">{{item.tag.name}}</span>
                                    <img v-if="item.avatar" :src="item.avatar" alt="">
                                    <img v-else src="/images/blog-01a.jpg" alt="">
                                </div>
                            </div>
                            <!-- Blog Post Content -->
                            <div class="blog-post-content">
                                <span class="blog-post-date">{{item.posted_on}}</span>
                                <h3>{{item.title}}</h3>
                                <p v-html="item.short_cut"> </p>
                            </div>
                            <!-- Icon -->
                            <div class="entry-icon"></div>
                        </a>

                        <!-- Pagination -->
                        <div class="clearfix"></div>
                        <template v-if="recentPosts.total">
                            <div v-if="recentPosts.total > 1" class="row">
                                <div class="col-md-12">
                                    <!-- Pagination -->
                                    <div class="pagination-container margin-top-10 margin-bottom-20">
                                        <nav class="pagination">
                                            <ul>
                                                <li @click.prevent="fetchPosts(recentPosts.current_page - 1)" v-if="recentPosts.prev_page_url" class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                                                <li @click.prevent="fetchPosts(item)" v-for="item in recentPosts.last_page"><a :class="{'current-page':recentPosts.current_page === item}" href="#" class="ripple-effect">{{item}}</a></li>
                                                <li @click.prevent="fetchPosts(recentPosts.current_page + 1)" v-if="recentPosts.next_page_url" class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <!-- Pagination / End -->

                    </div>
                        <div v-else class="col-xl-8 col-lg-8">
                            <div class="oops text-center">
                                <img src="/images/oops.PNG" alt="">
                                <h2>Please No Posts Found!</h2>
                            </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 content-left-offset">
                        <div class="sidebar-container margin-top-65">

                            <!-- Location -->
                            <div class="sidebar-widget margin-bottom-40">
                                <div class="input-with-icon">
                                    <input id="autocomplete-input" type="text" placeholder="Search">
                                    <i class="icon-material-outline-search"></i>
                                </div>
                            </div>

                            <!-- Widget -->
                            <div class="sidebar-widget">

                                <h3>Trending Posts</h3>
                                <ul class="widget-tabs">

                                    <!-- Post #1 -->
                                    <li>
                                        <a href="pages-blog-post.html" class="widget-content active">
                                            <img src="images/blog-02a.jpg" alt="">
                                            <div class="widget-text">
                                                <h5>How to "Woo" a Recruiter and Land Your Dream Job</h5>
                                                <span>29 June 2018</span>
                                            </div>
                                        </a>
                                    </li>

                                    <!-- Post #2 -->
                                    <li>
                                        <a href="pages-blog-post.html" class="widget-content">
                                            <img src="images/blog-07a.jpg" alt="">
                                            <div class="widget-text">
                                                <h5>What It Really Takes to Make $100k Before You Turn 30</h5>
                                                <span>3 June 2018</span>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- Post #3 -->
                                    <li>
                                        <a href="pages-blog-post.html" class="widget-content">
                                            <img src="images/blog-04a.jpg" alt="">
                                            <div class="widget-text">
                                                <h5>5 Myths That Prevent Job Seekers from Overcoming Failure</h5>
                                                <span>5 June 2018</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <!-- Widget / End-->


                            <!-- Widget -->
                            <div class="sidebar-widget">
                                <h3>Social Profiles</h3>
                                <div class="freelancer-socials margin-top-25">
                                    <ul>
                                        <li><a href="#" title="Dribbble" data-tippy-placement="top"><i class="icon-brand-dribbble"></i></a></li>
                                        <li><a href="#" title="Twitter" data-tippy-placement="top"><i class="icon-brand-twitter"></i></a></li>
                                        <li><a href="#" title="Behance" data-tippy-placement="top"><i class="icon-brand-behance"></i></a></li>
                                        <li><a href="#" title="GitHub" data-tippy-placement="top"><i class="icon-brand-github"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Widget -->
                            <div class="sidebar-widget">
                                <h3>Tags</h3>
                                <div class="task-tags">
                                    <a @click.prevent="clickTag" v-for="item in tags" href="#"><span>{{item.name | toLowerCase}}</span></a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <!-- Spacer -->
            <div class="padding-top-40"></div>
            <!-- Spacer -->

        </div>
    </div>
</template>

<script>
    export default {
        name: "index",
        props:['featured','tag'],
        data(){
            return{
                recentPosts:{
                    data:[]
                },
                featuredPosts:[],
                tags:[]
            }
        },
        methods:{
            fetchPosts(id){
                axios.get(`${this.recentPosts.path}?page=${id}`)
                    .then(resp=>{
                        this.recentPosts = resp.data;
                    })
                    .catch(error=>{})
            },
            getRecentPosts(){
                axios.get('/blog/fetch-recents')
                    .then(resp=>{
                        this.recentPosts = resp.data;
                    })
                    .catch(error=>{})
            },
            clickTag(){}
        },
        filters:{
          toLowerCase(value){
              return value.toString().toLowerCase()
          }
        },
        mounted(){
            this.featuredPosts = JSON.parse(this.featured);
            this.tags = JSON.parse(this.tag)
        },
        created(){
            this.getRecentPosts();
        }
    }
</script>

<style scoped>
    .task-tags a{
        margin: 1.5px;
    }
    .oops{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .oops img{
        max-width: 300px;
        padding: 20px;
        border-radius: 5%;
        cursor: pointer;
        transition: .5s;
    }
    .oops img:hover{
        transform: scale(1.1);
    }
    .oops h2{
        color: #cb135f;
        font-weight: bolder;
        cursor: pointer;
        transition: transform .5s;
    }
    .oops h2:hover{
        transform: scale(1.3);
    }
</style>