<template>
       <div class="row">

            <!-- Dashboard Box -->
            <div class="col-xl-12">
                <div class="dashboard-box margin-top-0">

                    <!-- Headline -->
                    <div class="headline">
                        <h3><i class="icon-material-outline-gavel"></i> Bids List</h3>
                    </div>

                    <div class="content">
                        <ul class="dashboard-box-list">
                            <li v-for="application in application">
                                <!-- Job Listing -->
                                <div class="job-listing width-adjustment">

                                    <!-- Job Listing Details -->
                                    <div class="job-listing-details">

                                        <!-- Details -->
                                        <div class="job-listing-description">
                                            <h3 class="job-listing-title"><a href="#">{{application.id}}</a></h3>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Task Details -->
                                <ul class="dashboard-task-info">
                                    <li><strong>gh${{application.rate}}</strong><span>Hourly Rate</span></li>
                                    <li><strong>{{application.delivery_time}}</strong><span>Delivery Time</span></li>
                                </ul>

                                <!-- Buttons -->
                                <div class="buttons-to-right always-visible">
                                    <a href="#small-dialog" class="popup-with-zoom-anim button dark ripple-effect ico" title="Edit Bid" data-tippy-placement="top"><i class="icon-feather-edit"></i></a>
                                    <a href="#" class="button red ripple-effect ico" title="Cancel Bid" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
                                </div>
                            </li>       
                        </ul>
                    </div>
                </div>
            </div>

        </div>
</template>
<script>
    export default {
        name: "project_application",
        props:['application'],
        data(){
            return{
                application:[]
                            }
        },
        /*methods:{
            attemptApply(){
                axios.post('/project/apply',{
                id:this.formattedJob.id,
                user_id:this.formattedJob.user_id,
                duration_type:this.duration_type,
                duration_number:this.duration_number,
                rate:this.rate
                })
                    .then(resp=>{
                        Snackbar.show(
                            {
                                text: 'Application sent Successfully',
                                pos:'top-center',
                                showAction:true,
                                backgroundColor:'#0f9b1f',
                                actionTextColor:'#ffffff',
                                actionText:'Dismiss',
                                duration:3000
                            }
                        );
                    }).catch(error=>{
                    Snackbar.show(
                        {
                            text: 'You have applied for this job already',
                            pos:'top-center',
                            showAction:true,
                            backgroundColor:'#c93028',
                            actionTextColor:'#ffffff',
                            actionText:'Dismiss',
                            duration:0
                        }
                    );
                })
            }
        },*/
      mounted(){
            
                this.application = JSON.parse(this.application)
           
        },

    }
</script>

<style scoped>

</style>