<template>

    <div class="bidding-widget">
						<div class="bidding-headline"><h3>Bid on this job!</h3></div>
						<div class="bidding-inner">

							<!-- Headline -->
							<span class="bidding-detail">Set your <strong>minimal rate</strong></span>

							<!-- Price Slider -->
							<div class="bidding-value">$<span id="biddingVal"></span></div>
							<input id="salary_slider" class="bidding-slider" type="text" data-slider-handle="custom" data-slider-currency="GHS" :data-slider-min="formattedJob.min_budget" :data-slider-max="formattedJob.max_budget" :data-slider-value="rate" data-slider-step="5" data-slider-tooltip="hide" />
                            
							<!-- Headline -->
							<span class="bidding-detail margin-top-30">Set your <strong>delivery time</strong></span>

							<!-- Fields -->
							<div class="bidding-fields">
								<div class="bidding-field">
									<!-- Quantity Buttons -->
									<div class="qtyButtons">
										
										<input type="number" v-model="duration_number" >
										
									</div>
								</div>
								<div class="bidding-field">
									<select class="selectpicker default" v-model="duration_type">
										<option selected>Hours(s)</option>
                                        <option selected>Day(s)</option>
                                        <option selected>Week(s)</option>
                                        <option selected>Month(s)</option>
                                        <option selected>Year(s)</option>
									</select>
								</div>
							</div>

							<!-- Button -->
                            <a id="snackbar-place-bid" @click.prevent="attemptApply" class="apply-now-button button ripple-effect move-on-hover full-width margin-top-30" style="color:white">Apply Now <i class="icon-material-outline-arrow-right-alt"></i></a>
						</div>
					</div>

</template>

<script>
    export default {
        name: "apply",
        props:['project'],
        data(){
            return{
                rate:"",
                duration_type:"Hour(s)",
                duration_number:1,
                project:[]
                            }
        },
        methods:{
            attemptApply(){
                axios.post('/project/apply',{
                id:this.formattedJob.id,
                user_id:this.formattedJob.user_id,
                duration_type:this.duration_type,
                duration_number:this.duration_number,
                rate:$('#salary_slider').val()
                })
                    .then(resp=>{
                        Snackbar.show(
                            {
                                text: 'Application sent Successfully',
                                pos:'top-center',
                                showAction:true,
                                backgroundColor:'#0f9b1f',
                                actionTextColor:'#ffffff',
                                actionText:'Dismiss',
                                duration:3000
                            }
                        );
                    }).catch(error=>{
                    Snackbar.show(
                        {
                            text: 'You have applied for this job already',
                            pos:'top-center',
                            showAction:true,
                            backgroundColor:'#c93028',
                            actionTextColor:'#ffffff',
                            actionText:'Dismiss',
                            duration:0
                        }
                    );
                })
            }
        },
        computed:{
            formattedJob(){
                return JSON.parse(this.project)
            }
        },

    }
</script>

<style scoped>

</style>
