<template>
    <div class="full-page-container">

        <div class="full-page-sidebar">
            <div class="full-page-sidebar-inner" data-simplebar>
                <div class="sidebar-container">

                    <!-- Location -->
                    <div class="sidebar-widget">
                        <h3>Location</h3>
                        <div class="input-with-icon">
                            <div id="autocomplete-container">
                                <input id="autocomplete-input" v-model="location" type="text" placeholder="Location">
                            </div>
                            <i class="icon-material-outline-location-on"></i>
                        </div>
                    </div>


                    <!-- Keywords -->
                    <div class="sidebar-widget">
                        <h3>Keywords</h3>
                        <div class="keywords-container">
                            <div class="keyword-input-container">
                                <input v-model="keyword" type="text" class="keyword-input" placeholder="e.g. job title"/>
                                <button @click.prevent="addKeyword" class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
                            </div>
                            <div class="keywords-list custom-tag-height">
                                <span v-for="(item,key) in keywords" class="keyword"><span class="keyword-remove" @click="removeKeyword(key)"></span><span class="keyword-text">{{item}}</span></span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <!-- Category -->
                    <div class="sidebar-widget">
                        <h3>Category</h3>
                        <select v-model="category" class="selectpicker default" multiple data-selected-text-format="count" data-size="7" title="All Categories" >
                            <option v-for="cat in jobcategory" :value="cat.id">{{cat.name}}</option>
                        </select>
                    </div>    

                    <!-- Salary -->
                    <div class="sidebar-widget">
                        <h3>Salary</h3>
                        <div class="margin-top-55"></div>

                        <!-- Range Slider -->
                        <input id="salary_slider" class="range-slider" type="text"  data-slider-currency="GHS" data-slider-min="10" data-slider-max="1500" data-slider-step="10" data-slider-value="[10,1500]"/>
                    </div>

                </div>
                <!-- Sidebar Container / End -->

                <!-- Search Button -->
                <div class="sidebar-search-button-container">
                    <button @click.prevent="find" class="button ripple-effect">Search</button>
                </div>
                <!-- Search Button / End-->

            </div>
        </div>
        <!-- Full Page Sidebar / End -->

        <!-- Full Page Content -->
        <div class="full-page-content-container" content-left-offset>
            <div class="full-page-content-inner ">

                <h3 class="page-title">Search Results</h3>
                <div class="notify-box margin-top-15">
                    <div class="switch-container">
                        <label class="switch"><input type="checkbox"><span class="switch-button"></span><span class="switch-text">Turn on email alerts for this search</span></label>
                    </div>

                    <div class="sort-by">
                        <span>Sort by:</span>
                        <select class="selectpicker hide-tick">
                            <option>Relevance</option>
                            <option>Newest</option>
                            <option>Oldests</option>
                            <option>Random</option>
                        </select>
                    </div>
                </div>

                <div class="listings-container grid-layout margin-top-35">

                    <!-- Job Listing -->
                    

                  <a v-for="item in projects" :href="'/project/'+item.id+'/apply'" class="task-listing" style="width:95%">

					<!-- Job Listing Details -->
					<div  class="task-listing-details">

						<!-- Details -->
						<div class="task-listing-description">
                            
							<h3 class="task-listing-title">{{item.name}}</h3>
							<ul class="task-icons">
								<li><i class="icon-material-outline-location-on"></i>{{item.location}}</li>
								<li><i class="icon-material-outline-access-time"></i> 2 minutes ago</li>
							</ul>
							<p class="task-listing-text">{{item.description}}</p>
							<div class="task-tags">
								<span v-for="requirements in item.requirements">{{requirements.name}}</span>
								
							</div>
						</div>

					</div>

					<div class="task-listing-bid">
						<div class="task-listing-bid-inner">
							<div class="task-offers">
								<strong>${{item.min_budget}} - ${{item.max_budget}}</strong>
								<span>Fixed Price</span>
							</div>
							<span class="button button-sliding-icon ripple-effect">Bid Now <i class="icon-material-outline-arrow-right-alt"></i></span>
						</div>
					</div>
				</a>
                </div>

                <!-- Pagination -->
                <div class="clearfix"></div>
                <div class="pagination-container margin-top-20 margin-bottom-20">
                    <nav class="pagination">
                        <ul>
                            <li class="pagination-arrow">
                                <a @click.prevent="fetchData(pagination.prev_page_url)" class="ripple-effect" :class="[pagination.prev_page_url == null ? 'disabled':'']"><i class="icon-material-outline-keyboard-arrow-left"></i>
                                </a></li>
                            <li v-for="(key,value) in pagination.to"><a @click.prevent="fetchData(pagination.url+key)" class="ripple-effect" :class="[currentPage(key)?page:'']" >{{key}}</a></li>
                            <li class="pagination-arrow">
                                <a @click.prevent="fetchData(pagination.next_page_url)" class="ripple-effect" :class="[pagination.next_page_url == null ? 'disabled':'']"><i class="icon-material-outline-keyboard-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="clearfix"></div>
                <!-- Pagination / End -->

                <!-- Footer -->
                <div class="small-footer margin-top-15">
                    <div class="small-footer-copyrights">
                        © 2018 <strong>Hireo</strong>. All Rights Reserved.
                    </div>
                    <ul class="footer-social-links">
                        <li>
                            <a href="#" title="Facebook" data-tippy-placement="top">
                                <i class="icon-brand-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Twitter" data-tippy-placement="top">
                                <i class="icon-brand-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Google Plus" data-tippy-placement="top">
                                <i class="icon-brand-google-plus-g"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="LinkedIn" data-tippy-placement="top">
                                <i class="icon-brand-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- Footer / End -->

            </div>
        </div>
        <!-- Full Page Content / End -->

    </div>
</template>

<script>
    export default {
        name: "filter",
        props:['project','jobcategory'],
        data(){
            return {
                location:'',keyword:'',category:[],tags:[],
                salary:'',jsonall:[],pagination:{},page:'current-page',
                keywords:[],projects:[],jobcategory:[]

            }
        },
        methods:{
            find(){
                axios.post('/find-projects/filter',{
                    location:this.location,category:this.category,salary:$('#salary_slider').val(),
                    full_time:this.full_time,intership:this.intership,part_time:this.part_time,
                    temporary:this.temporary,title:this.keywords
                })
                    .then(resp=>{
                        this.pagination.current_page = resp.data.current_page
                        this.pagination.last_page = resp.data.last_page
                        this.pagination.from = resp.data.from
                        this.pagination.to = resp.data.last_page
                        this.pagination.url = '/find-projects/filter?page='
                        this.pagination.next_page_url = resp.data.next_page_url
                        this.pagination.prev_page_url = resp.data.prev_page_url
                        this.projects = resp.data.data
                    })
            },
            fetchData(url){
                axios.post(url)
                    .then(resp=>{
                        this.pagination.current_page = resp.data.current_page
                        this.pagination.last_page = resp.data.last_page
                        this.pagination.from = resp.data.from
                        this.pagination.to = resp.data.last_page
                        this.pagination.next_page_url = resp.data.next_page_url
                        this.pagination.prev_page_url = resp.data.prev_page_url
                        this.projects = resp.data.data
                    })
            },
            slideVal(){
                alert('hello')
            },
            currentPage(key){
                if(this.pagination.current_page === key)
                    return true;
                return false;
            },
            addKeyword(){
                if(this.keyword != null){
                    this.keywords.push(this.keyword);
                    this.keyword = null;
                    var under = $('.custom-tag-height');
                    var heightnow = $(under).height();
                    var heightfull = $(under).css({'max-height':'auto', 'height':'auto'}).height();
                    $(under).css({ 'height' : heightnow }).animate({ 'height': heightfull }, 200);
                }
            },
            removeKeyword(key){
                this.keywords.splice(key,1)
                $('.custom-tag-height').css({'height':'auto'}).height();
            },
        },
        mounted(){
            //this.works = JSON.parse(this.jobs)
            axios.get('/endpoint/jobs')
                .then(resp=>{
                    this.pagination.current_page = resp.data.current_page
                    this.pagination.last_page = resp.data.last_page
                    this.pagination.from = resp.data.from
                    this.pagination.to = resp.data.last_page
                    this.pagination.url = '/endpoint/jobs?page='
                    this.pagination.next_page_url = resp.data.next_page_url
                    this.pagination.prev_page_url = resp.data.prev_page_url
                    this.works = resp.data.data
                });
                this.projects = JSON.parse(this.project)
                this.jobcategory = JSON.parse(this.jobcategory)

        },
        filters:{
            changeDateHuman(value){
                return moment(value).fromNow();
            }
        }
    }
</script>

<style scoped>
a.disabled{
    pointer-events: none;
}
</style>