<template>
      <div class="content">
                        <ul class="dashboard-box-list">
                            <li v-for="project in project">
                                <!-- Overview -->
                                <div class="freelancer-overview manage-candidates">
                                    <div class="freelancer-overview-inner">

                                        <!-- Avatar -->
                                        <div class="freelancer-avatar">
                                            <div class="verified-badge"></div>
                                            <a href="#"><img src="/images/user-avatar-placeholder.png" alt=""></a>
                                        </div>

                                        <!-- Name -->
                                        <div class="freelancer-name">
                                            <h4><a href="#">{{project.user.firstname}} {{project.user.lastname}} <img class="flag" src="images/flags/de.svg" alt="" title="Germany" data-tippy-placement="top"></a></h4>

                                            <!-- Details -->
                                            <span class="freelancer-detail-item"><a href="#"><i class="icon-feather-mail"></i> {{project.user.email}}</a></span>

                                            <!-- Rating -->
                                            <div class="freelancer-rating">
                                                <div class="star-rating" data-rating="5.0"></div>
                                            </div>

                                            <!-- Bid Details -->
                                            <ul class="dashboard-task-info bid-info">
                                                <li><strong>GHS {{project.rate}}</strong><span>Fixed Price</span></li>
                                                <li><strong>{{project.delivery_time}}</strong><span>Delivery Time</span></li>
                                            </ul>

                                            <!-- Buttons -->
                                            <div class="buttons-to-right always-visible margin-top-25 margin-bottom-0">
                                                <a href="#small-dialog-1" @click.prevent="getid(project.id)"  class="popup-with-zoom-anim button ripple-effect"><i class="icon-material-outline-check"></i> Accept Offer</a>
                                                <a href="#small-dialog-2" class="popup-with-zoom-anim button dark ripple-effect"><i class="icon-feather-mail"></i> Send Message</a>
                                                <a href="#" class="button gray ripple-effect ico" title="Remove Bid" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>


 <div id="small-dialog-1" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#tab1">Accept Offer</a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab">
				
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Accept Offer From David</h3>
					
				</div>

				<form id="terms">
					<div class="radio">
						<input id="radio-1" name="radio" type="radio" required>
						<label for="radio-1"><span class="radio-label"></span>  I have read and agree to the Terms and Conditions</label>
					</div>
				</form>

				<!-- Button -->
				<button @click.prevent="attemptApply" class="margin-top-15 button full-width button-sliding-icon ripple-effect acceptbid" value=''  form="terms">Accept <i class="icon-material-outline-arrow-right-alt"></i></button>

			</div>

		</div>
	</div>
</div>
    </div>
               
            

    
</template>

<script>

export default {
    name : 'bidders',
    props : ['project'],
     data(){
          return{
             project:[]
          }
      },

  methods:{

            getid(id){
                $('.acceptbid').attr('value',id)
            },
            attemptApply(){
                var id = $('.acceptbid').val()
                axios.post('/project/accept/application',{
                id
                })
                    .then(resp=>{
                        Snackbar.show(
                            {
                                text: 'Application sent Successfully',
                                pos:'top-center',
                                showAction:true,
                                backgroundColor:'#0f9b1f',
                                actionTextColor:'#ffffff',
                                actionText:'Dismiss',
                                duration:3000
                            }
                        );
                    }).catch(error=>{
                    Snackbar.show(
                        {
                            text: 'You have applied for this job already',
                            pos:'top-center',
                            showAction:true,
                            backgroundColor:'#c93028',
                            actionTextColor:'#ffffff',
                            actionText:'Dismiss',
                            duration:0
                        }
                    );
                })
            }
        },
      
mounted(){
            
                this.project = JSON.parse(this.project)
         
        }


}
</script>

<style>

</style>

