<template>
      <div class="row">

            <!-- Dashboard Box -->
            <div class="col-xl-12">
                <div class="dashboard-box margin-top-0">

                    <!-- Headline -->
                    <div class="headline">
                        <h3><i class="icon-material-outline-assignment"></i> My Tasks</h3>
                    </div>

                    <div class="content">
                        <ul class="dashboard-box-list">
                            <li v-for="project in project">
                                <!-- Job Listing -->
                                <div class="job-listing width-adjustment">

                                    <!-- Job Listing Details -->
                                    <div class="job-listing-details">

                                        <!-- Details -->
                                        <div class="job-listing-description">
                                            <h3 class="job-listing-title"><a href="#">{{project.name}}</a> <span class="dashboard-status-button yellow">Expiring</span></h3>

                                            <!-- Job Listing Footer -->
                                            <div class="job-listing-footer">
                                                <ul>
                                                    <li><i class="icon-material-outline-access-time"></i>Expires on {{project.expiry|changeDateFormat}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Task Details -->
                                <ul class="dashboard-task-info">
                                    <li><strong>{{project.applications.length}}</strong><span>Bids</span></li>
                                    <li><strong>GHS{{project.min_budget}} - GHS{{project.max_budget}}</strong><span>{{project.budget_type}}</span></li>
                                </ul>

                                <!-- Buttons -->
                                <div class="buttons-to-right always-visible">
                                    <a :href="'/manage/'+project.id+'/bidders'" class="button ripple-effect"><i class="icon-material-outline-supervisor-account"></i> Manage Bidders <span class="button-info">{{project.applications.length}}</span></a>
                                    <a href="#" class="button gray ripple-effect ico" title="Edit" data-tippy-placement="top"><i class="icon-feather-edit"></i></a>
                                    <a href="#" class="button gray ripple-effect ico" title="Remove" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

    </div>
</template>

<script>

export default {
name:'managetask',
props:['project'],
      data(){
          return{
             project:[]
          }
      },


mounted(){
            
                this.project = JSON.parse(this.project)
         
        },

        filters:{
            changeDateFormat(value){
                return moment(value).format("dddd, MMMM Do YYYY");
            }
        }

}

</script>

<style>

</style>
