<template>
    <div class="row">

        <form action="" @submit.prevent="attemptPost">
            <!-- Dashboard Box -->
            <div class="col-xl-12">
                <div class="dashboard-box margin-top-0">

                    <!-- Headline -->
                    <div class="headline">
                        <h3><i class="icon-feather-folder-plus"></i> Project Submission Form</h3>
                    </div>

                    <div class="content with-padding padding-bottom-10">
                        <div class="row">
                            <!-- project name -->
                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Project</h5>
                                    <input type="text" v-model="name" class="with-border">
                                </div>
                            </div>

                            <!-- categories-->
                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Project category</h5>
                                    <select v-model="category" class="selectpicker with-border" data-size="7" title="Select Category" required>
                                        <option v-for="categories in categories" v-bind:value="categories.id">{{categories.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <!-- location-->
                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Location</h5>
                                    <div class="input-with-icon">
                                        <div id="autocomplete-container">
                                            <input v-model="location" id="autocomplete-input" class="with-border" type="text" placeholder="Type Address">
                                        </div>
                                        <i class="icon-material-outline-location-on"></i>
                                    </div>
                                </div>
                            </div>

                            <!-- expiry date-->
                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Expiry Date</h5>
                                    <input v-model="expiry_date" type="date" class="with-border" />
                                </div>
                            </div>

                            <!-- expiry date-->
                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Duration</h5>
                                  <div class="row bidding-fields">
                                    <div class="bidding-field">
									     <!-- Quantity Buttons -->
									  <div class="qtyButtons">
										<div class="qtyDec"></div>
										<input type="text" v-model="duration_number" value="1">
										<div class="qtyInc"></div>
									  </div>
								    </div>
                                        
                                    <div class="bidding-field">
									  <select v-model="duration_type" class="selectpicker default" required>
										<option selected>Hour(s)</option>
										<option>Day(s)</option>
                                        <option>Week(s)</option>
                                        <option>Month(s)</option>
                                        <option>Year(s)</option>
									  </select>
								    </div>
                                  </div>
                                    
                                </div>
                            </div>
 
                            
                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Requirements <span>(optional)</span>  <i class="help-icon" data-tippy-placement="right" title="Maximum of 10 tags"></i></h5>
                                    <div class="keywords-container">
                                        <div class="keyword-input-container">
                                            <input v-model="req" type="text" class="keyword-input with-border" placeholder="e.g. job title, responsibilites"/>
                                            <button @click.prevent="addRequirement" class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
                                        </div>
                                        <div class="keywords-list custom-require-height" >
                                            <span v-for="(item,key) in requirements" class="keyword"><span class="keyword-remove" @click="removeRequirement(key)"></span><span class="keyword-text">{{item}}</span></span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                            </div>
                        

                            <!-- budget-->
                            <div class="col-xl-6">
                                <div class="submit-field">
                                    <h5>What is your estimated budget?</h5>
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="input-with-icon">
                                                <input class="with-border" v-model="min_budget" type="text" placeholder="Minimum">
                                                <i class="currency">GHS</i>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="input-with-icon">
                                                <input class="with-border" type="text" v-model="max_budget" placeholder="Maximum">
                                                <i class="currency">GHS</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="feedback-yes-no margin-top-0">
                                        <div class="radio">
                                            <input id="radio-1" name="radio" v-model="budget_type" type="radio" value="Fixed Price" checked>
                                            <label for="radio-1"><span class="radio-label"></span> Fixed Price Project</label>
                                        </div>

                                        <div class="radio">
                                            <input id="radio-2" name="radio" v-model="budget_type" type="radio" value="Hourly Wage">
                                            <label for="radio-2"><span class="radio-label"></span> Hourly Project</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Files <span>(optional)</span>  <i class="help-icon" data-tippy-placement="right" title="Maximum of 10 tags"></i></h5>
                                    <div class="keywords-container">
                                        <div class="keyword-input-container">
                                            <input type="file" ref='files' v-on:change="handleFilesUploads()" class="keyword-input with-border"/>
                                           <!-- <button @click.prevent="addFiles()" class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button> -->
                                        </div>
                                     <!--   <div class="keywords-list custom-require-height" >
                                            <span v-for="(item,key) in files" class="keyword"><span class="keyword-remove" @click="removeRequirement(key)"></span><span class="keyword-text">{{item}}</span></span>
                                        </div> -->
                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                            </div>

                            <!--description-->

                            <div class="col-xl-12">
                                <div class="submit-field">
                                    <h5>Project Description</h5>
                                    <textarea v-model="description" cols="30" rows="5" class="with-border"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-12">
                <button class="button custom-submit-button ripple-effect big margin-top-30"><i class="icon-feather-plus"></i> Post a Project</button>
            </div>
        </form>

    </div>
</template>


<script>
    export default {
        name: "post_project",
        props:['categories'],
        data(){
            return{
                name:'',category:'',location:'',min_budget:'',max_budget:'',budget_type:"",duration_type:"",duration_number:"",
                requirements:[],description:'',req:null,loading:false,expiry_date:'',files:''

            }
        },

        mounted(){
            
                this.categories = JSON.parse(this.categories)
         
        },

        methods:{
            handleFilesUploads(){
  this.files = this.$refs.files.files
},
            addTag(){
                if(this.tag != null){
                    if(this.tags.length < 1){
                        this.tags.push(this.tag);
                    }else {
                        if(this.tags.indexOf(this.tag) === -1)
                            this.tags.push(this.tag)
                    }

                    var under = $('.custom-tag-height');
                    var heightnow = $(under).height();
                    var heightfull = $(under).css({'max-height':'auto', 'height':'auto'}).height();
                    $(under).css({ 'height' : heightnow }).animate({ 'height': heightfull }, 200);
                }
                this.tag = null
            },
            addRequirement(e){
                //console.log(e)
                if(this.req != null){
                    if(this.requirements.length < 1){
                        this.requirements.push(this.req);
                    }else {
                        if(this.requirements.indexOf(this.req) === -1){
                            this.requirements.push(this.req)
                        }
                    }
                    var under = $('.custom-require-height');
                    var heightnow = $(under).height();
                    var heightfull = $(under).css({'max-height':'auto', 'height':'auto'}).height();
                    $(under).css({ 'height' : heightnow }).animate({ 'height': heightfull }, 200);
                }
                this.req = null
            },
            /* addFiles(){
                //console.log(e)
                if(this.file != null){
                    if(this.files.length < 1){
                        this.files.push(this.file);
                    }else {
                        if(this.files.indexOf(this.file) === -1){
                            this.files.push(this.file)
                        }
                    }
                    var under = $('.custom-require-height');
                    var heightnow = $(under).height();
                    var heightfull = $(under).css({'max-height':'auto', 'height':'auto'}).height();
                    $(under).css({ 'height' : heightnow }).animate({ 'height': heightfull }, 200);
                }
                
             },*/
            removeRequirement(key){
                this.requirements.splice(key,1);
                $('.custom-require-height').css({'height':'auto'}).height();
            },
            removeTag(key){
                this.tags.splice(key,1)
                $('.custom-tag-height').css({'height':'auto'}).height();
            },
            
            attemptPost(){
                var link = $('.custom-submit-button');
                var icon = $('.custom-submit-button i');
                link.addClass('disable');
                icon.removeClass('icon-feather-plus').addClass('loading').addClass('icon-feather-loader');

                this.formData = new FormData();
                if(this.files != null)
                    this.formData.append('files', this.files);
                this.formData.append('name',this.name);
                this.formData.append('duration_type',this.duration_type);
                this.formData.append('expiry_date',this.expiry_date);
                this.formData.append('requirements',this.requirements);
                this.formData.append('budget_type',this.budget_type);
                this.formData.append('location',this.location);
                this.formData.append('category',this.category);
                this.formData.append('description',this.description);
                this.formData.append('max_budget',this.max_budget);
                this.formData.append('min_budget',this.min_budget);
                this.formData.append('duration_number',this.duration_number);
                axios.post('/project',this.formData,{headers: {'Content-Type': 'multipart/form-data'}})
                    .then(resp=>{
                        link.removeClass('disable');
                        icon.addClass('icon-feather-plus').removeClass('loading').removeClass('icon-feather-loader');
                        Snackbar.show(
                            {
                                text: 'Post Saved Successfully',
                                pos:'top-center',
                                showAction:true,
                                backgroundColor:'#0f9b1f',
                                actionTextColor:'#ffffff',
                                actionText:'Dismiss',
                                duration:3000
                            }
                        );
                        this.name = null;this.category=null;this.description=null;this.duration_type=null;this.expiry_date=null;
                        this.min_budget=null;this.max_budget=null;this.location=null;this.duration_number=null;
                        this.requirements = null;
                        window.scrollTo(0,0);
                    })
                    .catch(error=>{
                        let keys = Object.keys(error.response.data.errors)
                        let item = keys[0]
                        let finalError = error.response.data.errors[item]
                        link.removeClass('disable');
                        icon.addClass('icon-feather-plus').removeClass('loading')
                            .removeClass('icon-feather-loader');
                        Snackbar.show(
                            {
                                text: finalError[0],
                                pos:'top-center',
                                showAction:true,
                                backgroundColor:'#c93028',
                                actionTextColor:'#ffffff',
                                actionText:'Dismiss',
                                duration:0
                        }
                        );
                    })
            }

        },

    }
</script>

<style scoped>
.disable{
    pointer-events: none;
    background-color: gray;
}
</style>
