<template>
    <div class="col-md-12">
        <div class="widget has-shadow">
            <div class="widget-header">
                Update Site Settings
            </div>
            <div class="widget-body">
                <form method="post" @submit.prevent="updateSiteSettings" autocomplete="off">
                    <div class="row d-flex ">
                        <div class="col-lg-6">
                            <div class="mt-5 mb-5 position-relative">
                                <div class="group material-input">
                                    <input v-model="siteSettings.contact" type="text" autocomplete="off">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Contact</label>
                                </div>
                            </div>
                            <div class="mt-5 mb-5 position-relative">
                                <div class="group material-input">
                                    <input v-model="siteSettings.alt_contact" type="text" autocomplete="off">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Alt Contact</label>
                                </div>
                            </div>
                            <div class="mt-5 mb-5 position-relative">
                                <div class="group ">
                                    <label class="form-control-label">Country</label>
                                    <select v-model="siteSettings.country_id" class="form-control custom-select" autocomplete="off">
                                        <option  v-for="item in $store.state.countries" :value="item.id">
                                            {{item.name}}
                                        </option>
                                    </select>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                </div>
                            </div>
                            <div class="mt-5 mb-5 position-relative">
                                <div class="group ">
                                    <label class="form-control-label">State</label>
                                    <select name="" v-model="siteSettings.state_id" class="form-control custom-select" autocomplete="off">
                                        <option v-for="item in $store.state.states" :value="item.id">
                                            {{item.name}}
                                        </option>
                                    </select>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                </div>
                            </div>
                            <div class="mt-5 mb-5 position-relative">
                                <div class="group material-input">
                                    <input v-model="siteSettings.city" type="text" autocomplete="off">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>City</label>
                                </div>
                            </div>
                            <div class="mt-5 mb-5 position-relative">
                                <div class="group material-input">
                                    <input v-model="siteSettings.address" type="text" autocomplete="off">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Address</label>
                                </div>
                            </div>
                            <div class="mt-5 mb-5 position-relative">
                                <div class="group ">
                                    <label class="form-control-label">Currency</label>
                                    <select name="" v-model="siteSettings.currency"  class="form-control custom-select" autocomplete="off">
                                        <option v-for="item in $store.state.currencies" :value="item.symbol">
                                             {{item.code}} | {{item.symbol}}
                                        </option>
                                    </select>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mt-5 mb-5 position-relative">
                                <div class="group material-input">
                                    <input v-model="siteSettings.vat" type="text" autocomplete="off">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>VAT</label>
                                </div>
                            </div>
                            <div class="mt-5 mb-5 position-relative">
                                <div class="group material-input">
                                    <input v-model="siteSettings.discount" type="text" autocomplete="off">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Discount</label>
                                </div>
                            </div>
                            <div class="mt-5 mb-5 position-relative">
                                <div class="group material-input">
                                    <input v-model="siteSettings.sms_user_name" type="text" autocomplete="false">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>SMS User Name</label>
                                </div>
                            </div>
                            <div class="mt-5 mb-5 position-relative">
                                <div class="group material-input">
                                    <input v-model="siteSettings.sms_password" type="password" autocomplete="false">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>SMS Password</label>
                                </div>
                            </div>

                            <div class="mt-5 mb-5 position-relative">
                                <div class="group material-input">
                                    <input v-model="siteSettings.sms_display_name" type="text" autocomplete="off">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>SMS Display Name</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sign-btn text-right" style="margin-top: 20px">
                        <button type="submit"  class="btn btn-lg btn-gradient-01 ld-ext-right" :class="{'running':loading}" :disabled="loading">
                            Update
                            <div class="ld ld-ring ld-spin"></div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "site",
        props:['settings','countries','currencies'],
        data() {
            return {
                siteSettings: {},loading:false,
            }
        },
        methods:{
            updateSiteSettings(){
                this.loading = true;
                axios.post('/admin/settings/site',this.siteSettings)
                    .then(resp=>{
                        this.showAlert('Updated Successfully','success');
                        this.loading = false;
                    })
                    .catch(error=>{
                        this.showAlert('sorry an error occurred','error');
                        this.loading = false;
                    })
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            }
        },
        watch:{
            countryId:function (value) {
                axios.get('/admin/settings/country/'+value)
                    .then(resp=>{
                        this.$store.state.states = resp.data
                    })
                    .catch(error=>{
                        console.log(error.response)
                    })
            }
        },
        computed:{
            countryId:function () {
                return this.siteSettings.country_id;
            }
        },
        mounted(){
            this.$store.state.currencies = JSON.parse(this.currencies);
            this.$store.state.countries = JSON.parse(this.countries);
            this.siteSettings = JSON.parse(this.settings);
        }
    }
</script>

<style scoped>

</style>