<template>
    <ul class="dashboard-box-list">
        <li v-for="(item,index) in items">
            <!-- Overview -->
            <div class="freelancer-overview manage-candidates">
                <div class="freelancer-overview-inner">
                    <div class="freelancer-name">
                        <h4><a href="#">{{item.work.title}}
                        </a></h4>
                        <!-- Details -->
                        <span class="freelancer-detail-item"><a href="#"><i class="icon-feather-mail"></i> {{item.work.user.email}}</a></span>
                        <span class="freelancer-detail-item"><i class="icon-feather-phone"></i>{{item.contact}} </span>

                        <!-- Rating -->
                        <div class="buttons-to-right always-visible margin-top-10 margin-bottom-3">
                            <h5><span class="icon-material-outline-location-on"></span> {{item.location}}
                                <template v-if="!item.postpone">
                                    <span class="icon-material-outline-date-range"></span>  {{item.period}}
                                </template>
                                <template v-else>
                                    <template v-if="item.postpone.status !== 'accepted'">
                                        <span class="icon-material-outline-date-range"></span>  {{item.period}}
                                    </template>
                                    <template v-else>
                                        <span class="icon-material-outline-date-range"></span>  {{item.postpone.period}}
                                    </template>
                                </template>
                            </h5>
                        </div>

                        <!-- Buttons -->
                        <div class="buttons-to-right always-visible margin-top-25 margin-bottom-5">
                            <a :href="'/interviews/accept/'+item.id" class="button ripple-effect" title="Accept Invitation"
                               data-tippy-placement="top"><i class="icon-material-outline-check"></i> Accept</a>
                            <a :href="'/interviews/decline/'+item.id" class="button red ripple-effect" title="Cancel Invitation"
                               data-tippy-placement="top"><i class="icon-line-awesome-times"></i> Decline</a>
                            <a @click.prevent="toggleShow(item.id)" class="button gray ripple-effect" title="Choose another Time" data-tippy-placement="top">
                                <span class="icon-material-outline-access-time"></span>
                                Another Time
                            </a>

                            <a :href="/interviews/+item.id" v-if="item.attachment" class="button green ripple-effect" title="Download Attachment" data-tippy-placement="top">
                                <i class="icon-material-outline-save-alt"></i>
                                Attachment
                            </a>
                            <form :id="`postpone${item.id}`" action="" class="margin-top-10 hide-form" style="margin-left:-15px">
                                <div class="col-sm-6">
                                    <div  class="submit-field right">
                                        <h5 class="margin-bottom-5">Period</h5>
                                        <datetime  v-model="periods[index]" type="datetime"></datetime>
                                    </div>
                                </div>
                                <div class="col-xl-2">
                                    <button @click.prevent="postponeInvitation(item,index)" type="submit"
                                            class="button ripple-effect big" style="margin-top: -15px;" :class="{'running':loading}" :disabled="loading">
                                        <span v-if="!loading"> Send </span>
                                        <div v-else style="display:inline-block; margin-left:5px"  class="ld ld-ring ld-spin"></div>
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </li>
    </ul>
</template>

<script>
    export default {
        name: "interviews",
        props:['interviews'],
        data(){
            return{
                items:[],
                showtime:false,
                periods:[],
                loading:false
            }
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            toggleShow(id){
                $('#postpone'+id).toggleClass('hide-form')
            },
            acceptInvitation(){

            },
            postponeInvitation(item,index){
                if(this.periods[index].toString().length <= 0){
                    this.showAlert('Please select a period','error');
                }else{
                    this.loading = true;
                    let request ={};
                    request.work_id = item.work_id;
                    request.employee_id = item.user.id;
                    request.employer_id = item.work.user.id;
                    request.period = this.periods[index];
                    request.interview_id = item.id;
                    axios.post('/interviews/postpone',request)
                        .then(resp=>{
                            this.showAlert('Request sent successfully','success');
                            this.loading = false;
                        })
                        .catch(error=>{
                            if(error.response.status === 506){
                                this.showAlert('Invalid Interview Date','error');
                            }else if(error.response.status === 501){
                                this.showAlert('This request has already been sent','warning');
                            }
                            else{
                                this.showAlert('sorry an error occurred','error');
                            }
                            this.loading = false;
                        })
                }
            }

        },
        filters:{
            formatDate(date){
                return moment(date).format('MMMM Do YYYY, h:mm a');
            }
        },
        mounted(){
            this.items = JSON.parse(this.interviews)
        }
    }
</script>

<style scoped>
.hide-form{
    display: none;
}
    .el-date-picker{
        display: block;
    }
    .el-date-picker > span{
        display: none;
    }
.freelancer-name span{
    color: unset;
}
</style>