<template>

    <div class="row">

        <!-- Dashboard Box -->
        <div class="col-xl-12">
            <div class="dashboard-box margin-top-0">

                <!-- Headline -->
                <div class="headline">
                    <h3><i class="icon-material-outline-supervisor-account"></i>
                        {{requests.length}}  Requests(s) Pending</h3>
                </div>

                <div class="content">
                    <ul class="dashboard-box-list">
                        <li v-for="(item,index) in requests">
                            <!-- Overview -->
                            <div class="freelancer-overview manage-candidates">
                                <div class="freelancer-overview-inner">
                                    <div class="freelancer-name">
                                        <h4><a href="#">{{item.interview.work.title}}
                                        </a></h4>
                                        <br>
                                        <!-- Details -->
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <span class="freelancer-detail-item"><a href="#"><i class="icon-feather-user"></i> Employee</a></span>
                                            </div>
                                            <div class="col-sm-9">
                                                <strong>{{item.interview.user.name}}</strong>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <span class="freelancer-detail-item"><a href="#"><i class="icon-material-outline-email"></i> Email</a></span>
                                            </div>
                                            <div class="col-sm-9">
                                                <strong>{{item.interview.user.email}}</strong>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <span class="freelancer-detail-item"><a href="#"><i class="icon-feather-phone-call"></i> Tel</a></span>
                                            </div>
                                            <div class="col-sm-9">
                                                <strong>{{item.interview.user.profile.mobile}}</strong>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <span class="freelancer-detail-item"><i class="icon-material-outline-access-time"></i>Scheduled Period </span>
                                            </div>
                                            <div class="col-sm-9">
                                                <strong>{{item.interview.period}}</strong>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <span class="freelancer-detail-item"><i class="icon-material-outline-access-time"></i>Suggested Period </span>
                                            </div>
                                            <div class="col-sm-9">
                                                <strong>{{item.period}}</strong>
                                            </div>
                                        </div>
                                        <!-- Buttons -->
                                        <div class="buttons-to-right always-visible margin-top-25 margin-bottom-5">
                                            <a href="#" @click.prevent="accept(item.id,index)"  class="button ripple-effect" title="Accept Invitation"
                                                data-tippy-placement="top"><i class="icon-material-outline-check"></i> Accept</a>
                                            <a href="#" @click.prevent="decline(item.id,index)" class="button red ripple-effect" title="Cancel Invitation"
                                                data-tippy-placement="top"><i class="icon-line-awesome-times"></i> Decline</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "interviews",
        data(){
            return{
                requests:[]
            }
        },
        props:['postpones'],
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            accept(id,index){
                if(confirm('Are You sure?')){
                    axios.get('/interview-postpones/accept/'+id)
                        .then(resp=>{
                            this.requests.splice(index,1);
                            this.showAlert('request accepted successfully','success');
                        })
                        .catch(error=>{
                            this.showAlert('sorry an error occurred','error')
                        })
                }
            },
            decline(id,index){
                if(confirm('Are You sure?')) {
                    axios.get('/interview-postpones/decline/'+id)
                        .then(resp=>{
                            this.requests.splice(index,1);
                            this.showAlert('request declined successfully','success')
                        })
                        .catch(error=>{
                            this.showAlert('sorry an error occurred','error')
                        })
                }
            }
        },
        mounted(){
            this.requests = JSON.parse(this.postpones);
        }
    }
</script>

<style scoped>
</style>