<template>
    <div class="col-md-12">
        <div class="widget has-shadow">
            <div class="widget-header">
                Add Item Model
            </div>
            <div class="widget-body">
                <form method="post" @submit.prevent="attemptAdd">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="group material-input">
                                <input type="text" autofocus v-model="itemSub.name"  required autocomplete="off" placeholder="Model Name">
                                <span class="bar"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                                <v-select required v-model="itemSub.brand_id" placeholder="Select Item Brand"  label="name" :options="$store.state.brands"></v-select>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="group material-input" >
                                <select class="custom-select form-control" name="" id="">
                                    <option  v-for="item in $store.state.itemSubCategories" :value="item.id">{{item.item_sub_category.name}}</option>
                                </select>
                                <span class="bar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="sign-btn text-right" style="margin-top: 20px">
                        <button type="submit"  class="btn btn-lg btn-gradient-01 ld-ext-right" :class="{'running':loading}" :disabled="loading">
                            Add
                            <div class="ld ld-ring ld-spin"></div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import vSelect from 'vue-select';
    export default {
        name: "add",
        components:{
            vSelect
        },
        data(){
            return{
                loading:false,
                name:'',
                itemSub:{},
            }
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            attemptAdd(){
                this.loading = true;
                axios.post('/admin/models',this.itemSub)
                    .then(resp=>{
                        this.showAlert('Item added successfully','success');
                        this.itemSub.name = '';
                        this.$store.state.models.unshift(resp.data.data);
                        this.loading = false;
                    })
                    .catch(error=>{
                        if(error.response.status === 501){
                            this.showAlert(`duplicate entry from ${this.name}`,'error');
                        }else{
                            this.showAlert('sorry an error occurred','error');
                        }
                        this.loading = false;
                    })
            },
        },
        computed:{
            brand_id:function () {
                return this.itemSub.brand_id;
            }
        },
        watch:{
            brand_id:function (value) {
                axios.get(`/admin/models/categories/${value.id}`)
                    .then(resp=>{
                        this.$store.state.itemSubCategories = resp.data;
                    })
                    .catch(error=>{

                    })
            }
        }
    }
</script>

<style scoped>

</style>