<template>
    <div class="header-notifications">
        <div class="header-notifications-trigger">
            <a href="#"><i class="icon-feather-mail"></i><span>{{messages.length}}</span></a>
        </div>

        <!-- Dropdown -->
        <div class="header-notifications-dropdown">

            <div class="header-notifications-headline">
                <h4>Messages</h4>
                <button class="mark-as-read ripple-effect-dark" title="Mark all as read" data-tippy-placement="left">
                    <i class="icon-feather-check-square"></i>
                </button>
            </div>

            <div class="header-notifications-content">
                <div class="header-notifications-scroll" data-simplebar>
                    <ul>
                        <!-- Notification -->
                        <li v-if="messages.length > 0" v-for="item in messages" class="notifications-not-read">
                            <a href="/messages">
                                <span class="notification-avatar status-online"><img src="/images/user-avatar-small-03.jpg" alt=""></span>
                                <div class="notification-text">
                                    <strong>{{item.sender.name}}</strong>
                                    <br>
                                    <p class="notification-msg-text">{{item.chat}}</p>
                                    <br>
                                    <span class="color">{{item.posted_at}}</span>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

            <a href="/messages" class="header-notifications-button ripple-effect button-sliding-icon">View All Messages<i class="icon-material-outline-arrow-right-alt"></i></a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "messages",
        props:['user','message'],
        data(){
          return{
              messages:this.message
          }
        },
        mounted(){
            Echo.private(`messages.${this.user}`)
                .listen('MessageEvent', (e) => {
                    this.messages.unshift(e.message);
                    $('#realtime-messages').html(this.messages.length)

                });
        }
    }
</script>

<style scoped>

</style>