<template>
    <div class="header-notifications">

        <!-- Trigger -->
        <div class="header-notifications-trigger">
            <a href="#"><i class="icon-feather-bell"></i><span>{{unreads.length}}</span></a>
        </div>

        <!-- Dropdown -->
        <div class="header-notifications-dropdown">

            <div class="header-notifications-headline">
                <h4>Notifications</h4>
                <button v-if="unreads.length > 0" @click.prevent="markAllAsRead" class="mark-as-read ripple-effect-dark" data-tippy-placement="left" data-tippy="" data-original-title="Mark all as read">
                    <i class="icon-feather-check-square"></i>
                </button>
            </div>

            <div class="header-notifications-content">
                <div class="header-notifications-scroll" data-simplebar="init" style="height: 270px;"><div class="simplebar-track vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="visibility: visible; top: 0px; height: 192px;"></div></div><div class="simplebar-track horizontal" style="visibility: visible;"><div class="simplebar-scrollbar" style="visibility: visible; left: 0px; width: 25px;"></div></div><div class="simplebar-scroll-content" style="padding-right: 17px; margin-bottom: -34px;"><div class="simplebar-content" style="padding-bottom: 17px; margin-right: -17px;">
                    <ul>
                        <!-- Notification -->
                        <template v-if="unreads.length > 0" v-for="(noty,index) in unreads">
                            <li v-if="noty.type === 'App\\Notifications\\UpdateProfile'">
                                <a :href="noty.data.data.url">
                                    <span class="notification-icon"><i class="icon-material-outline-group"></i></span>
                                    <span class="notification-text">
										<strong>{{auth.firstname}} {{auth.lastname}}</strong> {{noty.data.message}}
                                    <span class="color"> {{noty.data.data.from}}</span>
                                </span>
                                </a>
                            </li>
                            <li v-if="noty.type === 'App\\Notifications\\JobApplication'" class="notifications-not-read">
                                <a :href="noty.data.job_url">
                                    <span class="notification-icon"><i class="icon-material-outline-business-center"></i></span>
                                    <span class="notification-text">
													<strong>{{noty.data.user}}</strong> applied for a job <span class="color">{{noty.data.job}}</span>
												</span>
                                </a>
                            </li>
                            <li v-if="noty.type === 'App\\Notifications\\InterviewNotification'" class="notifications-not-read">
                                <a href="#">
                                    <span class="notification-icon"><i class="icon-material-outline-thumb-up"></i></span>
                                    <span class="notification-text">
													<strong>You</strong> have an interview invite <span class="color"><!--{{noty.data.work}}--></span>
												</span>
                                </a>
                            </li>
                            <li v-if="noty.type === 'App\\Notifications\\AcceptInterview'" class="notifications-not-read">
                                <a href="#">
                                    <span class="notification-icon"><i class="icon-material-outline-group"></i></span>
                                    <span class="notification-text">
													<strong>{{noty.data.applicant}}</strong> accepted interview invitation for <span class="color">{{noty.data.job}}</span>
												</span>
                                </a>
                            </li>
                            <li v-if="noty.type === 'App\\Notifications\\SendContract'" class="notifications-not-read">
                                <a href="#">
                                    <span class="notification-icon"><i class="icon-material-outline-thumb-up"></i></span>
                                    <span class="notification-text">
													<strong>You</strong> have a pending contract <span class="color"><!--{{noty.data.work}}--></span>
												</span>
                                </a>
                            </li>
                            <li v-if="noty.type === 'App\\Notifications\\PostponeInterview\\PostponeStatus'" class="notifications-not-read">
                                <a :href="`/interviews/${noty.id}/${noty.id}`">
                                    <span class="notification-icon"><i class="icon-material-outline-bookmarks"></i></span>
                                    <span class="notification-text">
													<strong>You</strong> requested for interview rescheduling for the job <span class="color">{{noty.data.work}},
                                    <strong style="color: black"> it was {{noty.data.status}}.</strong>
                                </span>

												</span>
                                </a>
                            </li>
                            <li v-if="noty.type === 'App\\Notifications\\PostponeInterview\\RequestPostpone'" class="notifications-not-read">
                                <a href="#">
                                <span class="notification-text">
													<strong>{{noty.data.employee_name}}</strong> suggested a new interview time for the job <span class="color">{{noty.data.work}}</span><strong> {{noty.data.period}}</strong>
												</span>
                                </a>
                            </li>
                        </template>
                        <template v-if="unreads.length <= 0">
                            <li class="notifications-not-read">
                                <a href="#">
                                    <span class="notification-text">
													<strong>No New Notifications</strong>
                                    </span>
                                </a>
                            </li>
                        </template>


                    </ul>
                </div></div></div>
            </div>

        </div>

    </div>
</template>

<script>
    export default {
        name: "notifications",
        props:['unread','user'],
        data(){
            return{
                unreads:[]
            }
        },
        methods:{
            markAllAsRead(){
                axios.post('/mark-all-notifications',{})
                    .then(resp=>{
                        this.unreads = [];
                    })
                    .catch(error=>{})
            }
        },
        mounted(){
            this.unreads = this.unread;
            Echo.private('users.' + this.user)
                .notification((notification) => {
                    if(notification.type === 'App\\Notifications\\JobApplication'){
                        let noty = {
                            id:notification.id,
                            type:notification.type,
                            data:{
                                user:notification.user,
                                job:notification.job,
                                job_url:notification.job_url
                            }
                        };
                        this.unreads.unshift(noty);
                    }else if(notification.type === 'App\\Notifications\\InterviewNotification'){
                        let noty ={
                            id:notification.id,
                            type:notification.type,
                            data:{
                                interview_id:notification.interview_id
                            }
                        };
                        this.unreads.unshift(noty);
                    }else if(notification.type === 'App\\Notifications\\AcceptInterview'){//App\Notifications\AcceptInterview
                        let noty = {
                            id:notification.id,
                            type:notification.type,
                            data:{
                                applicant:notification.applicant,
                                job:notification.job,
                                applicant_id:notification.applicant_id
                            }
                        };
                        this.unreads.unshift(noty);
                    }else if(notification.type === 'App\\Notifications\\PostponeInterview\\PostponeStatus'){
                        let noty = {
                            id:notification.id,
                            type:notification.type,
                            data:{
                                status:notification.status,
                                work:notification.work,
                                work_id:notification.work_id
                            }
                        };
                        this.unreads.unshift(noty);
                    }else if(notification.type === 'App\\Notifications\\PostponeInterview\\RequestPostpone'){
                        let noty = {
                            id:notification.id,
                            type:notification.type,
                            data:{
                                employee_name:notification.employee_name,
                                employee_id:notification.employee_id,
                                period:notification.period,
                                work:notification.work,
                            }
                        };
                        this.unreads.unshift(noty);
                    }

                    /*this.unreads = JSON.parse(this.unread);
                    console.log('-------------------------')
                    console.log(this.unreads);*/
                });
        }
    }
</script>

<style scoped>

</style>