<template>
   <div>
       <form @submit.prevent="attempLogin">
           <div class="group material-input">
               <input autofocus v-model="email" type="email" required>
               <span class="highlight"></span>
               <span class="bar"></span>
               <label>Email</label>
           </div>
           <div class="button text-center">
               <button type="submit"  class="btn btn-lg btn-gradient-05 ld-ext-right" :class="{'running':loading}" :disabled="loading">
                   Reset Password
                   <span class="ld ld-ring ld-spin"></span>
               </button>
           </div>
       </form>

       <div class="back">
           <a href="" @click.prevent="back">Back</a>
       </div>
   </div>
</template>

<script>
    export default {
        name: "Reset",
        data(){
            return {
                email:'',
                success:false,
                loading:false

            }
        },
        methods:{
            back(){
                location.replace('/')
            },
            show(){
                this.success = false;
            },
            focus(){
                this.success = true;
            },
            emailIsValid()
            {
                if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.email))
                {
                    return (true)
                }else{
                    return false;
                }

            },
            attempLogin(){
                this.loading = true;
                axios.post('/password/email',{
                    email:this.email,
                }).then((resp)=>{
                    this.email = '';
                    if(resp.status == 200){
                        new Noty({
                            theme:'mint',
                            text: 'Email sent successfully',
                            layout:'topRight',
                            progressBar:true,
                            timeout:3000,
                            type:'success'

                        }).show();
                        this.loading = false;
                    }
                    if(resp.status == 400){
                        new Noty({
                            theme:'mint',
                            text: 'The email is incorrect',
                            layout:'topRight',
                            progressBar:true,
                            timeout:3000,
                            type:'warning'

                        }).show();
                        this.loading = false;
                    }

                }).catch((error)=>{
                    console.log(error.response)
                    if(error.response.status == 400){
                        new Noty({
                            theme:'mint',
                            text: 'The email is incorrect',
                            layout:'topRight',
                            progressBar:true,
                            timeout:3000,
                            type:'error'

                        }).show();
                    }
                    if(error.response.status == 422){
                        new Noty({
                            theme:'mint',
                            text: 'Please enter a valid email',
                            layout:'topRight',
                            progressBar:true,
                            timeout:3000,
                            type:'error'

                        }).show();
                    }
                    if(error.response.status == 500){
                        new Noty({
                            theme:'mint',
                            text: 'Sorry an error Occured',
                            layout:'topRight',
                            progressBar:true,
                            timeout:3000,
                            type:'error'

                        }).show();
                    }
                    this.loading = false;
                })
            }
        },
        computed:{
            validate(){
                return this.email && this.emailIsValid();
            },

        }
    }
</script>

<style scoped>

</style>