<template>
    <div class="row" id="settings_container">

        <form action="" @submit.prevent="attempUpdate">
            <!-- Dashboard Box -->
            <div class="col-xl-12">
                <div class="dashboard-box margin-top-0">
                    <!-- Headline -->
                    <div class="headline">
                        <h3><i class="icon-material-outline-account-circle"></i> My Account</h3>
                    </div>
                    <div class="content with-padding padding-bottom-0">
                        <div class="row">
                            <div class="col-auto">
                                <div class="avatar-wrapper" data-tippy-placement="bottom" title="Change Avatar">
                                    <img class="profile-pic" v-if="formattedUsers.profile.avatar == null" src="/images/user-avatar-placeholder.png" alt="" />
                                    <img class="profile-pic" v-else :src="'/avatars/profile/'+formattedUsers.profile.avatar" alt="" />
                                    <div class="upload-button"></div>
                                    <input class="file-upload" ref="avatarsfile" type="file" @change="changeImage" accept="image/*"/>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="submit-field">
                                            <h5>First Name</h5>
                                            <input type="text" class="with-border" v-model="firstname" required>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="submit-field">
                                            <h5>Last Name</h5>
                                            <input type="text" class="with-border" v-model="lastname" required>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="submit-field">
                                            <h5>Email</h5>
                                            <input type="email" class="with-border" v-model="email" required>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="submit-field">
                                            <h5>Mobile</h5>
                                            <input v-model="mobile" type="text" class="with-border" required>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="submit-field">
                                            <h5>Date Of Birth</h5>
                                            <datetime v-model="dob"></datetime>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <!-- Account Type -->
                                        <div class="submit-field">
                                            <h5>Gender</h5>
                                            <div class="account-type">
                                                <div>
                                                    <input type="radio" v-model="gender" value="M" name="gender-radio" id="male-radio" class="account-type-radio"/>
                                                    <label for="male-radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i> Male</label>
                                                </div>

                                                <div>
                                                    <input type="radio" v-model="gender" value="F" id="female-radio" name="gender-radio" class="account-type-radio"/>
                                                    <label for="female-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> Female</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="submit-field">
                                            <h5>Search Location</h5>
                                            <gmap-autocomplete
                                                    @place_changed="setPlace">
                                            </gmap-autocomplete>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="submit-field">
                                            <h5>My Location</h5>
                                            <input type="text" :value="location" class="with-border" disabled>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Dashboard Box -->
            <div class="col-xl-12" v-if="formattedUsers.status == 'employee'">
                <div class="dashboard-box">

                    <!-- Headline -->
                    <div class="headline">
                        <h3><i class="icon-material-outline-face"></i> My Profile</h3>
                    </div>

                    <div class="content">
                        <ul class="fields-ul">
                            <li>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="submit-field">
                                            <h5>Categories (Select Maximum of 5)</h5>
                                            <v-select id="categories" label="name" multiple v-model="selected_categories"  :options="all_categories">
                                            </v-select>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="submit-field">
                                            <h5>Introduce Yourself</h5>
                                            <textarea v-model="introduction" cols="30" rows="5" class="with-border">
                                            </textarea>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <div class="bidding-widget">
                                                <!-- Headline -->
                                                <span class="bidding-detail">Set your <strong>minimal hourly rate</strong></span>

                                                <!-- Slider -->
                                                <div class="bidding-value margin-bottom-10">$<span id="biddingVal"></span></div>
                                                <input id="slider-bid" class="bidding-slider" type="text"  data-slider-handle="custom" data-slider-currency="$" data-slider-min="0" data-slider-max="200" :data-slider-value="rate" data-slider-step="1" data-slider-tooltip="hide" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>Skills <i class="help-icon" data-tippy-placement="right" title="Add up to 10 skills"></i></h5>

                                            <!-- Skills List -->
                                            <div class="keywords-container">
                                                <div class="keyword-input-container">
                                                    <input type="text" v-model="skillInput" class="keyword-input with-border" placeholder="e.g. Angular, Laravel"/>
                                                    <button @click.prevent="addSkill" class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
                                                </div>
                                                <div class="keywords-list">
                                                    <span v-for="(item,index) in skills" class="keyword"><span class="keyword-remove" @click="removeSkill(item.id,index)"></span><span class="keyword-text">{{item.skill}}</span></span>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>Attachments</h5>

                                            <!-- Attachments -->
                                            <div class="attachments-container margin-top-0 margin-bottom-0">
                                                <div class="attachment-box ripple-effect" v-for="item in cvs">
                                                    <span>CV</span>
                                                    <i>PDF</i>
                                                    <button class="remove-attachment" data-tippy-placement="top" title="Remove"></button>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>

                                            <!-- Upload Button -->
                                            <div class="uploadButton margin-top-0">
                                                <input class="uploadButton-input" ref="file" type="file" @change="changeAttachment" accept="application/pdf" id="upload"/>
                                                <label class="uploadButton-button ripple-effect" for="upload">Upload Files</label>
                                                <span class="uploadButton-file-name">Maximum file size: 10 MB</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-12" v-else>
                <div class="dashboard-box">

                    <!-- Headline -->
                    <div class="headline">
                        <h3><i class="icon-material-outline-face"></i> Company Profile</h3>
                    </div>

                    <div class="content with-padding">
                        <div class="row">
                            <div class="col-auto">
                                <div class="avatar-wrapper" data-tippy-placement="bottom" title="Change Logo">
                                    <label for="logo-upload">
                                        <img v-if="logo_url" class="profile-pic" :src="logo_url" alt="" />
                                        <img v-else class="profile-pic" src="/images/user-avatar-placeholder.png" alt="" />
                                    </label>
                                    <input id="logo-upload" ref="logoFile" type="file" @change="changeLogo" style="visibility: hidden" accept="image/*"/>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="submit-field">
                                                        <h5>Name</h5>
                                                        <input type="text" class="with-border" v-model="companyProfile.name" required>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="submit-field">
                                                        <h5>Location</h5>
                                                        <input type="text" class="with-border" v-model="companyProfile.location"  required>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="submit-field">
                                                        <h5>Tag line</h5>
                                                        <input type="text" v-model="companyProfile.tag_line" class="with-border">
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="submit-field">
                                                        <h5>Expertise <i class="help-icon" data-tippy-placement="right" title="Add up to 10 skills"></i></h5>

                                                        <!-- Skills List -->
                                                        <div class="keywords-container">
                                                            <div class="keyword-input-container">
                                                                <input type="text"  class="keyword-input with-border" placeholder="e.g. Angular, Laravel"/>
                                                                <button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
                                                            </div>
                                                            <div class="keywords-list">
                                                                <span  class="keyword"><span class="keyword-remove"></span><span class="keyword-text">Hello</span></span>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12">
                                                    <div class="submit-field">
                                                        <h5>Introduce Your Company</h5>
                                                        <textarea v-model="companyProfile.description"  cols="30" rows="5" class="with-border">
                                            </textarea>
                                                    </div>
                                                </div>
                                            </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Dashboard Box -->
            <div class="col-xl-12">
                <div id="test1" class="dashboard-box">

                    <!-- Headline -->
                    <div class="headline">
                        <h3><i class="icon-material-outline-lock"></i> Password & Security</h3>
                    </div>

                    <div class="content with-padding">
                        <div class="row">
                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Current Password</h5>
                                    <input v-model="currentPass" type="password" class="with-border">
                                </div>
                            </div>

                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>New Password</h5>
                                    <input v-model="password" type="password" class="with-border">
                                </div>
                            </div>

                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Repeat New Password</h5>
                                    <input v-model="password_confirmation" type="password" class="with-border">
                                </div>
                            </div>

                            <div class="col-xl-12">
                                <div class="checkbox">
                                    <input type="checkbox" id="two-step" checked>
                                    <label for="two-step"><span class="checkbox-icon"></span> Enable Two-Step Verification via Email</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button -->
            <div class="col-xl-12">
                <button class="button ripple-effect big margin-top-30" :class="{'running':loading}" :disabled="loading">
                    <span v-if="!loading"> <i class="icon-feather-plus"></i> Save Changes</span>
                    <div v-else style="display:inline-block; margin-left:5px"  class="ld ld-ring ld-spin"></div>
                </button>
            </div>
        </form>

    </div>
</template>

<script>
    import VSelect from 'vue-select';
    export default {
        name: "settings",
        components:{
            VSelect
        },
        props:['user','categories','company'],
        data(){
            return{
                firstname:'',skills:[],companyDetail:[],
                lastname:'',logo:'',
                email:'',
                formData:{},
                status:'',
                mobile:'',skillInput:'',CV:'',avatar:'',
                location:'',
                gender:'',rate:'',dob:'',introduction:'',nationality:'',currentPass:'',password:'',
                password_confirmation:'',tags:'',all_categories:[],selected_categories : [],
                companyProfile:{},loading:false,cvs:[],vitae:'',currentPlace:null,address:[],center:{},
                logo_url:null

            }
        },
        methods:{
            setPlace(place) {
                this.currentPlace = place;
                if(this.currentPlace){
                    this.location = this.currentPlace.formatted_address;
                }
            },
             removeSkill(id,index){
                if(confirm('Are You sure about this action?')){
                    axios.delete('/skills/'+id)
                        .then(resp=>{
                            this.skills.splice(index,1);
                            this.showAlert('Skill Removed Successfully','success')
                        }).catch(error=>{
                        this.showAlert('sorry an error occurred','error');
                    })
                }
             },
            addSkill(){
                if(this.skillInput.length > 0){
                    axios.post('/skills',{
                        skill:this.skillInput
                    }).then(resp=>{
                        this.skills.push(resp.data);
                        this.showAlert('Skill Added Successfully','success');
                        this.skillInput = null;
                    })
                        .catch(error => {
                            if(error.response.status === 501){
                                this.showAlert(`duplicate entry for ${this.skillInput.toLowerCase()}`,'error')
                            }else{
                                this.showAlert('sorry an error occurred')
                            }
                        })
                }else{
                    this.showAlert('Please enter a skill','warning');
                }
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            changeAttachment(e){
                this.CV = this.$refs.file.files[0];
            },
            changeImage(){
                this.avatar = this.$refs.avatarsfile.files[0];
            },
            changeLogo(){
                this.logo = this.$refs.logoFile.files[0];
                this.logo_url = URL.createObjectURL(this.logo);
            },
            attempUpdate(){
                 this.loading = true;
                 //set up the location parameters
                let location = null;
                if (this.currentPlace) {
                    const marker = {
                        lat: this.currentPlace.geometry.location.lat(),
                        lng: this.currentPlace.geometry.location.lng()
                    };
                     this.address = this.currentPlace.address_components;
                     location = this.currentPlace.formatted_address;
                     this.center = marker;
                }

                ///continue
                let rate = $('#slider-bid').val();
                this.formData = new FormData();
                this.formData.append('file', this.CV);
                if(this.logo != null)
                    this.formData.append('logo', this.logo);
                this.formData.append('firstname',this.firstname);
                this.formData.append('lastname',this.lastname);
                this.formData.append('email',this.email);
                this.formData.append('status',this.status);
                this.formData.append('dob',this.dob);
                this.formData.append('company',JSON.stringify(this.companyProfile));
                this.formData.append('mobile',this.mobile);
                this.formData.append('gender',this.gender);
                this.formData.append('rate',rate != null ? rate : 0);
                if(this.currentPlace){
                    this.formData.append('location',location);
                    this.formData.append('address',JSON.stringify(this.address));
                    this.formData.append('center',JSON.stringify(this.center));
                }
                this.formData.append('introduction',this.introduction);
                this.formData.append('image',this.avatar);
                this.formData.append('nationality',this.nationality);
                this.formData.append('currentPass',this.currentPass);
                this.formData.append('password',this.password);
                this.formData.append('password_confirmation',this.password_confirmation);
                this.formData.append('categories',JSON.stringify(this.selected_categories));
                this.formData.append('tags',this.tags);
                axios.post('/profile',this.formData,{headers: {'Content-Type': 'multipart/form-data'}})
                    .then(resp=>{
                        this.loading = false
                        this.showAlert('Profile Updated Successfully','success');
                    this.formData = {}
                    //location.reload();
                    })
                    .catch(error=>{
                    let keys = Object.keys(error.response.data.errors)
                    let item = keys[0];
                    if(item == 'categories'){
                        let el = $('#categories input').focus();
                    }
                    let finalError = error.response.data.errors[item]
                    this.showAlert(finalError[0],'error')
                    this.loading = false;
                })
            },
        },
        computed:{
            formattedUsers(){
                return JSON.parse(this.user);
            },
        },
        mounted(){
            this.all_categories = JSON.parse(this.categories);
            this.selected_categories = this.formattedUsers.categories;
            this.firstname = this.formattedUsers.firstname;
            this.lastname = this.formattedUsers.lastname;
            this.email = this.formattedUsers.email;
            this.status = this.formattedUsers.status;
            this.mobile = this.formattedUsers.profile.mobile;
            this.location = this.formattedUsers.profile.location;
            this.gender = this.formattedUsers.profile.gender;
            this.rate = this.formattedUsers.profile.rate;
            this.dob = this.formattedUsers.profile.dob;
            this.vitae = this.formattedUsers.profile.cv;
            if(this.vitae != null)
                this.cvs.push(this.vitae);
            this.skills = this.formattedUsers.profile.skills;
            this.introduction = this.formattedUsers.profile.introduction;
            let keys = this.formattedUsers.profile.tags;
            keys.forEach((value,key)=>{
                this.tags += value.name + ' +';
            });
            this.companyProfile = JSON.parse(this.company);
            this.logo_url = this.companyProfile.logo;


        },
        watch: {
            selected_categories: function (val) {
                if(this.selected_categories.length > 5){
                    this.showAlert('You are exceeding your limit','warning');
                    let newData = {
                      id : val[5].id,
                      created_at : val[5].created_at,
                      name:val[5].name,
                        updated_at:val[5].updated_at
                    };
                    this.selected_categories[4] = newData;
                    this.selected_categories.splice(5,1);
                }
            },
        }
    }
</script>

<style scoped>

</style>