<template>
    <div>
        <form @submit.prevent="attempLogin">
            <div class="group material-input">
                <input autofocus v-model="password" type="password" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Password</label>
            </div>
            <div class="group material-input">
                <input v-model="password_confirmation" type="password" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Confirm Password</label>
            </div>
            <div class="button text-center">
                <button type="submit"  class="btn btn-lg btn-gradient-05 ld-ext-right" :class="{'running':loading}" :disabled="loading">
                    Reset Password
                    <span class="ld ld-ring ld-spin"></span>
                </button>
            </div>
        </form>

        <div class="back">
            <a href="" @click.prevent="back">Back</a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Reset",
        data(){
            return {
                password:'',
                password_confirmation:'',
                success:false,
                loading:false

            }
        },
        methods:{
            back(){
                location.replace('/')
            },
            show(){
                this.success = false;
            },
            focus(){
                this.success = true;
            },
            emailIsValid()
            {
                if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.email))
                {
                    return (true)
                }else{
                    return false;
                }

            },
            attempLogin(){
                this.loading = true;
                let tokens = window.location.pathname.split("/");
                let token = tokens[3];
                axios.post('/password/reset',{
                    token:token,password:this.password,password_confirmation:this.password_confirmation
                }).then((resp)=>{
                        if(resp.status == 200){
                            new Noty({
                                theme:'mint',
                                text: 'Password Changed Successfully',
                                layout:'topRight',
                                progressBar:true,
                                timeout:3000,
                                type:'success'

                            }).show();
                            this.loading = false;
                            setTimeout(()=>{
                                location.replace('/')
                            },3000)
                        }
                }).catch((error)=>{
                    console.log(error.response.data.errors)
                    let values = Object.values(error.response.data.errors);
                    new Noty({
                        theme:'mint',
                        text: values[0],
                        layout:'topRight',
                        progressBar:true,
                        timeout:3000,
                        type:'warning'

                    }).show();
                    this.loading = false;
                    setTimeout(function () {
                        location.replace('/password/reset')
                    },3500)
                })
            }
        },
        computed:{
            validate(){
                return this.email && this.emailIsValid();
            },

        }
    }
</script>

<style scoped>

</style>