<template>
    <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

        <!--Tabs -->
        <div class="sign-in-form">

            <ul class="popup-tabs-nav">
                <li><a href="#login">Log In</a></li>
                <li><a href="#register">Register</a></li>
            </ul>

            <div class="popup-tabs-container">

                <!-- Login -->
                <div class="popup-tab-content" id="login">
                    <!-- Welcome Text -->
                    <div class="welcome-text">
                        <h3>We're glad to see you again!</h3>
                        <span>Don't have an account? <a href="#" class="register-tab">Sign Up!</a></span>
                    </div>

                    <!-- Form -->
                    <form method="post" id="login-form" @submit.prevent="attempLogin">
                        <div class="input-with-icon-left">
                            <i class="icon-material-baseline-mail-outline"></i>
                            <input type="email" v-model="login_email" class="input-text with-border" name="emailaddress" id="emailaddress" placeholder="Email Address" required/>
                        </div>

                        <div class="input-with-icon-left">
                            <i class="icon-material-outline-lock"></i>
                            <input type="password" v-model="login_password" class="input-text with-border" name="password" id="password" placeholder="Password" required/>
                        </div>
                        <a href="/password/reset" class="forgot-password">Forgot Password?</a>

                    <!-- Button -->
                        <button type="submit" class="button full-width button-sliding-icon ripple-effect ld-ext-right" :class="{'running':loginLoading}" :disabled="loginLoading">
                            Login
                            <i v-if="!loginLoading" class="icon-material-outline-arrow-right-alt"></i>
                            <div class="ld ld-ring ld-spin"></div>
                        </button>
                    </form>

                    <!-- Social Login -->
                    <div class="social-login-separator"><span>or</span></div>
                    <div class="social-login-buttons">
                        <button @click="facebookLogin" class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Log In via Facebook</button>
                        <button @click="googleLogin" class="google-login ripple-effect"><i class="icon-brand-twitter"></i> Log In via Twitter</button>
                    </div>

                </div>

                <!-- Register -->
                <div class="popup-tab-content" id="register">
                    <!-- Welcome Text -->
                    <div class="welcome-text">
                        <h3>Let's create your account!</h3>
                    </div>

                    <!-- Account Type -->
                    <div class="account-type">
                        <div>
                            <input type="radio" v-model="status" value="employee"  name="account-type-radio" id="freelancer-radio" class="account-type-radio"/>
                            <label for="freelancer-radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i> Employee</label>
                        </div>

                        <div>
                            <input type="radio" v-model="status" value="employer"  name="account-type-radio" id="employer-radio" class="account-type-radio"/>
                            <label for="employer-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> Employer</label>
                        </div>
                    </div>

                    <!-- Form -->
                    <form method="post" id="register-account-form" @submit.prevent="attempRegister">
                        <div class="input-with-icon-left">
                            <i class="icon-material-baseline-mail-outline"></i>
                            <input type="text" v-model="firstname"  class="input-text with-border"  placeholder="First Name" required/>
                        </div>
                        <div class="input-with-icon-left">
                            <i class="icon-material-baseline-mail-outline"></i>
                            <input type="text" v-model="lastname"  class="input-text with-border"  placeholder="Last Name" required/>
                        </div>
                        <div class="input-with-icon-left" v-if="status == 'employer'">
                            <i class="icon-material-baseline-mail-outline"></i>
                            <input type="text" v-model="company"  class="input-text with-border"  placeholder="Company Name" required/>
                        </div>
                        <div class="input-with-icon-left">
                            <i class="icon-material-baseline-mail-outline"></i>
                            <input type="email" v-model="email"  class="input-text with-border" id="emailaddress-register" placeholder="Email Address" required/>
                        </div>

                        <div class="input-with-icon-left" title="Should be at least 8 characters long" data-tippy-placement="bottom">
                            <i class="icon-material-outline-lock"></i>
                            <input type="password" v-model="password"  class="input-text with-border" id="password-register" placeholder="Password" required/>
                        </div>

                        <div class="input-with-icon-left">
                            <i class="icon-material-outline-lock"></i>
                            <input type="password" v-model="password_confirmation" class="input-text with-border" id="password-repeat-register" placeholder="Repeat Password" required/>
                        </div>
                        <!-- Button -->
                        <button id="loadingButton" type="submit" class="margin-top-10 button full-width button-sliding-icon ripple-effect ld-ext-right" :class="{'running':loading}" :disabled="loading" form="register-account-form">
                            Register
                            <i v-if="!loading" class="icon-material-outline-arrow-right-alt"></i>
                            <div class="ld ld-ring ld-spin"></div>
                        </button>

                    </form>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "signin",
        data(){
            return {
                email:'',
                status:'employee',
                firstname:'',
                lastname:'',
                password:'',
                password_confirmation:'',
                company:'',
                errors:[],
                key:'',
                finalError:'',
                loginError:'',
                showMessage:false,
                login_email:'',
                login_password:'',
                remember:true,
                formData:{},
                loading:false,
                loginLoading:false,
                center:{lat : null,lng:null}
            }
        },
        methods:{
            emailIsValid()
            {
                if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.email))
                {
                    return (true)
                }else{
                    return false;
                }

            },
            success(){
                this.showMessage = false
            },
            attempRegister(){
                this.loading = true;
                $('#loadingButton').prop('disabled',true);
                if(this.status == 'employee')
                {this.company = null;}
                this.formData = new FormData();
                this.formData.append('email',this.email);
                this.formData.append('status',this.status);
                this.formData.append('lng',this.center != null ? this.center.lng:0);
                this.formData.append('lat',this.center != null ? this.center.lat:0);
                this.formData.append('firstname',this.firstname);
                this.formData.append('lastname',this.lastname);
                this.formData.append('password',this.password);
                this.formData.append('company',this.company);
                this.formData.append('password_confirmation',this.password_confirmation);
                axios.post('/register',this.formData).then(resp=>{
                    if(resp.status == 200){
                        Snackbar.show(
                            {
                                text: 'Registration complete. Please Verify your email',
                                pos:'top-center',
                                showAction:true,
                                backgroundColor:'#0bc931',
                                actionTextColor:'#ffffff',
                                actionText:'Dismiss',
                                duration:0
                            }
                        );
						this.loading = false;
                    }
 
                }).catch(error=>{
                    if(error.response.status == 501){
                        Snackbar.show(
                            {
                                text: 'Sorry an error Occurred',
                                pos:'top-center',
                                showAction:true,
                                backgroundColor:'#c93028',
                                actionTextColor:'#ffffff',
                                actionText:'Dismiss',
                                duration:0
                            }
                        );
                    }else{
                        this.errors = error.response.data.errors;
                        let keys = Object.keys(this.errors);
                        this.key = keys
                        this.finalError = this.errors[this.key[0]];
                        this.showMessage = true;
                        Snackbar.show(
                            {
                                text: this.finalError,
                                pos:'top-center',
                                showAction:true,
                                backgroundColor:'#c93028',
                                actionTextColor:'#ffffff',
                                actionText:'Dismiss',
                                duration:0
                            }
                        );
                    }

                    this.loading = false;
                })
            },
            attempLogin(){
                this.loginLoading = true;
                axios.post('/login'
                    ,
                    {
                        email:this.login_email,password:this.login_password,
                        lng: this.center.lng
                        ,lat:this.center.lat,
                        returnUrl: sessionStorage.getItem('returnUrl') != null ? `${sessionStorage.getItem('returnUrl')}`:null
                })
                    .then(resp=>{
                        if(resp.status === 200){
                          //  console.log(resp.data);
                            sessionStorage.clear();
                           // location.replace(resp.data.url);
                            window.location.href = resp.data.url
                        }

                    }).catch(error=>{
                    this.errors = error.response.data.error;
                    this.loginError = this.errors;
                    this.showMessage = true;
                    if(error.response.status == 301){
                        Snackbar.show(
                            {
                                text: 'Please Verify your email',
                                pos:'top-center',
                                showAction:true,
                                backgroundColor:'#c93028',
                                actionTextColor:'#ffffff',
                                actionText:'Dismiss',
                                duration:0
                            }
                        );
                    }else{
                        Snackbar.show(
                            {
                                text: this.loginError,
                                pos:'top-center',
                                showAction:true,
                                backgroundColor:'#c93028',
                                actionTextColor:'#ffffff',
                                actionText:'Dismiss',
                                duration:0
                            }
                        );
                    }

                    this.loginLoading = false;
                })
            },
            geolocate: function() {
                navigator.geolocation.getCurrentPosition(position => {
                    this.center = {
                        lat: parseFloat(position.coords.latitude),
                        lng: parseFloat(position.coords.longitude)
                    };
                });
            },
            googleLogin(){
                window.location.href = '/login/twitter'
            },
            facebookLogin(){
                window.location.href = '/login/facebook'
            }
        },
        mounted(){
            this.geolocate();
        }
    }
</script>

<style scoped>

</style>