<template>
    <div class="col-md-12">
        <div class="widget has-shadow">
            <div class="widget-header">
                Add Item Feature
            </div>
            <div class="widget-body">
                <form method="post" @submit.prevent="attemptAdd">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="group material-input" >
                                <select v-model="itemfeature.item_category_id" class="custom-select form-control">
                                    <option v-for="items in $store.state.cat" :value="items.id">{{items.name}}</option>
                                </select>
                                <span class="bar"></span>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="group material-input" >
                                <select v-model="itemfeature.feature_id" class="custom-select form-control">
                                    <option v-for="item in $store.state.feature" :value="item.id">{{item.name}}</option>
                                </select>
                                <span class="bar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="sign-btn text-right" style="margin-top: 20px">
                        <button type="submit"  class="btn btn-lg btn-gradient-01 ld-ext-right" :class="{'running':loading}" :disabled="loading">
                            Add
                            <div class="ld ld-ring ld-spin"></div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "add",
        data(){
            return{
                loading:false,
                name:'',
                count : 1,
                itemfeature:{}
            }
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            attemptAdd(){
                this.loading = true;
                axios.post('/admin/item-features',this.itemfeature)
                    .then(resp=>{
                        //console.log(resp.data.data)
                        this.showAlert('Item added successfully','success');
                        this.$store.state.item.unshift(resp.data.data);
                        this.$store.state.cat = '';
                        
                        this.loading = false;
                    })
                    .catch(error=>{
                        if(error.response.status === 501){
                            this.showAlert(`duplicate entry from ${this.name}`,'error');
                        }else{
                            this.showAlert('sorry an error occurred','error');
                        }
                        this.loading = false;
                    })
            },
          
        }
    }
</script>

<style scoped>

</style>