<template>
    <div class="full-page-container with-map">
        <search-component @paginationChanged="onPaginationChanged"></search-component>
        <!-- Full Page Sidebar / End -->


        <!-- Full Page Content -->
        <div class="full-page-content-container" data-simplebar>
            <div class="full-page-content-inner">

                <h3 class="page-title" v-if="filterTriggered">Search Results</h3>
                <h3 class="page-title" v-else>Nearby Jobs</h3>

                <div class="notify-box margin-top-15">
                    <div class="sort-by">
                        <span>Sort by:</span>
                        <select class="selectpicker hide-tick" v-model="job_status">
                            <option value="newest">Newest</option>
                            <option value="oldest">Oldest</option>
                        </select>
                    </div>
                </div>

                <div class="listings-container compact-list-layout margin-top-35 margin-bottom-25">

                    <!-- Job Listing -->
                    <a v-for="job in $store.state.jobs" :href="`/jobs/${job.slug}/apply`" class="job-listing">
                        <!-- Job Listing Details -->
                        <div class="job-listing-details">
                            <!-- Logo -->
                            <div class="job-listing-company-logo">
                                <img v-if="!job.company.logo" src="/images/company-logo-01.png" alt="">
                                <img v-else :src="job.company.logo" alt="">
                            </div>
                            <!-- Details -->
                            <div class="job-listing-description">
                                <h3 class="job-listing-title">{{job.title}}</h3>
                                <!-- Job Listing Footer -->
                                <div class="job-listing-footer">
                                    <ul>
                                        <li><i class="icon-material-outline-business"></i> {{job.company.name}} <div :class="{'verified-badge':job.company.verified}" title="Verified Employer" data-tippy-placement="top"></div></li>
                                        <li><i class="icon-material-outline-location-on"></i> {{job.location}}</li>
                                        <li><i class="icon-material-outline-business-center"></i> {{job.type}}</li>
                                        <li><i class="icon-material-outline-access-time"></i> {{job.created_at | changeDateHuman}}</li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Bookmark -->
                            <span @click="bookmark(job.id)" class="bookmark-icon" :class="{'bookmarked':job.bookmarked}"></span>
                        </div>
                    </a>

                </div>

                <!-- Pagination -->
                <div class="clearfix"></div>
                <div class="pagination-container margin-top-20 margin-bottom-20">
                    <nav class="pagination">
                        <ul>
                            <li v-if="works.current_page > 1" class="pagination-arrow"><a href="#" @click.prevent="fetchJobs(parseInt(works.current_page) - 1)" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                            <li v-for="page in works.last_page"><a href="#" @click.prevent="fetchJobs(page)" class="ripple-effect" :class="{'current-page':page === works.current_page}">{{page}}</a></li>
                            <li v-if="works.last_page !== works.current_page" class="pagination-arrow"><a href="#" @click.prevent="fetchJobs(parseInt(works.current_page) + 1)" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
                <div class="clearfix"></div>
                <!-- Pagination / End -->
                <!-- Footer -->
                <div class="small-footer margin-top-15">
                    <div class="small-footer-copyrights">
                        © 2018 <strong>Hireo</strong>. All Rights Reserved.
                    </div>
                    <ul class="footer-social-links">
                        <li>
                            <a href="#" title="Facebook" data-tippy-placement="top">
                                <i class="icon-brand-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Twitter" data-tippy-placement="top">
                                <i class="icon-brand-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Google Plus" data-tippy-placement="top">
                                <i class="icon-brand-google-plus-g"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="LinkedIn" data-tippy-placement="top">
                                <i class="icon-brand-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- Footer / End -->

            </div>
        </div>
        <!-- Full Page Content / End -->

        <!-- Full Page Map -->
        <map-component></map-component>
        <!-- Full Page Map / End -->

    </div>
</template>

<script>
    import SearchComponent from './search.vue';
    import MapComponent from './maps.vue'
    export default {
        name: "index",
        components:{
            SearchComponent,
            MapComponent
        },
        props:['jobs','markers','center','categories','tags'],
        data(){
            return {
                works:[],map_center:{},path:'',reversed:false,
                otherPath:'',filterTriggered:false,latestSearchQuery:{},job_status:''
            }
        },
        methods:{
            fetchJobs(id){
                let path = ''
                if(!this.filterTriggered){
                    path = this.otherPath;
                    axios.get(`${path}?page=${id}`)
                        .then(resp=>{
                            this.works = resp.data.jobs;
                            this.$store.state.jobs = this.works.data;
                            this.$store.state.markers = resp.data.markers;
                        })
                }else{
                    path = this.path;
                    axios.post(`${path}?page=${id}`,this.latestSearchQuery)
                        .then(resp=>{
                            this.works = resp.data.jobs;
                            this.$store.state.jobs = this.works.data;
                            this.$store.state.markers = resp.data.markers;
                        })
                }

            },
            reverseJobs(){
                alert(hi)
            },
            onPaginationChanged(data){
                this.works = data.work;
                this.path = this.works.path;
                this.filterTriggered = true;
                this.latestSearchQuery = data.query
            },
            bookmark(id){
                axios.get('/jobs/bookmark/'+id)
                    .then(resp=>{

                    })
                    .catch(error=>{

                    })
            }
        },
        created(){
            this.works = JSON.parse(this.jobs);
            this.path = this.works.path;
            this.otherPath = `${this.path}/1`;
            this.$store.state.jobs = this.works.data;
            this.$store.state.markers = JSON.parse(this.markers);
            this.$store.state.center = JSON.parse(this.center);
            this.$store.state.jobCategories = JSON.parse(this.categories);
            this.$store.state.tags = JSON.parse(this.tags)
        },
        filters:{
            changeDateHuman(value){
                return moment(value).fromNow();
            }
        },
        watch:{
            job_status:function (value) {
                if(!this.reversed && value === 'oldest'){
                    this.$store.state.jobs.reverse();
                    this.reversed = true;
                }else{
                    this.$store.state.jobs.reverse()
                }
            }
        }
    }
</script>

<style scoped>
    a.disabled{
        pointer-events: none;
    }
</style>