<template>
    <div class="full-page-map-container">
        <!-- Enable Filters Button -->
        <div class="filter-button-container">
            <button class="enable-filters-button">
                <i class="enable-filters-button-icon"></i>
                <span class="show-text">Show Filters</span>
                <span class="hide-text">Hide Filters</span>
            </button>
            <div class="filter-button-tooltip">Click to expand sidebar with filters!</div>
        </div>
        <!--@click="center=marker.position"-->
        <!-- Map -->
        <div id="map">
            <GmapMap
                    :center="$store.state.center"
                    :zoom="17"
                    map-type-id="terrain"
                    style="width: 100%; height: 100%;"
            >
                <GmapMarker
                        :key="index"
                        v-for="(marker, index) in $store.state.markers"
                        :position="marker.position"
                        @click="toggleInfoWindow(marker,index)"
                />
                <gmap-info-window
                        :options="infoOptions"
                        :position="infoWindowPos"
                        :opened="infoWinOpen"
                        @closeclick="infoWinOpen=false"
                >
                    <div v-html="infoContent"></div>
                </gmap-info-window>
            </GmapMap>
        </div>
    </div>
</template>

<script>
    export default {
        name: "maps",
        data(){
            return{
                //a default center for the map
                center: {lat: 52.511950, lng: 6.089625},
                map: null,
                infoContent: '',
                infoWindowPos: {
                    lat: 0,
                    lng: 0
                },
                infoWinOpen: false,
                currentMidx: null,
                //optional: offset infowindow so it visually sits nicely on top of our marker
                infoOptions: {
                    pixelOffset: {
                        width: 0,
                        height: -35
                    }
                },
            }
        },
        methods:{
            toggleInfoWindow (marker, idx) {
                console.log(marker)
                this.infoWindowPos = marker.position;
                this.infoContent = this.getInfoWindowContent(marker);

                //check if its the same marker that was selected if yes toggle
                if (this.currentMidx == idx) {
                    this.infoWinOpen = !this.infoWinOpen;
                }
                //if different marker set infowindow to open and reset current marker index
                else {
                    this.infoWinOpen = true;
                    this.currentMidx = idx;
                }
            },
            /*<!--<img src="{{img_src}}" />--> after the .info-box-wrap*/
            getInfoWindowContent(marker) {
                return (`
                <div class="info-box-wrap">
                 <div class="info-box-text-wrap">
                  <h6 class="address">${marker.title}</h6>
                  <p class="price">${marker.type}</p>
                </div>
                <div class="action-btns"><span class="fa fa-heart-o"></span></div>
                </div>`
                );
            },
        },
    }
</script>

<style>
    .info-box-wrap {
        background:#fff;
        overflow: hidden;
        box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.08);
    }
    .info-box-text-wrap {
        height:40px !important;
        width:120px;
        float:left;
        overflow: hidden;
    }
    .action-btns {
        float:left;
        width:70px;
        overflow: hidden;
        position: relative;
        top:12px;
        left: 6px;
    }
    .action-btns i {
        font-size: 18px;
        color: #78A737;
        margin-left: 3px;
    }
    .action-btns i:hover {
        transition: color 0.5s ease;
        color:#ccc;
        cursor: pointer;
    }
    .action-btns i.fa-heart-o {
        font-weight: bold;
    }
    .info-box-text-wrap h6.address {
        padding:6px 5px 1px 0;
        margin:0 0 0 0;
        font-family:"Roboto Slab";
        color: #2a41e8;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .info-box-text-wrap p {
        padding-bottom: 20px;
        font-size: 12px;
    }
    .info-box-text-wrap p.price {
        color:#B25B00;
    }

    .info-box-wrap  img {
        width:40px !important;
        height:40px;
        float:left;
        margin-right: 10px;
        padding-top:0;
        margin-top:0;
    }
    .infoBox:before{
        content : " ";
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
        position:absolute;
        top:-10px;
        left:130px;
    }
</style>