<template>
    <div class="full-page-sidebar hidden-sidebar">
        <div class="full-page-sidebar-inner" data-simplebar>

            <div class="sidebar-container">

                <!-- Location -->
                <div class="sidebar-widget">
                    <h3>Location</h3>
                    <gmap-autocomplete
                            @place_changed="setPlace">
                    </gmap-autocomplete>
                </div>

                <!-- Keywords -->
                <div class="sidebar-widget">
                    <h3>Keywords</h3>
                    <div class="keywords-container">
                        <div class="keyword-input-container">
                            <input v-model="keyword" type="text" class="keyword-input" placeholder="e.g. job title"/>
                            <button @click.prevent="addKeyword" class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
                        </div>
                        <div class="keywords-list custom-tag-height">
                                    <span v-for="(item,key) in keywords" class="keyword">
                                    <span class="keyword-remove" @click="removeKeyword(key)"></span>
                                    <span class="keyword-text">{{item}}
                                    </span>
                                </span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <!-- Category -->
                <div class="sidebar-widget">
                    <h3>Category</h3>
                    <select v-model="query.categories" class="selectpicker default" multiple data-selected-text-format="count" data-size="7" title="All Categories" >
                        <option v-for="category in $store.state.jobCategories" :value="category.id">{{category.name}}</option>
                    </select>
                </div>

                <!-- Job Types -->
                <div class="sidebar-widget">
                    <h3>Job Type</h3>

                    <div class="switches-list">
                        <div class="switch-container">
                            <label class="switch"><input v-model="query.full_time" type="checkbox"><span class="switch-button"></span> Full Time</label>
                        </div>

                        <div class="switch-container">
                            <label class="switch"><input v-model="query.part_time" type="checkbox"><span class="switch-button"></span> Part Time</label>
                        </div>

                        <div class="switch-container">
                            <label class="switch"><input v-model="query.intership" type="checkbox"><span class="switch-button"></span> Internship</label>
                        </div>
                        <div class="switch-container">
                            <label class="switch"><input v-model="query.temporary" type="checkbox"><span class="switch-button"></span> Temporary</label>
                        </div>
                    </div>

                </div>

                <!-- Salary -->
                <div class="sidebar-widget">
                    <h3>Salary</h3>
                    <div class="margin-top-55"></div>
                    <!-- Range Slider -->
                    <input id="slider-val" class="range-slider" type="text" value="" data-slider-currency="GHS" data-slider-min="0" data-slider-max="900000" data-slider-step="100" data-slider-value="[0,900000]"/>
                </div>

                <!-- Tags -->
                <div class="sidebar-widget">
                    <h3>Tags</h3>
                    <div class="tags-container">
                        <div v-for="tag in $store.state.tags" class="tag">
                            <input type="checkbox" :id="`tag${tag.id}`"/>
                            <label :for="`tag${tag.id}`">{{tag.name}}</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Sidebar Container / End -->

            <!-- Search Button -->
            <div class="sidebar-search-button-container">
                <div class="row">
                    <div class="col-sm-8">
                        <button type="submit" @click="find" class="button ripple-effect" :class="{'running':loading}" :disabled="loading">
                            <span v-if="!loading"> <i class="icon-feather-search"></i> Search</span>
                            <div v-else style="display:inline-block; margin-left:5px"  class="ld ld-ring ld-spin"></div>
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <button @click.prevent="resetFilters" type="submit" class="button gray ripple-effect">
                            <span class="icon-material-outline-autorenew"></span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Search Button / End-->

        </div>
    </div>
</template>

<script>
    export default {
        name: "search",
        data(){
            return{
                keyword:'',keywords:[],query:{categories:[]},loading:false
            }
        },
        methods:{
            find(){
                this.loading = true;
                this.query.salary = $('#slider-val').val();
                if(this.keywords.length > 0)
                    this.query.keywords = this.keywords;
                console.log(this.query);
                axios.post('/find-jobs/filter',this.query)
                    .then(resp=>{
                        //emit an event to update pagination
                        this.$emit('paginationChanged',{work:resp.data.jobs,query:this.query});
                        this.$store.state.jobs = resp.data.jobs.data;
                        this.$store.state.markers = resp.data.markers;
                        this.loading = false;
                    })
                    .catch(error=>{
                        this.loading = false;
                    })
            },
            setPlace(place) {
                    this.query.lat = place.geometry.location.lat();
                    this.query.lng = place.geometry.location.lng();
            },
            addKeyword(){
                if(this.keyword != null){
                    this.keywords.push(this.keyword);
                    this.keyword = null;
                    var under = $('.custom-tag-height');
                    var heightnow = $(under).height();
                    var heightfull = $(under).css({'max-height':'auto', 'height':'auto'}).height();
                    $(under).css({ 'height' : heightnow }).animate({ 'height': heightfull }, 200);
                }
            },
            removeKeyword(key){
                this.keywords.splice(key,1)
                $('.custom-tag-height').css({'height':'auto'}).height();
            },
        }
    }
</script>

<style scoped>

</style>