<template>
    <div class="row">

        <form action="" @submit.prevent="updatePost">
            <!-- Dashboard Box -->
            <div class="col-xl-12">
                <div class="dashboard-box margin-top-0">

                    <!-- Headline -->
                    <div class="headline">
                        <h3><i class="icon-feather-folder-plus"></i> Sell Product Submission Form</h3>
                    </div>

                    <div class="content with-padding padding-bottom-10">
                        <div class="row">
                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Product Category</h5>
                                    <el-select class="with-border" v-model="product.item_category_id" filterable placeholder="Select">
                                        <el-option
                                                v-for="item in $store.state.itemCategories"
                                                :key="item.id"
                                                :label="item.name"
                                                :value="item.id">
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>
                            <transition name="sub">
                                <div class="col-xl-4" v-if="$store.state.itemSubCategories.length > 0 && product.item_category_id">
                                    <div class="submit-field">
                                        <h5>Product Sub Category</h5>
                                        <el-select class="with-border" v-model="product.item_sub_category_id" filterable placeholder="Select">
                                            <el-option
                                                    v-for="item in $store.state.itemSubCategories"
                                                    :key="item.id"
                                                    :label="item.name"
                                                    :value="item.id">
                                            </el-option>
                                        </el-select>
                                    </div>
                                </div>
                            </transition>



                            <transition name="product">
                                <div class="col-xl-4" v-if="$store.state.brands.length > 0 && product.item_sub_category_id">
                                    <div class="submit-field">
                                        <h5>Product Brand</h5>
                                        <el-select class="with-border" v-model="product.brand_id" filterable placeholder="Select">
                                            <el-option
                                                    v-for="item in $store.state.brands"
                                                    :key="item.id"
                                                    :label="item.name"
                                                    :value="item.id">
                                            </el-option>
                                        </el-select>
                                    </div>
                                </div>
                            </transition>


                            <transition name="model">
                                <div class="col-xl-4" v-if="$store.state.models.length > 0 && product.brand_id">
                                    <div class="submit-field">
                                        <h5>Product Model</h5>
                                        <el-select class="with-border" v-model="product.model_id" filterable placeholder="Select">
                                            <el-option
                                                    v-for="item in $store.state.models"
                                                    :key="item.id"
                                                    :label="item.name"
                                                    :value="item.id">
                                            </el-option>
                                        </el-select>
                                    </div>
                                </div>
                            </transition>
                            <transition name="title">
                                <div class="col-xl-4" v-if="$store.state.models.length <= 0">
                                    <div class="submit-field">
                                        <h5>Product Title</h5>
                                        <input v-model="product.title" type="text" class="with-border" required>
                                    </div>
                                </div>
                            </transition>
                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Location</h5>
                                    <div class="input-with-icon">
                                        <div id="autocomplete-container">
                                            <gmap-autocomplete :value="town"
                                                               @place_changed="setPlace">
                                            </gmap-autocomplete>
                                            <!--<input v-model="product.location" class="with-border" disabled type="text" placeholder="Type Address">-->
                                        </div>
                                        <i class="icon-material-outline-location-on"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Price (GHS)</h5>
                                    <div class="input-with-icon">
                                        <div>
                                            <input v-model="product.price" class="with-border" type="text" required placeholder="Enter Amount">
                                        </div>
                                        <i class="icon-line-awesome-money"></i>
                                    </div>
                                </div>
                            </div>





                            <div class="col-xl-4">
                                <!-- Account Type -->
                                <div class="submit-field">
                                    <h5>Condition</h5>
                                    <div class="account-type">
                                        <div>
                                            <input v-model="product.condition" value="new" type="radio" name="account-type-radio" id="freelancer-radio" class="account-type-radio"/>
                                            <label for="freelancer-radio" class="ripple-effect-dark"><i class="icon-feather-stop-circle"></i> New</label>
                                        </div>

                                        <div>
                                            <input v-model="product.condition" value="used" type="radio" name="account-type-radio" id="employer-radio" class="account-type-radio"/>
                                            <label for="employer-radio" class="ripple-effect-dark"><i class="icon-line-awesome-skyatlas"></i> Used</label>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Product Edition</h5>
                                    <input v-model="product.edition" type="text" class="with-border" placeholder="Optional">
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4">
                                <div class="submit-field">
                                    <h5>Is It Negotiable ?</h5>
                                    <div class="checkbox">
                                        <input v-model="product.negotiable" type="checkbox" id="chekcbox2">
                                        <label for="chekcbox2"><span class="checkbox-icon"></span> Negotiable</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="submit-field">
                                    <h5>Product Description</h5>
                                    <textarea v-model="product.description" cols="30" rows="5" class="with-border"></textarea>
                                    <div class="uploadButton margin-top-30">
                                        <input class="uploadButton-input" @change="changeImage" ref="avatars" type="file" accept="image/*" id="upload"/>
                                        <label class="uploadButton-button ripple-effect" for="upload">Upload Images</label>
                                        <span class="uploadButton-file-name">Images that might be helpful in describing your product</span>
                                    </div>
                                </div>
                            </div>
                            <div  class="col-sm-6 col-md-3 col-xl-2" v-if="product.avatars.length > 0" v-for="(item,index) in product.avatars">
                                <div class="avatar-wrapper" @click.prevent="removeUpload(item.id,index)" data-tippy-placement="bottom" title="Click to remove">
                                    <img class="profile-pic" :src="item.name" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- Dashboard Box -->
            <div class="col-xl-12">
                <div class="dashboard-box margin-top-0">

                    <!-- Headline -->
                    <div class="headline">
                        <h3><i class="icon-feather-folder-plus"></i> Add Contact</h3>
                    </div>
                    <div class="content with-padding padding-bottom-10">
                        <div class="row">
                            <div class="col-xl-4">
                                <form action="" @submit.prevent="addContact">
                                    <button class="button ripple-effect small margin-bottom-10"><i class="icon-feather-plus"></i> Add</button>
                                    <div class="submit-field">
                                        <vue-tel-input v-model="phone" required
                                                       @onInput="onInput" :preferredCountries="['gh']">
                                        </vue-tel-input>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xl-5 col-md-5">
                                <div class="numbered color filled">
                                    <ol>
                                        <li v-for="(item,index) in product.user.contacts">{{item.contact}}
                                            <span @click="removeContact(item.id,index)" style="color:red;cursor:pointer" class="icon-feather-trash-2">
                                            </span>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <button class="button ripple-effect big margin-top-30" :class="{'running':loading}" :disabled="loading">
                    <span v-if="!loading"> <i class="icon-feather-plus"></i> Post Product</span>
                    <div v-else style="display:inline-block; margin-left:5px"  class="ld ld-ring ld-spin"></div>
                </button>
            </div>
        </form>

    </div>
</template>

<script>
    export default {
        name: "index",
        props:['categories','mobile','auth','item'],
        data(){
            return{
                markers: [],
                center: {},
                request : {
                    query: '',
                    fields: ['name', 'geometry'],
                },
                places: [],
                currentPlace: null,isValid:false,loading:false,
                product:{},uploads:[],urls:[],phone:'',formData:{},mylocation:{},address:[],user:{},town:''
            }
        },
        methods:{
            showAlert(message){
                Snackbar.show(
                    {
                        text: message,
                        pos:'top-center',
                        showAction:true,
                        backgroundColor:'#ff932e',
                        actionTextColor:'#ffffff',
                        actionText:'Dismiss',
                        duration:3000
                    }
                );
            },
            showSuccess(message){
                Snackbar.show(
                    {
                        text: message,
                        pos:'top-center',
                        showAction:true,
                        backgroundColor:'#2dcd20',
                        actionTextColor:'#ffffff',
                        actionText:'Dismiss',
                        duration:3000
                    }
                );
            },
            setPlace(place) {
                this.currentPlace = place;
                this.mylocation = this.places = this.currentPlace;
                this.address = this.mylocation.address_components;
                this.product.location = this.mylocation.formatted_address;
                this.center.lat = this.currentPlace.geometry.location.lat();
                this.center.lng = this.currentPlace.geometry.location.lng();
            },
            geolocate: function() {
                navigator.geolocation.getCurrentPosition(position => {
                    this.center = {
                        lat: parseFloat(position.coords.latitude),
                        lng: parseFloat(position.coords.longitude)
                    };
                });
            },
            changeImage(){
                if(this.uploads.length <= 4){
                    let file = this.$refs.avatars.files[0];
                    let formData = new FormData();
                    formData.append('avatar',file);
                    formData.append('id',this.product.id);
                    //make request here
                    axios.post('/products/add-avatar',formData,{headers: {'Content-Type': 'multipart/form-data'}})
                        .then(resp=>{
                            this.product.avatars.push(resp.data);
                            this.showSuccess('image uploaded successfully');
                        })
                        .catch(error=>{
                            this.showAlert('sorry an error occurred');
                        })
                }else{
                    this.showAlert('You cannot upload more than 5 images')
                }
            },
            inArray(file){
                let found = false;
                this.uploads.forEach(function(entry){
                    if(entry.name === file.name){
                        found  = true;
                    }
                });
                return found;
            },
            inContacts(check){
                let found = false;
                this.product.user.contacts.forEach(function(entry){
                    if(entry.contact === check){
                        found  = true;
                    }
                });
                return found;
            },
            removeUpload(id,index){
                //make request here
                if (confirm('are you sure?')) {
                    axios.delete(`/products/remove-avatar/${id}`)
                        .then(resp=>{
                            this.product.avatars.splice(index,1);
                        })
                        .catch(error=>{})
                }
            },
            onInput({ number, isValid, country }) {
                this.isValid = isValid;
            },
            addContact(){
                if(this.isValid){
                    if(this.product.user.contacts.length <= 4){
                        if(!this.inContacts(this.phone)){
                            //make request here
                            axios.post('/products/add-contact',{contact:this.phone})
                                .then(resp=>{
                                    this.product.user.contacts.push(resp.data);
                                    this.phone = '';
                                })
                                .catch(error=>{})
                        }else{
                            this.showAlert('Telephone already added');
                        }
                    }else{
                        this.showAlert('You cannot add more than 5 telephone numbers');
                    }
                }else{
                    this.showAlert('Invalid Telephone number');
                }
            },
            removeContact(id,index){
                //make request here
                if(confirm('are you sure?')){
                    axios.delete(`remove-contact/${id}`)
                        .then(resp=>{
                            this.product.user.contacts.splice(index,1);
                        })
                        .catch(error=>{})
                }
            },
            updatePost(){
               // this.loading = true;
                let data = {};
                data.center = JSON.stringify(this.center);
                data.product = JSON.stringify(this.product);
                data.address  =JSON.stringify(this.address);
                data.item_sub_categories = JSON.stringify(this.$store.state.itemSubCategories);
                data.brands = JSON.stringify(this.$store.state.brands);
                data.models = JSON.stringify(this.$store.state.models);
                axios.put(`/products/sell/${this.product.id}`,data)
                    .then(resp=>{
                        this.showSuccess('Product saved successfully');
                    })
                    .catch(error=>{
                        if(error.response.status === 422){
                            let keys = Object.keys(error.response.data.errors);
                            let item = keys[0];
                            let finalError = error.response.data.errors[item];
                            this.showAlert(finalError);
                        }else{
                            this.showAlert('Sorry an error occurred');
                        }
                        this.loading = false;
                    })
            }
        },
        watch:{
            itemCategoryId(value){
                axios.get(`/products/end-point/item-sub-categories/${value}`)
                    .then(resp=>{
                        this.$store.state.itemSubCategories = resp.data;
                        //
                        this.$store.state.brands = [];
                        this.$store.state.models = [];
                        if(this.$store.state.itemSubCategories.length <= 0){
                            delete this.product.item_sub_category_id;
                            delete this.product.brand_id;
                            delete this.product.model_id;

                        }
                    })
            },
            itemSubCategoryId(value){
                axios.get(`/products/end-point/item-sub-categories-brands/${value}`)
                    .then(resp=>{
                        this.$store.state.brands = resp.data;
                        this.$store.state.models = [];
                        if(this.$store.state.brands.length <= 0){
                            delete this.product.brand_id;
                            delete this.product.model_id;
                        }
                    })
            },
            brandId(value){
                axios.get(`/products/end-point/brand-models/${value}`)
                    .then(resp=>{
                        this.$store.state.models = resp.data;
                        if(this.$store.state.models.length <= 0){
                            delete this.product.model_id;
                        }else{
                            delete this.product.title;
                        }
                    })
            },

        },
        computed:{
            itemCategoryId(){
                return this.product.item_category_id;
            },
            itemSubCategoryId(){
                return this.product.item_sub_category_id;
            },
            brandId(){
                return this.product.brand_id;
            }
        },
        mounted(){
            this.product = JSON.parse(this.item);
            this.town = this.product.location;
            this.$store.state.itemCategories = JSON.parse(this.categories);
            this.geolocate();
            let instance = axios.create();
            delete instance.defaults.headers.common['X-CSRF-TOKEN'];
            delete instance.defaults.headers.common['X-Requested-With'];
            instance({
                url:'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + this.product.lat + ',' + this.product.lng + '&key=' + 'AIzaSyCg8zyiOfyZ4xaLIqX6-P82Z0VCJG5Cpmg',
                headers:{
                    "Content-Type": "application/json",
                    "Accept": "application/json"
                }
            })
                .then(resp=>{
                    this.mylocation = resp.data.results[1];
                    const marker = {
                        lat: this.mylocation.geometry.location.lat,
                        lng: this.mylocation.geometry.location.lng
                    };
                    this.address = this.mylocation.address_components;
                    //this.product.location = this.mylocation.formatted_address;
                })
        },
    }
</script>

<style scoped>
    .el-select {
        display: block;
    }
    .product-enter{
        opacity: 0;
    }
    .product-enter-active{
        transition: opacity 1s;
    }
    .product-leave{}
    .product-leave-active{
        transition: opacity 1s;
        opacity: 0;
    }
    .model-enter{
        opacity: 0;
    }
    .model-enter-active{
        transition: opacity 1s;
    }
    .model-leave{}
    .model-leave-active{
        transition: opacity 1s;
        opacity: 0;
    }
    .sub-enter{
        opacity: 0;
    }
    .sub-enter-active{
        transition: opacity 1s;
    }
    .sub-leave{}
    .sub-leave-active{
        transition: opacity 1s;
        opacity: 0;
    }
    .title-enter{
        opacity: 0;
    }
    .title-enter-active{
        transition: opacity 1s;
    }
    .title-leave{}
    .title-leave-active{
        transition: opacity 1s;
        opacity: 0;
    }
    .uploads-enter{
        opacity: 0;
    }
    .uploads-enter-active{
        transition: opacity 1s;
    }
    .uploads-leave{}
    .uploads-leave-active{
        transition: opacity 1s;
        opacity: 0;
    }
</style>