<template>
    <div class="row">

        <!-- Dashboard Box -->
        <div class="col-xl-12">
            <div class="dashboard-box margin-top-0">
                <!-- Headline -->
                <div class="headline">
                    <h3><i class="icon-material-outline-business-center"></i> My Posts</h3>
                </div>

                <div class="content">
                    <ul class="dashboard-box-list">
                        <li v-for="(item,index) in all_products.data">
                            <div class="col-sm-7">
                                <!-- Job Listing -->
                                <div class="job-listing">

                                    <!-- Job Listing Details -->
                                    <div class="job-listing-details">
                                        <!--<a v-if="item.avatars.length > 0" href="#" class="job-listing-company-logo">
                                            <img :src="item.avatars[0].name" alt="not found" height="60">
                                        </a>-->
                                        <div class="job-listing-description">
                                            <h3 class="job-listing-title"><a href="#">{{item.title}}</a>
                                                <span v-if="!item.approved" class="dashboard-status-button green">pending approval</span>
                                                <span v-else class="dashboard-status-button"
                                                      :class="{red:item.status === 'expired',green:item.status === 'active',yellow:item.status === 'expiring'}">
                                                    {{item.status}}
                                                </span>
                                                <!--<span v-if="item.expired" class="dashboard-status-button red">Expired</span>-->

                                            </h3>

                                            <!-- Job Listing Footer -->
                                            <div class="job-listing-footer">
                                                <ul>
                                                    <li><i class="icon-line-awesome-money"></i> Price {{item.price}}</li>
                                                    <li><i class="icon-material-outline-date-range"></i> Posted on {{item.posted_on}}</li>
                                                    <li><i class="icon-material-outline-date-range"></i> Expiring on {{item.expiry}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Buttons -->
                                <div class="buttons-to-right always-visible">
                                    <a href="" class="button ripple-effect"><i class="icon-material-outline-launch"></i> Manage Buyers <span class="button-info">0</span></a>
                                    <a :href="`/products/my-posts?slug=${item.slug}`" class="button gray ripple-effect ico" title="Edit" data-tippy-placement="top"><i class="icon-feather-edit"></i></a>
                                    <a @click.prevent="deletePost(index,item.id)" class="button gray ripple-effect ico" title="Remove" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div v-if="item.avatars.length > 0" class="avatar-wrapper" data-tippy-placement="bottom" :title="item.title">
                                                <img class="profile-pic" :src="item.avatars[0].name" alt="" />
                                            </div>

                                        </div>
                                        <div class="col-sm-6">
                                            <div v-if="item.avatars.length > 1" class="avatar-wrapper" data-tippy-placement="bottom" :title="item.title">
                                                <img class="profile-pic" :src="item.avatars[1].name" alt="" />
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- Pagination -->
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Pagination -->
                    <div class="pagination-container margin-top-60 margin-bottom-60">
                        <nav class="pagination">
                            <ul>
                                <li v-if="all_products.prev_page_url" class="pagination-arrow"><a @click.prevent="fetchData(parseInt(all_products.current_page) - 1)" href="#"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                                <li v-for="(item,index) in all_products.last_page"><a @click.prevent="fetchData(item)" href="#" :class="{'current-page':item === all_products.current_page}">{{item}}</a></li>
                                <li v-if="all_products.next_page_url" class="pagination-arrow"><a @click.prevent="fetchData(parseInt(all_products.current_page) + 1)" href="#"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Pagination / End -->
        </div>

    </div>
</template>

<script>
    export default {
        name: "posts",
        props:['products'],
        data(){
            return{
                all_products:'',
                path:''
            }
        },
        methods:{
            showAlert(message){
                Snackbar.show(
                    {
                        text: message,
                        pos:'top-center',
                        showAction:true,
                        backgroundColor:'#ff932e',
                        actionTextColor:'#ffffff',
                        actionText:'Dismiss',
                        duration:3000
                    }
                );
            },
            showSuccess(message){
                Snackbar.show(
                    {
                        text: message,
                        pos:'top-center',
                        showAction:true,
                        backgroundColor:'#2dcd20',
                        actionTextColor:'#ffffff',
                        actionText:'Dismiss',
                        duration:3000
                    }
                );
            },
            deletePost(index,id){
                if(confirm('Are you sure you want to perform this action?')){
                    axios.delete('/products/sell/'+id)
                        .then(resp=>{
                            this.showSuccess('Post deleted successfully');
                            this.$store.state.products.splice(index,1);
                        }).
                    catch(error=>{
                        this.showAlert('sorry an error occurred')
                    })
                }
            },
            fetchData(id){
                if(this.all_products.current_page !== id){
                    axios.get(`${this.path}/true?page=${id}`)
                        .then(resp=>{
                            this.all_products = resp.data
                        })
                        .catch(error=>{})
                }
            }
        },
        mounted(){
            this.all_products = JSON.parse(this.products);
            this.path = this.all_products.path;
        }
    }
</script>

<style scoped>

</style>