<template>
    <div class="row">
        <div class="col-xl-8 col-lg-8 content-right-offset">
            <!-- Hedaline -->
            <h3>Billing Cycle</h3>
            <!-- Billing Cycle Radios  -->
            <div class="billing-cycle margin-top-25">
                <!-- Radio -->
                <div class="radio">
                    <input id="radio-5" name="radio-payment-type" value="month" v-model="sub_type" type="radio">
                    <label for="radio-5">
                        <span class="radio-label"></span>
                        Billed Monthly
                        <span class="billing-cycle-details">
							<span class="regular-price-tag">GHS {{$store.state.plans.monthly_amount}} / month</span>
						</span>
                    </label>
                </div>
                <!-- Radio -->
                <div class="radio">
                    <input id="radio-6" name="radio-payment-type" value="year" v-model="sub_type" type="radio">
                    <label for="radio-6"><span class="radio-label"></span>
                        Billed Yearly
                        <span class="billing-cycle-details">
							<span class="discounted-price-tag">GHS {{$store.state.plans.yearly_amount}} / year</span>
							<span class="regular-price-tag line-through">GHS {{(parseFloat($store.state.plans.yearly_amount) + parseFloat($store.state.plans.monthly_amount)).toFixed(2)}} / year</span>
						</span>
                    </label>
                </div>
            </div>
            <!-- Hedline -->
            <h3 class="margin-top-50">Payment Method</h3>

            <!-- Payment Methods Accordion -->
            <div class="payment margin-top-30">
                <div class="payment-tab payment-tab-active">
                    <div class="payment-tab-trigger">
                        <input checked id="mobile-money" name="cardType" type="radio" value="paypal">
                        <label for="mobile-money">Mobile Money</label>
                        <img class="payment-logo" width="80"  height="80" src="/assets/payments/payment.png" alt="">
                    </div>

                    <div class="payment-tab-content">
                        <div class="row payment-form-row">

                            <div class="col-md-6">
                                <div class="card-label">
                                    <select v-model="payment.operator" style="margin-top: 20px;padding-bottom: 4px" name="operator" id="operator">
                                        <option :value="item.value" v-for="item in mobiles" :key="item.id">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="card-label">
                                    <vue-tel-input v-model="payment.tel"
                                                   @onInput="onInput"
                                                   :maxLen="12"
                                                   :inputClasses="'custom_input_style'"
                                                   :onlyCountries="['gh']"
                                    :preferredCountries="['gh']">
                                    </vue-tel-input>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- Payment Methods Accordion / End -->
<!--:href="`/subscriptions/checkout/order/${this.$store.state.plans.slug}/${this.sub_type}`"-->
            <a href="#" @click.prevent="processPayment" :class="{'running':loading,'disabled-link':loading}"
               class="button big ripple-effect margin-top-40 margin-bottom-65">
                <span v-if="!loading"> Proceed Payment</span>
                <div v-else style="display:inline-block; margin-left:5px"  class="ld ld-ring ld-spin"></div>
            </a>
        </div>


        <!-- Summary -->
        <div class="col-xl-4 col-lg-4 margin-top-0 margin-bottom-60">

            <!-- Summary -->
            <div class="boxed-widget summary margin-top-0">
                <div class="boxed-widget-headline">
                    <h3>Summary</h3>
                </div>
                <div class="boxed-widget-inner">
                    <ul v-if="sub_type === 'month'">
                        <li>Standard Plan <span>GHS {{$store.state.plans.monthly_amount}}</span></li>
                        <li>VAT ({{setting.vat}}%) <span>GHS {{(parseFloat($store.state.plans.monthly_amount) * parseFloat(setting.vat)/100).toFixed(2)}}</span></li>
                        <li class="total-costs">Final Price <span>
                            GHS {{amount}}
                        </span></li>
                    </ul>
                    <ul v-else>
                        <li>Standard Plan <span>GHS {{$store.state.plans.yearly_amount}}</span></li>
                        <li>VAT (17.5%) <span>GHS {{(parseFloat($store.state.plans.yearly_amount) * parseFloat(setting.vat)/100).toFixed(2)}}</span></li>
                        <li class="total-costs">Final Price <span>
                            GHS {{amount}}
                        </span></li>
                    </ul>
                </div>
            </div>
            <!-- Summary / End -->

            <!-- Checkbox -->
            <div class="checkbox margin-top-30">
                <input type="checkbox" id="two-step">
                <label for="two-step"><span class="checkbox-icon"></span>  I agree to the <a href="#">Terms and Conditions</a> and the <a href="#">Automatic Renewal Terms</a></label>
            </div>
        </div>

        <div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

            <!--Tabs -->
            <div class="sign-in-form">

                <ul class="popup-tabs-nav">
                    <li><a href="#steps">STEPS FOR MTN USERS</a></li>
                </ul>

                <div class="popup-tabs-container">

                    <!-- Tab -->
                    <div class="popup-tab-content" id="steps">

                        <div class="numbered color filled">
                            <ol>
                                <li>Dial *170#</li>
                                <li>Select option 6) My Wallet</li>
                                <li>Select 3) My Approvals</li>
                                <li>Enter Mobile Money PIN</li>
                                <li>Select the transaction from the list</li>
                                <li>Confirm the transaction.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "checkout",
        props:['plan','type','settings','operators'],
        data(){
            return{
                sub_type:'',setting:{},mobiles:[],payment:{operator:'mtn'},loading:false,amount:0,valid:false
            }
        },
        methods:{
            showAlert(message,type) {
                new Noty({
                    theme: 'mint',
                    text: message,
                    layout: 'topRight',
                    progressBar: true,
                    timeout: 3000,
                    type: type

                }).show();
            },
            onInput({ number, isValid, country }) {
                this.valid = isValid;
            },
            processPayment(){
                //check the validity of the tel
                if(!this.mobileNumber || !this.valid){
                    if(!this.mobileNumber){
                        this.showAlert('Please enter a mobile number','error')
                    }else if(!this.valid){
                        this.showAlert('Please enter a valid mobile number','error')
                    }else{
                        this.showAlert('sorry an error occurred','error')
                    }
                }else{
                    if(this.payment.operator === 'mtn'){
                        $.magnificPopup.open({
                            items: {
                                src: '#small-dialog'
                            },
                            type: 'inline',
                            closeOnBgClick: false
                        });
                    }
                    this.loading = true;
                    this.payment.amount = this.amount;
                    this.payment.type = this.sub_type;
                    this.payment.plan_id = this.$store.state.plans.id;
                    axios.post('/subscriptions/payments',this.payment)
                        .then(resp=>{
                            $.magnificPopup.close();
                            this.loading = false;
                            this.showAlert('transaction forwarded successfully','success');
                        })
                        .catch(error=>{
                            this.showAlert('Transaction failed','error');
                            $.magnificPopup.close();
                            this.loading = false;
                        })
                }

            },


        },
        mounted(){
            this.mobiles = JSON.parse(this.operators);
            this.$store.state.plans = JSON.parse(this.plan);
            this.sub_type = this.type;
            this.setting = JSON.parse(this.settings);
        },
        computed:{
          mobileNumber:function () {
              return this.payment.tel;
          }
        },
        watch:{
            'sub_type':function (value) {
                if(value === 'month'){
                    this.amount = (parseFloat(this.$store.state.plans.monthly_amount) * parseFloat(this.setting.vat)/100 + parseFloat(this.$store.state.plans.monthly_amount)).toFixed(2)
                }else if(value === 'year'){
                    this.amount = (parseFloat(this.$store.state.plans.yearly_amount) * parseFloat(this.setting.vat)/100 + parseFloat(this.$store.state.plans.yearly_amount)).toFixed(2)
                }
            }
        }
    }
</script>

<style>
.vue-tel-input > input{
    outline: none;
    border: none !important;
    border-bottom: 1px solid black;
    background: transparent;
    transition: all .5s;
}
.vue-tel-input > input:focus{
    border-bottom: 1px solid black !important;
}
.disabled-link{
    pointer-events: none;
}
    .vue-tel-input{
        border: none !important;
        margin-top: 19px;
    }
.mfp-bg{
    opacity: .8 !important;
}
</style>