<template>
    <div class="row">

        <div class="col-xl-12">

            <!-- Billing Cycle  -->
            <div class="billing-cycle-radios margin-bottom-70">
                <div class="radio billed-monthly-radio">
                    <input id="radio-5" name="radio-payment-type" type="radio" value="month" v-model="subscription.type">
                    <label for="radio-5"><span class="radio-label"></span> Billed Monthly</label>
                </div>

                <div class="radio billed-yearly-radio">
                    <input id="radio-6" name="radio-payment-type" value="year" type="radio" v-model="subscription.type">
                    <label for="radio-6"><span class="radio-label"></span> Billed Yearly <span class="small-label">Save 10%</span></label>
                </div>
            </div>

            <!-- Pricing Plans Container -->
            <div class="pricing-plans-container">


                <!-- Plan -->
                <div class="pricing-plan" v-for="item in $store.state.plans"
                     :class="{recommended:item.name.toLowerCase() === 'basic plan'}">
                    <div v-if="item.name.toLowerCase() === 'basic plan'" class="recommended-badge">Recommended</div>
                    <h3>{{item.name}}</h3>
                    <p class="margin-top-10">One time fee for one listing or task highlighted in search results.</p>
                    <div class="pricing-plan-label billed-monthly-label"><strong>GHS {{item.monthly_amount}}</strong>/ monthly</div>
                    <div class="pricing-plan-label billed-yearly-label"><strong>GHS {{item.yearly_amount}}</strong>/ yearly</div>
                    <div class="pricing-plan-features">
                        <strong>Features of {{item.name}}</strong>
                        <ul>
                            <li v-for="feature in item.features">{{feature.name}}</li>
                        </ul>
                    </div>
                    <a :href="`/subscriptions/checkout/${item.slug}/${subscription.type}`" class="button plan-button full-width margin-top-20">
                        Buy Now
                    </a>
                </div>

            </div>

        </div>

    </div>
</template>

<script>
    export default {
        name: "index",
        props:['plans'],
        data(){
            return{
                subscription:{
                    type:'month'
                }
            }
        },
        mounted(){
            this.$store.state.plans = JSON.parse(this.plans);
        },
        methods:{

        }
    }
</script>

<style scoped>

</style>