<template>
    <div class="row">

        <!-- Dashboard Box -->
        <div class="col-xl-4">
            <div class="dashboard-box margin-top-0">

                <!-- Headline -->
                <div class="headline">
                    <h3 v-if="jobs.data.length > 0"><i class="icon-material-outline-business"></i> Select Job</h3>
                    <h3 v-else>No Employment History Available</h3>
                </div>

                <div class="content" v-if="jobs.data.length > 0">
                    <ul class="dashboard-box-list">
                        <li v-for="job in jobs.data">
                            <div class="boxed-list-item">
                                <!-- Content -->
                                <div class="item-content">
                                    <h4>{{job.title}}</h4>
                                </div>
                            </div>

                            <a href="#" @click.prevent="fetchEmployees(job)" class="button ripple-effect margin-top-5 margin-bottom-10"><i class="icon-material-outline-thumb-up"></i> Leave a Review</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Pagination -->
            <template v-if="jobs.data.length > 0">
                <div class="clearfix"></div>
                <div class="pagination-container margin-top-40 margin-bottom-0">
                    <nav class="pagination">
                        <ul>
                            <li><a href="#" class="ripple-effect current-page">1</a></li>
                            <li><a href="#" class="ripple-effect">2</a></li>
                            <li><a href="#" class="ripple-effect">3</a></li>
                            <li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
                <div class="clearfix"></div>
                <!-- Pagination / End -->
            </template>


        </div>

        <!-- Dashboard Box -->
        <div class="col-xl-8 content-left-offset" v-if="employees.length > 0">
            <div class="dashboard-box margin-top-0 ">

                <!-- Headline -->
                <div class="headline">
                    <h3><i class="icon-material-outline-face"></i> Rate Employees for <strong>{{currentJob.title}}</strong></h3>
                </div>
                <!-- Freelancers List Container -->
                <div class="freelancers-container freelancers-list-layout">
                    <!--Freelancer -->
                    <div class="freelancer" v-for="(employee,index) in employees">

                        <!-- Overview -->
                        <div class="freelancer-overview">
                            <div class="freelancer-overview-inner">

                                <!-- Bookmark Icon -->
                                <span class="bookmark-icon"></span>

                                <!-- Avatar -->
                                <div class="freelancer-avatar">
                                    <div class="verified-badge"></div>
                                    <a href="single-freelancer-profile.html"><img src="images/user-avatar-big-01.jpg" alt=""></a>
                                </div>

                                <!-- Name -->
                                <div class="freelancer-name">
                                    <h4><a href="#">{{employee.name}} <img class="flag" src="images/flags/gh.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
                                    <!-- Rating -->
                                    <div class="freelancer-rating">
                                        <div class="star-rating" :data-rating="employee.profile.overall_rating"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Details -->
                        <div class="freelancer-details">
                            <div class="freelancer-details-list">
                                <ul>
                                    <li>Rate <strong>₵{{employee.profile.rate}} / hr</strong></li>
                                    <li>Success <strong>{{employee.profile.job_success}}%</strong></li>
                                    <li>Location <strong>{{getLocation(employee.profile.location)}}</strong></li>
                                </ul>
                            </div>
                            <a href="#" @click.prevent="showModal(employee,index)" class="button button-sliding-icon ripple-effect">
                                <span v-if="employee.review.id">Edit Review</span><span v-else>Leave a Review</span> <i class="icon-material-outline-arrow-right-alt"></i></a>
                        </div>
                    </div>
                    <!-- Freelancer / End -->
                </div>
                <!-- Tasks Container / End -->
            </div>
        </div>

        <div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

            <!--Tabs -->
            <div class="sign-in-form">

                <ul class="popup-tabs-nav">
                </ul>

                <div class="popup-tabs-container">

                    <!-- Tab -->
                    <div class="popup-tab-content" id="tab2">

                        <!-- Welcome Text -->
                        <div class="welcome-text">
                            <h3 v-if="currentEmployee.review.id">Edit Review</h3>
                            <h3 v-else>Leave a Review</h3>
                            <span>Rate <a href="#">{{currentEmployee.name}}</a> for the job <a href="#">{{currentJob.title}}</a> </span>
                        </div>
                        <!-- Form -->
                        <form method="post" id="leave-review-form" @submit.prevent="saveReview">
                            <div class="feedback-yes-no">
                                <strong>Your Rating</strong>
                                <div class="leave-rating">
                                    <input v-model="review.rating" type="radio" name="rating" id="rating-radio-1" value="1" required>
                                    <label  for="rating-radio-1" class="icon-material-outline-star"></label>
                                    <input v-model="review.rating" type="radio" name="rating" id="rating-radio-2" value="2" required>
                                    <label for="rating-radio-2" class="icon-material-outline-star"></label>
                                    <input type="radio" name="rating" v-model="review.rating" id="rating-radio-3" value="3" required>
                                    <label for="rating-radio-3" class="icon-material-outline-star"></label>
                                    <input type="radio" name="rating" v-model="review.rating" id="rating-radio-4" value="4" required>
                                    <label for="rating-radio-4" class="icon-material-outline-star"></label>
                                    <input type="radio" name="rating" id="rating-radio-5" v-model="review.rating" value="5" required>
                                    <label for="rating-radio-5" class="icon-material-outline-star"></label>
                                </div><div class="clearfix"></div>
                            </div>
                            <div class="feedback-yes-no">
                                <strong>Your Recommendation</strong>
                                <div class="leave-rating">
                                    <input type="radio" name="recommendation" v-model="review.recommendation" id="recommendation-radio-1" value="1" required>
                                    <label for="recommendation-radio-1"  class="icon-material-outline-star"></label>
                                    <input type="radio" name="recommendation" v-model="review.recommendation" id="recommendation-radio-2" value="2" required>
                                    <label for="recommendation-radio-2" class="icon-material-outline-star"></label>
                                    <input type="radio" name="recommendation" v-model="review.recommendation" id="recommendation-radio-3" value="3" required>
                                    <label for="recommendation-radio-3" class="icon-material-outline-star"></label>
                                    <input type="radio" name="recommendation" v-model="review.recommendation" id="recommendation-radio-4" value="4" required>
                                    <label for="recommendation-radio-4" class="icon-material-outline-star"></label>
                                    <input type="radio" name="recommendation" id="recommendation-radio-5" v-model="review.recommendation" value="5" required>
                                    <label for="recommendation-radio-5" class="icon-material-outline-star"></label>
                                </div><div class="clearfix"></div>
                            </div>

                            <textarea class="with-border" v-model="review.comment" placeholder="Comment" name="message2" id="message2" cols="7" required></textarea>

                        </form>
                        <!-- Button -->
                        <button  class="button full-width button-sliding-icon ripple-effect" type="submit" form="leave-review-form">
                            <span v-if="currentEmployee.review.id">Edit Review</span><span v-else>Update Review</span> <i class="icon-material-outline-arrow-right-alt"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "review",
    props:['works'],

    data(){
          return {
              jobs:[],
              path:'',
              employees:[],
              currentJob:{},
              currentEmployee:{review:{}},
              review:{},
              currentIndex:0
          }
    },
     methods: {
         showModal(employee,index){
            this.currentEmployee = employee;
            this.review = employee.review;
            this.currentIndex = index;
             $.magnificPopup.open({
                 items: {
                     src: '#small-dialog'
                 },
                 type: 'inline'
             })
         },
         showAlert(message,type){
             new Noty({
                 theme:'mint',
                 text: message,
                 layout:'topRight',
                 progressBar:true,
                 timeout:3000,
                 type:type

             }).show();
         },
         fetchEmployees(job){
         this.currentJob = job;
            axios.get(`/reviews-employees/${job.id}`)
                .then(resp=>{
                    this.employees = resp.data;
                })
                .catch(error=>{})
         },
         saveReview(){
             this.review.user_id = this.currentEmployee.id;
             this.review.work_id = this.currentJob.id;
             if(this.currentEmployee.review.id){
                 //update here
                 axios.put(`/reviews/${this.currentEmployee.review.id}`,this.review)
                     .then(resp=>{
                         this.currentEmployee.review = resp.data;
                         this.employees.splice(this.currentIndex,1);
                         this.employees.unshift(this.currentEmployee);
                         $.magnificPopup.close();
                         this.showAlert('review updated successfully','success');
                     })
                     .catch(error=>{})

             }else{
                 axios.post('/reviews',this.review)
                     .then(resp=>{
                         this.currentEmployee.review = resp.data;
                         this.employees.splice(this.currentIndex,1);
                         this.employees.unshift(this.currentEmployee);
                         $.magnificPopup.close();
                         this.showAlert('review saved successfully','success');
                     })
                     .catch(error=>{})
             }

         },
         getLocation(loc){
             if(loc){
                 let location = loc.split(',');
                 if(location.length > 2){
                     return location[1];
                 }else{
                     let new_loc = location[0].split(',');
                     if(new_loc.length > 0){
                         return new_loc[0];
                     }else{
                         return location[0];
                     }
                 }
             }else{
                 return 'Not Set';
             }

         }
    },
    mounted(){
        this.jobs = JSON.parse(this.works);
        this.path = this.jobs.path;
    }
}
</script>

<style>
.mfp-bg {
    opacity: 0.8;
}

</style>
