<template>
    <div class="authentication-form mx-auto">
        <div class="logo-centered">
            <a href="#">
                <img src="/logo/logo.png" alt="logo">
            </a>
        </div>
        <h3>Sign In To JBS Admin</h3>
        <form method="post" autocomplete="off" @submit.prevent="attempLogin">
            <div class="group material-input">
                <input type="text" autofocus v-model="email" required autocomplete="off" name="email">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email</label>
            </div>
            <div class="group material-input">
                <input v-model="password" type="password" required autocomplete="off" name="password">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Password</label>
            </div>
            <div class="row">
                <div class="col text-left">
                    <div class="styled-checkbox">
                        <input type="checkbox" v-model="remember" name="checkbox" id="remeber">
                        <label for="remeber">Remember me</label>
                    </div>
                </div>
                <div class="col text-right">
                    <a href="pages-forgot-password.html">Forgot Password ?</a>
                </div>
            </div>
            <div class="sign-btn text-center">
                <button type="submit"  class="btn btn-lg btn-gradient-01 ld-ext-right" :class="{'running':loading}" :disabled="loading">
                    Login
                    <div class="ld ld-ring ld-spin"></div>
                </button>
            </div>
        </form>

    </div>
</template>

<script>
    export default {
        name: "signin",
        data(){
            return {
                remember:true,
                email:'',
                password:'',
                loading:false
            }

        },
        methods:{
            attempLogin(){
                this.loading = true;
                axios.post('/admin/login',{email:this.email,password:this.password})
                    .then(resp=>{
                        if(resp.status == 200){
                            location.replace(resp.data.url);
                        }

                    }).catch(error=>{
                    this.errors = error.response.data.error;
                    let loginError = this.errors;

                    new Noty({
                            theme:'mint',
                            text: loginError,
                        layout:'topRight',
                        progressBar:true,
                        timeout:3000,
                        type:'error'

                }).show();
                    this.loading = false;
                })
            }
        }
    }
</script>

<style scoped>

</style>
