<template>
    <div class="row">
        <!-- Dashboard Box -->
        <div class="col-xl-12" v-if="jobs.length > 0">
            <div class="dashboard-box margin-top-0">

                <!-- Headline -->
                <div class="headline">
                    <h3><i class="icon-material-outline-business-center"></i> Bookmarked Jobs</h3>
                </div>

                <div class="content">
                    <ul class="dashboard-box-list">
                        <li v-for="(item,index) in jobs">
                            <!-- Job Listing -->
                            <div class="job-listing">
                                <div class="job-listing-company-logo">
                                    <img v-if="item.work.company.logo" :src="item.work.company.logo" alt="">
                                    <img v-else src="/images/company-logo-01.png" alt="">
                                </div>
                                <!-- Job Listing Details -->
                                <div class="job-listing-details">
                                    <div class="job-listing-description">
                                        <h3 class="job-listing-title"><a href="#">{{item.work.title}}</a></h3>
                                        <!-- Job Listing Footer -->
                                        <div class="job-listing-footer">
                                            <ul>
                                                <li><i class="icon-material-outline-location-on"></i> {{item.work.location}}</li>
                                                <li><i class="icon-material-outline-account-balance-wallet"></i> {{item.work.min_salary}} - {{item.work.max_salary}}</li>
                                                <!--<li><i class="icon-material-outline-access-time"></i> {{item.product.human_diff}}</li>-->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Buttons -->
                            <div class="buttons-to-right">
                                <a :href="`/jobs/${item.work.slug}/apply`"
                                   class="button blue ripple-effect ico" title="Details" data-tippy-placement="left">
                                    <i class="icon-feather-eye"></i></a>
                                <a href="#" @click.prevent="removeWorkBookmark(item.id,index)"
                                   class="button red ripple-effect ico" title="Remove" data-tippy-placement="left">
                                    <i class="icon-feather-trash-2"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-12" v-if="$store.state.products.length > 0">
            <div class="dashboard-box" :class="{'margin-top-0':!jobs.length > 0}">

                <!-- Headline -->
                <div class="headline">
                    <h3><i class="icon-brand-product-hunt"></i> Bookmarked Products</h3>
                </div>

                <div class="content">
                    <ul class="dashboard-box-list">
                        <li v-for="(item,index) in $store.state.products">
                            <!-- Job Listing -->
                            <div class="job-listing">

                                <!-- Job Listing Details -->
                                <div class="job-listing-details">
                                    <!-- Logo -->
                                    <a href="#" class="job-listing-company-logo">
                                        <img v-if="item.product.avatars.length > 0" :src="item.product.avatars[0].name" alt="">
                                        <img v-else src="/images/company-logo-05.png" alt="">
                                    </a>
                                    <!-- Details -->
                                    <div class="job-listing-description">
                                        <h3 class="job-listing-title"><a href="#">{{item.product.title}}</a></h3>
                                        <!-- Job Listing Footer -->
                                        <div class="job-listing-footer">
                                            <ul>
                                                <li v-if="item.product.negotiable">
                                                    <i class="icon-material-outline-business"></i> {{item.product.negotiable?'Negotiable':''}}
                                                </li>
                                                <li><i class="icon-material-outline-location-on"></i> {{item.product.location}}</li>
                                                <li><i class="icon-material-outline-account-balance-wallet"></i> {{item.product.price}}</li>
                                                <li><i class="icon-material-outline-access-time"></i> {{item.product.human_diff}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Buttons -->
                            <div class="buttons-to-right">
                                <a :href="`/products/buy/${item.product.slug}`"
                                   class="button blue ripple-effect ico" title="Details" data-tippy-placement="left">
                                    <i class="icon-feather-eye"></i></a>
                                <a href="#" @click.prevent="bookmark(item.product.id,index)"
                                   class="button red ripple-effect ico" title="Remove" data-tippy-placement="left">
                                    <i class="icon-feather-trash-2"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "index",
        props:['products','works'],
        data(){
            return {
                jobs:[]
            }
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            bookmark(id,index){
                if(confirm('Are You sure about this?')){
                    axios.get(`/products/bookmark/${id}`)
                        .then(resp=>{
                            this.$store.state.products.splice(index,1);
                            this.showAlert('Bookmark removed successfully','success');
                        })
                        .catch(error=>{
                            this.showAlert('sorry an error occurred','error')
                        })
                }
            },
            removeWorkBookmark(id,index){
                if(confirm('Are You sure about this?')){
                    axios.get(`/job/remove-bookmark/${id}`)
                        .then(resp=>{
                            this.jobs.splice(index,1);
                            this.showAlert('Bookmark removed successfully','success');
                        })
                        .catch(error=>{
                            this.showAlert('sorry an error occurred','error')
                        })
                }
            }

        },
        mounted(){
            this.$store.state.products = JSON.parse(this.products);
            this.jobs = JSON.parse(this.works);
        }
    }
</script>

<style scoped>

</style>