<template>
    <form @submit.prevent="submitForm">
        <div class="input-group">
            <input ref="avatar" type="file" @change="changeAvatar" class="form-control">
            <button class="btn btn-primary" type="submit">Go</button>
        </div>
    </form>
</template>

<script>
    export default {
        name: "profile",
        data(){
          return{
              avatar:''
          }
        },
        methods:{
            changeAvatar(){
                this.avatar = this.$refs.avatar.files[0];
            },
            submitForm(){

            }
        }
    }
</script>

<style scoped>

</style>