<template>
    <!-- End Left Sidebar -->
    <div class="content-inner">
        <div class="container-fluid">
            <!-- Begin Page Header-->
            <div class="row">
                <div class="page-header">
                    <div class="d-flex align-items-center">
                        <h2 class="page-header-title">Dashboard</h2>
                        <!--<div>
                            <div class="page-header-tools">
                                <a class="btn btn-gradient-01" href="#">Add Widget</a>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
            <!-- End Page Header -->
            <social-component></social-component>
            <!-- Begin Row -->
            <div class="row flex-row">
                <div class="col-xl-6 col-md-6">
                    <!-- Begin Widget 09 -->
                    <div class="widget widget-09 has-shadow">
                        <!-- Begin Widget Header -->
                        <div class="widget-header d-flex align-items-center">
                            <h2>Plans & Subscriptions</h2>
                        </div>
                        <!-- End Widget Header -->
                        <!-- Begin Widget Body -->
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-xl-12 col-12 d-flex flex-column my-auto no-padding text-center">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="some-stats mb-4">
                                                <div class="title">Total Plans</div>
                                                <div class="number text-secondary">{{total_plans}}</div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="some-stats mb-4">
                                                <div class="title">Total Subscriptions</div>
                                                <div class="number text-secondary">{{total_subs}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-12 p-0">
                                    <div>
                                        <subscription-chart-component :chartdata="subscription_chart_data" :height="250"></subscription-chart-component>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Widget 09 -->
                </div>
                <div class="col-xl-6 col-md-6 col-sm-6">
                    <!-- Begin Widget 02 -->
                    <div class="widget widget-02 has-shadow">
                        <!-- Begin Widget Header -->
                        <div class="widget-header d-flex align-items-center">
                            <h2>Jobs Overview</h2>
                        </div>
                        <div class="chart">
                            <job-overview :height="300" :chartdata="jobs_overview"></job-overview>
                        </div>
                    </div>
                    <!-- End Widget 02 -->
                </div>
            </div>
            <!-- End Row -->
            <!-- Begin Row -->
            <div class="row flex-row">
                <div class="col-xl-4 col-md-6">
                    <!-- Begin Widget 04 -->
                    <div class="widget widget-04 has-shadow">
                        <!-- Begin Widget Header -->
                        <div class="widget-header bordered d-flex align-items-center">
                            <h2>Post</h2>
                        </div>
                        <!-- End Widget Header -->
                        <!-- Begin Widget Body -->
                        <div class="widget-body p-0">
                            <div class="post-container">
                                <div class="media mb-3">
                                    <div class="media-left align-self-center user">
                                        <a href="#"><img src="/assets/img/avatar/avatar-07.jpg" class="rounded-circle" alt="..."></a>
                                    </div>
                                    <div class="media-body align-self-center ml-3">
                                        <div class="title">
                                            <span class="username">Lisa Garett</span> commented on your post
                                        </div>
                                        <div class="time">42 min ago</div>
                                    </div>
                                </div>
                                <!--<img src="/assets/img/background/01.jpg" alt="..." class="img-fluid">-->
                                <!--Put text here-->
                               <!-- <div class="col no-padding d-flex justify-content-end mt-3">
                                    <div class="meta">
                                        <ul>
                                            <li><a href="#"><i class="la la-comment"></i><span class="numb">38</span></a></li>
                                            <li><a href="#"><i class="la la-heart"></i><span class="numb">94</span></a></li>
                                        </ul>
                                    </div>
                                </div>-->
                            </div>
                            <!-- Begin Write Comment -->
                            <div class="input-group mt-5">
                                <input type="text" class="form-control pr-0" placeholder="Write a comment ...">
                                <span class="input-group-addon">
                                                <button class="btn" type="button">
                                                    <i class="la la-smile-o la-2x"></i>
                                                </button>
                                            </span>
                                <span class="input-group-addon">
                                                <button class="btn pr-3" type="button">
                                                    <i class="la la-pencil la-2x"></i>
                                                </button>
                                            </span>
                            </div>
                            <!-- End Write Comment -->
                        </div>
                        <!-- End Widget Body -->
                    </div>
                    <!-- End Widget 04 -->
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="widget-36 widget has-shadow">
                        <!-- Begin Widget Body -->
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-xl-12 text-center mt-5 mb-5">
                                    <div class="nb-visitors">
                                        New Users
                                    </div>
                                    <div class="visitors-nb text-gradient-02">
                                        {{users}}
                                    </div>
                                </div>
                                <div class="col-xl-6 text-center mt-5">
                                    <p class="text-dark">Registrations</p>
                                    <div class="mt-2">
                                        <label>
                                            <input class="toggle-checkbox" type="checkbox" checked>
                                            <span>
                                                            <span></span>
                                                        </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Widget Body -->
                    </div>
                </div>
                <div class="col-xl-4">
                    <!-- Begin Widget 06 -->
                    <div class="widget widget-06 has-shadow">
                        <div class="widget-body p-0">
                            <div id="list-group" class="widget-scroll" style="max-height:490px;">
                                <ul class="reviews list-group w-100">
                                    <!-- 01 -->
                                    <li v-for="user in all_ratings" class="list-group-item">
                                        <div class="media">
                                            <div class="media-left align-self-start">
                                                <img src="/assets/img/avatar/avatar-02.jpg" class="user-img rounded-circle" alt="...">
                                            </div>
                                            <div class="media-body align-self-center">
                                                <div class="username">
                                                    <h4>{{`${user.firstname} ${user.lastname}`}}</h4>
                                                </div>
                                                <div class="msg">
                                                    <div class="stars">
                                                        <i v-for="star in parseInt(user.overall_rating)" class="la la-star"></i>
                                                        <!--<i class="la la-star-half-empty"></i>-->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="media-right pr-3 align-self-center">
                                                <div class="like text-center">
                                                    <i class="ion-heart"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- End 01 -->
                                </ul>
                            </div>
                            <!-- End List -->
                        </div>
                        <!-- End Widget Body -->
                    </div>
                    <!-- End Widget 06 -->
                </div>
            </div>
            <!-- End Row -->
        </div>
        <!-- End Container -->
        <!-- Begin Page Footer-->
        <footer class="main-footer">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-center">
                    <p class="text-gradient-02">Design By Saerox</p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-end justify-content-lg-end justify-content-md-end justify-content-center">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="documentation.html">Documentation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="changelog.html">Changelog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- End Page Footer -->
        <a href="#" class="go-top"><i class="la la-arrow-up"></i></a>
    </div>
    <!-- End Content -->
</template>

<script>
    import SocialComponent from './social-media.vue';
    import SubscriptionChartComponent from './charts/subscriptions.vue'
    import JobOverview from './charts/jobs-overview.vue'
    export default {
        name: "index",
        props:['plans','jobOverview','topRatings','users'],
        data(){
            return{
                plan_subscriptions:[],
                subscription_chart_data:{
                    labels: [],
                    datasets: [
                        {
                            backgroundColor: [
                                "#FF6384",
                                "#4BC0C0",
                                "#36A2EB"
                            ],
                            label: 'Subscriptions',
                            data: []
                        }
                    ]
                },
                jobs_overview:{},
                total_subs:0,
                total_plans:0,
                all_ratings :[]
            }
        },
        components:{
            SocialComponent,
            SubscriptionChartComponent,
            JobOverview
        },
        methods:{
            setSubscriptions(labels,data){
                this.subscription_chart_data={
                    labels: labels,
                    datasets: [
                        {
                            backgroundColor: [
                                "#FF6384",
                                "#4BC0C0",
                                "#36A2EB"
                            ],
                            label: 'Subscriptions',
                            data: data
                        }
                    ]
                }
            },
            setTotalSubscriptions(){
                let sum = 0;
                this.plan_subscriptions.subs.forEach((value,key)=>{
                    sum += value;
                })
                return sum;
            },
            setJobOverview(labels,data){
                this.jobs_overview={
                    datasets: [{
                        data: data,
                        backgroundColor: [
                            "#FF6384",
                            "#4BC0C0",
                            "#36A2EB",
                            "#42b9f4",
                            "#a041f4",
                        ],
                        label: 'Jobs'
                    }],
                    // These labels appear in the legend and in the tooltips when hovering different arcs
                    labels: labels
                }
            }

        },
        created(){
            this.all_ratings = JSON.parse(this.topRatings)
            this.plan_subscriptions = JSON.parse(this.plans);
            if(this.plan_subscriptions){
                this.setSubscriptions(this.plan_subscriptions.plans,this.plan_subscriptions.subs);
                this.setTotalSubscriptions();
                this.total_subs = this.setTotalSubscriptions();
                this.total_plans = this.plan_subscriptions.subs.length;
            }
            let overviewsOfJobs = JSON.parse(this.jobOverview);
            this.setJobOverview(overviewsOfJobs.labels,overviewsOfJobs.data);
        }
    }
</script>

<style scoped>

</style>