<template>
    <div class="col-md-12">
        <div class="widget has-shadow">
            <div class="widget-header">
                Create Post
            </div>
            <div class="widget-body">
                <form autocomplete="off" method="post" @submit.prevent="savePost">
                    <div class="form-group">
                        <label for="" class="control-label">Title</label>
                        <input autofocus type="text" v-model="post.title" placeholder="Enter Title" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Body</label>
                        <textarea v-model="post.body" required placeholder="Enter Post Here" name="" id="" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <div class="form-group row d-flex align-items-center mb-5">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <div class="styled-checkbox">
                                    <input v-model="post.featured" type="checkbox" name="checkbox" id="check-1">
                                    <label for="check-1">Featured</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="" class="control-label">Tag</label>
                                <br>
                                <select v-model="post.post_tag_id" class="selectpicker show-menu-arrow">
                                    <option v-for="item in tags" :value="item.id">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <div class="form-group">
                                    <label for="" class="control-label">Avatar</label>
                                    <input ref="avatarsfile" @change="changeAvatar" type="file" class="form-control" accept="image/*" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit"  class="float-right btn btn-success mr-1 mb-2 ld-ext-right" :class="{'running':loading}" :disabled="loading">
                        <i class="la la-check">
                        </i>Success
                        <div class="ld ld-ring ld-spin"></div>
                    </button>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "create",
        props:['tag'],
        data(){
            return{
                tags:[],
                post:{},
                formData:{},
                avatar:'',
                loading:false
            }
        },
        methods:{
            changeAvatar(){
                this.avatar = this.$refs.avatarsfile.files[0];
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            savePost(){
                this.loading = true;
                this.formData = new FormData();
                this.formData.append('post',JSON.stringify(this.post));
                this.formData.append('avatar',this.avatar);
                axios.post('/admin/blog/posts',this.formData,{headers: {'Content-Type': 'multipart/form-data'}})
                    .then(resp=>{
                        this.loading = false;
                        this.post = {};
                        this.showAlert('Post Saved Successfully','success');
                    })
                    .catch(error=>{
                        this.showAlert('sorry an error occurred','error')
                        this.loading = false;
                    })
            }
        },
        mounted(){
            this.tags = JSON.parse(this.tag)
        }
    }
</script>

<style scoped>

</style>