<template>
    <div class="row">
        <div class="col-md-12">
            <div class="widget has-shadow">
                <div class="widget-header">
                    All Posts
                </div>
                <div class="widget-body">
                    <div class="table-responsive table-scroll padding-right-10">
                        <data-tables  v-loading="loading" :stripe="true" :data="posts" :pagination-props="{ pageSizes: [10, 15,30] }">
                            <el-table-column :prop="'title'" :label="'Title'" :key="'Title'" width="400" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'posted_on'" :label="'Posted On'" :key="'Posted On'" width="100" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'user.name'" :label="'Posted By'" :key="'Posted By'" width="150" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'featured'" :label="'Featured'" :key="'Featured'" width="100" :class="'text-center'">
                                <template slot-scope="scope">
                                    <el-tag v-if="scope.row.featured" type="success"
                                            disable-transitions>yes</el-tag>
                                    <el-tag v-else type="danger"
                                            disable-transitions>no</el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column :prop="'tag.name'" :label="'Tag'" :key="'Tag'" width="130" :class="'text-center'">
                                <template slot-scope="scope">
                                    <el-tag
                                            type="success"
                                            disable-transitions>{{scope.row.tag.name}}</el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column label="Actions" align="right" fixed="right" width="120">
                                <template slot-scope="scope">
                                    <button type="button" @click="showModal(scope.$index, scope.row)"
                                            class="btn btn-primary btn-sm">
                                        <i class="ion-edit"></i>
                                    </button>
                                    <button type="button" @click="deletePost(scope.$index, scope.row.id)"
                                            class="btn btn-danger btn-sm">
                                        <i class="ion-trash-a"></i>
                                    </button>
                                </template>

                            </el-table-column>
                        </data-tables>
                    </div>
                </div>
            </div>
        </div>
        <div id="editModal" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Modal Title</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">close</span>
                        </button>
                    </div>
                    <form autocomplete="off" method="post" @submit.prevent="savePost">
                    <div class="modal-body">
                                <div class="form-group">
                                    <label for="" class="control-label">Title</label>
                                    <input autofocus type="text" v-model="currentpost.title" placeholder="Enter Title" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="" class="control-label">Body</label>
                                    <textarea v-model="currentpost.body" required placeholder="Enter Post Here" name="" id="" cols="30" rows="10" class="form-control"></textarea>
                                </div>
                                <div class="form-group row d-flex align-items-center mb-5">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <div class="styled-checkbox">
                                                <input v-model="currentpost.featured" type="checkbox" name="checkbox" id="check-1">
                                                <label for="check-1">Featured</label>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="control-label">Tag</label>
                                            <br>
                                            <select v-model="currentpost.post_tag_id" class="selectpicker show-menu-arrow">
                                                <option v-for="item in tags" :value="item.id">{{item.name}}</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="" class="control-label">Avatar</label>
                                                <input ref="avatarsfile" @change="changeAvatar" type="file" class="form-control" accept="image/*" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-shadow" data-dismiss="modal">Close</button>
                            <button type="submit"  class="btn btn-primary ld-ext-right" :class="{'running':loading}" :disabled="loading">
                                <i class="la la-check">
                                </i>Save
                                <div class="ld ld-ring ld-spin"></div>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "index",
        props:['post','tag'],
        data(){
            return{
                posts:[],
                loading:false,
                currentpost:{},
                tags:[]
            }
        },
        methods:{
            showModal(index, row){
                this.currentpost = row;
                $('#editModal').modal('show');
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            changeAvatar(){},
            deletePost(index,id){
                if(confirm('Are You sure')){
                    this.loading = true;
                    axios.delete('/admin/blog/posts/'+id)
                        .then(resp=>{
                            this.posts.splice(index,1);
                            this.loading = false;
                            this.showAlert('Post removed successfully','success')
                        })
                        .catch(error=>{
                            this.loading = false;
                            this.showAlert('sorry an error occurred');
                        })
                }
            }
        },
        mounted(){
            this.posts = JSON.parse(this.post);
            this.tags = JSON.parse(this.tag)
        }
    }
</script>

<style scoped>

</style>