<template>
    <div class="row">
        <div class="col-md-12">
            <div class="widget has-shadow">
                <div class="widget-header">
                    All Users
                </div>
                <div class="widget-body">
                    <div class="table-responsive table-scroll padding-right-10">
                        <data-tables  v-loading="loading" stripe="true" :data="all_users" :pagination-props="{ pageSizes: [5,10, 15,25,30] }">
                            <el-table-column prop="name" label="Name" key="name">
                            </el-table-column>
                            <el-table-column prop="email" label="Email" key="email">
                                <template slot-scope="scope">
                                    <a :href="`mailto : ${scope.row.email}`">{{scope.row.email}}</a>
                                </template>
                            </el-table-column>
                            <el-table-column label="Role" key="email">
                                <template slot-scope="scope">
                                    <p class="text-info">{{scope.row.roles[0].name}}</p>
                                </template>
                            </el-table-column>
                            <el-table-column prop="subscribed" label="Subscribed" key="subscribed" >
                                <template slot-scope="scope">
                                    <button type="button"
                                            class="btn btn-sm text-center" :class="{'btn-success':scope.row.subscribed,'btn-danger':!scope.row.subscribed}">
                                        <i v-if="scope.row.subscribed" class="ion-checkmark"></i>
                                        <i v-else class="ion-close"></i>
                                    </button>
                                </template>
                            </el-table-column>
                            <el-table-column prop="blocked" label="Blocked" key="blocked" >
                                <template slot-scope="scope">
                                    <button type="button" @click="toggleBlockUser(scope.row.id,scope.$index)"
                                            class="btn btn-sm text-center" :class="{'btn-success':scope.row.blocked,'btn-danger':!scope.row.blocked}">
                                        <i v-if="scope.row.blocked" class="ion-checkmark"></i>
                                        <i  v-else class="ion-close"></i>
                                    </button>
                                </template>
                            </el-table-column>
                            <el-table-column prop="verified" label="Verified" key="verified" >
                                <template slot-scope="scope">
                                    <button type="button"
                                            class="btn btn-sm text-center" :class="{'btn-success':scope.row.verified,'btn-danger':!scope.row.verified}">
                                        <i v-if="scope.row.verified" class="ion-checkmark"></i>
                                        <i v-else class="ion-close"></i>
                                    </button>
                                </template>
                            </el-table-column>
                            <el-table-column label="Location" key="profile.location" >
                                <template slot-scope="scope">
                                    <h4>{{scope.row.profile.location}}</h4>
                                </template>
                            </el-table-column>
                        </data-tables>
                    </div>
                </div>
            </div>
        </div>
        <div id="edit-modal" class="modal modal-top fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Plan</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">close</span>
                        </button>
                    </div>
                    <form method="post" @submit.prevent="attemptEdit">

                        <div class="modal-body">
                            <div class="group material-input">
                                <input v-model="edit_name" type="text" autofocus  required autocomplete="off" placeholder="Plan Name">
                                <span class="bar"></span>
                            </div>
                            <div class="group material-input">
                                <input v-model="month" type="text"  required autocomplete="off" placeholder="Monthly Amount">
                                <span class="bar"></span>
                            </div>
                            <div class="group material-input">
                                <input v-model="year" type="text"  required autocomplete="off" placeholder="Yearly amount">
                                <span class="bar"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-shadow" data-dismiss="modal">Close</button>
                            <button type="submit"  class="btn btn-lg btn-gradient-01 ld-ext-right" :class="{'running':loading}" :disabled="loading">
                                Update
                                <div class="ld ld-ring ld-spin"></div>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    //import AddCategory from './add.vue'
    export default {
        name: "index",
        props:['users'],
        data(){
            return{
                loading:false,currentItem:{},edit_name:'',index:'',month:'',year:'',all_users:[]
            }
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            showModal(index,row){
                this.currentItem = row;
                this.edit_name = row.name;
                this.month = row.monthly_amount;
                this.year = row.yearly_amount;
                this.index = index;
                $('#edit-modal').modal('show');
            },
            toggleBlockUser(id,index){
                if(confirm('Are you sure?')){
                    axios.put(`/admin/manage-users/block/${id}`,{})
                        .then(resp=>{
                            this.all_users.splice(index,1);
                            this.all_users.unshift(resp.data);
                        })
                        .catch(error=>{})
                }
            }

        },
        mounted(){
            this.all_users = JSON.parse(this.users);
        }
    }
</script>

<style scoped>

</style>