<template>
    <div class="row">
        <div class="col-md-12">
            <div class="widget has-shadow">
                <div class="widget-header">
                    Unverified Companies
                </div>
                <div class="widget-body">
                    <div class="table-responsive table-scroll padding-right-10">
                        <data-tables  v-loading="loading" :stripe="true" :data="companies"
                                      @selection-change="handleSelectionChange"
                                      :pagination-props="{ pageSizes: [5,10, 15,20] }">
                            <el-table-column
                                    type="selection"
                                    width="55">
                            </el-table-column>
                            <el-table-column :prop="'name'"  width="250" :label="'Name'" :key="'Name'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'state.ucountry.name'"  width="150" :label="'Country'" :key="'Country'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'state.name'"  width="120" :label="'State'" :key="'State'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'profile.user.name'"  width="200" :label="'Admin'" :key="'Admin'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column  width="250" :label="'Admin Email'" :key="'Admin Email'" :class="'text-center'">
                                <template slot-scope="scope">
                                    <a :href="`mailto: ${scope.row.profile.user.email}`" v-if="scope.row.profile">{{scope.row.profile.user.email}}</a>
                                    <h4 v-else>Not Available</h4>
                                </template>
                            </el-table-column>
                            <el-table-column :prop="'profile.mobile'"  width="150" :label="'Admin Contact'" :key="'Contact'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'location'"  width="250" :label="'Location'" :key="'Location'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column label="Actions" align="right"  fixed="right" width="90">
                                <template slot-scope="scope">
                                    <button type="button" @click="checkVerify(scope.$index, scope.row)" data-toggle="tooltip" data-placement="bottom"
                                            :title="'Verify ' +scope.row.name"
                                            class="btn btn-success btn-sm">
                                        <i class="la la-check"></i>
                                    </button>
                                </template>
                            </el-table-column>
                        </data-tables>
                    </div>
                </div>
            </div>
        </div>
        <!-- Begin Centered Modal -->
        <div id="edit-modal" class="modal fade" v-if="show">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{currentItem.title}}</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6"  v-if="currentItem.avatars.length > 0"  v-for="item in currentItem.avatars">
                                <div  class="avatar-wrapper"  data-tippy-placement="bottom" :title="item.title">
                                    <img class="profile-pic" :src="item.name" alt="" />
                                </div>
                            </div>
                            <div class="col-sm-6" v-else>
                                <h2>No Images</h2>
                            </div>
                            <div class="col-sm-6" v-if="currentItem.user.contacts">
                                <h3>
                                    Contacts
                                </h3>
                                <ul class="list-group">
                                    <li class="list-group-item" v-for="contact in currentItem.user.contacts">
                                        {{contact.contact}}
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-shadow" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Centered Modal -->
    </div>
</template>


<script>
    export default {
        name: "index",
        props:['company'],
        data(){
            return{
                loading:false,selected:[],currentItem:{},show:false,companies:[]
            }
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            handleSelectionChange(data){
                this.selected = data;
            },
            approveSingle(index,id){
                if(confirm('Are You sure you want to perform this action?')){
                    axios.get('/admin/products/approve/'+id)
                        .then(resp=>{
                            this.$store.state.products.splice(index,1);
                            this.showAlert('approved successfully','success');
                        })
                        .catch(error=>{
                            this.showAlert('sorry an error occurred','error');
                        })
                }
            },
            approveBulk(){
                if(this.selected.length > 0){
                    if(confirm('Are You sure you want to perform this action?')){
                        this.loading = true;
                        axios.post('/admin/products/approve-bulk',{data:this.selected})
                            .then(resp=>{
                                this.$store.state.products = resp.data;
                                // this.$store.state.products.splice(index,1);
                                this.showAlert('approved successfully','success');
                                this.loading = false;
                            })
                            .catch(error=>{
                                this.showAlert('sorry an error occurred','error');
                                this.loading = false;
                            })
                    }
                }else{
                    this.showAlert('Please select something','warning');
                }
            },
            getEmail(scope){
                if(scope){
                    return scope.user.email;
                }
                return 'Not Available'
            },
            checkVerify(index,row){
                let data = {};
                data.companyId = row.id;
                data.company = row.name;
                data.user = row.profile.user.name;
                data.email = row.profile.user.email;
                axios.post(`/admin/manage-companies/verify`,data)
                    .then(resp=>{
                    })
            }
        },
        mounted(){
            this.companies = JSON.parse(this.company);
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        }
    }
</script>

<style scoped>

</style>