<template>
    <div class="col-xl-6">
        <div class="dashboard-box">
            <div class="headline">
                <h3><i class="icon-material-baseline-notifications-none"></i> Notifications</h3>
                <button @click.prevent="markAllAsRead" v-if="notes.length > 0" class="mark-as-read ripple-effect-dark" data-tippy-placement="left" data-tippy="" data-original-title="Mark all as read">
                    <i class="icon-feather-check-square"></i>
                </button>
            </div>
            <div class="content">
                <ul class="dashboard-box-list">
                    <template  v-if="notes.length > 0" v-for="(noty,index) in notes">
                        <li v-if="noty.type === 'App\\Notifications\\UpdateProfile'">
                            <a :href="noty.data.data.url">
                                <span class="notification-icon"><i class="icon-material-outline-group"></i></span>
                                <span class="notification-text">
										<strong>{{auth.firstname}} {{auth.lastname}}</strong> {{noty.data.message}}
                                    <span class="color"> {{noty.data.data.from}}</span>
                                </span>
                            </a>
                            <!-- Buttons -->
                            <div class="buttons-to-right single-right-button">
                                <a href="#" @click.prevent="markAsRead(noty.id,index)" class="button ripple-effect ico" data-tippy-placement="left" data-tippy="" data-original-title="Mark as read"><i class="icon-feather-check-square"></i></a>
                            </div>
                        </li>
                        <li v-if="noty.type === 'App\\Notifications\\JobApplication'">
                            <a :href="noty.data.job_url">
                                <span class="notification-icon"><i class="icon-material-outline-business-center"></i></span>
                                <span class="notification-text">
													<strong>{{noty.data.user}}</strong> applied for a job <span class="color">{{noty.data.job}}</span>
												</span>
                            </a>
                            <div class="buttons-to-right">
                                <a href="#" @click.prevent="markAsRead(noty.id,index)" class="button ripple-effect ico" title="Mark as read" data-tippy-placement="left"><i class="icon-feather-check-square"></i></a>
                            </div>
                        </li>
                        <li v-if="noty.type === 'App\\Notifications\\AcceptInterview'" class="notifications-not-read">
                            <a href="#">
                                <span class="notification-icon"><i class="icon-material-outline-group"></i></span>
                                <span class="notification-text">
													<strong>{{noty.data.applicant}}</strong> accepted interview invitation for <span class="color">{{noty.data.job}}</span>
												</span>
                            </a>
                            <div class="buttons-to-right">
                                <a href="#" @click.prevent="markAsRead(noty.id,index)" class="button ripple-effect ico" title="Mark as read" data-tippy-placement="left"><i class="icon-feather-check-square"></i></a>
                            </div>
                        </li>
                        <li v-if="noty.type === 'App\\Notifications\\SendContract'" class="notifications-not-read">
                            <a href="#">
                                <span class="notification-icon"><i class="icon-material-outline-thumb-up"></i></span>
                                <span class="notification-text">
													<strong>You</strong> have a contract offer for the job <span class="color">{{noty.data.work}}</span>
												</span>
                            </a>
                            <div class="buttons-to-right">
                                <a href="#" @click.prevent="markAsRead(noty.id,index)" class="button ripple-effect ico" title="Mark as read" data-tippy-placement="left"><i class="icon-feather-check-square"></i></a>
                            </div>
                        </li>
                        <li v-if="noty.type === 'App\\Notifications\\InterviewNotification'" class="notifications-not-read">
                            <a href="#">
                                <span class="notification-icon"><i class="icon-material-outline-thumb-up"></i></span>
                                <span class="notification-text">
													<strong>You</strong> have an interview invite <span class="color"><!--{{noty.data.work}}--></span>
												</span>
                            </a>
                            <div class="buttons-to-right">
                                <a href="#" @click.prevent="markAsRead(noty.id,index)" class="button ripple-effect ico" title="Mark as read" data-tippy-placement="left"><i class="icon-feather-check-square"></i></a>
                            </div>
                        </li>
                        <li v-if="noty.type === 'App\\Notifications\\PostponeInterview\\RequestPostpone'" class="notifications-not-read">
                            <a href="#">
                                <span class="notification-text">
													<strong>{{noty.data.employee_name}}</strong> suggested a new interview time for the job <span class="color">{{noty.data.work}}</span><strong> {{noty.data.period}}</strong>
												</span>
                            </a>
                            <div class="buttons-to-right">
                                <a href="#" @click.prevent="markAsRead(noty.id,index)" class="button ripple-effect ico" title="Mark as read" data-tippy-placement="left"><i class="icon-feather-check-square"></i></a>
                            </div>
                        </li>
                        <li v-if="noty.type === 'App\\Notifications\\PostponeInterview\\PostponeStatus'" class="notifications-not-read">
                            <a :href="`/interviews/${noty.id}/${noty.id}`">
                                <span class="notification-icon"><i class="icon-material-outline-bookmarks"></i></span>
                                <span class="notification-text">
													<strong>You</strong> requested for interview rescheduling for the job <span class="color">{{noty.data.work}},
                                    <strong style="color: black"> it was {{noty.data.status}}.</strong>
                                </span>

												</span>
                            </a>
                            <div class="buttons-to-right">
                                <a href="#" @click.prevent="markAsRead(noty.id,index)" class="button ripple-effect ico" title="Mark as read" data-tippy-placement="left"><i class="icon-feather-check-square"></i></a>
                            </div>
                        </li>

                    </template>
                    <template v-if="notes.length <= 0">
                        <li class="notifications-not-read">
                            <span class="notification-icon"><i class="icon-material-outline-group"></i></span>
                            <span class="notification-text">
													<strong>No New Notifications</strong>
                            </span>

                        </li>
                    </template>

                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "notifications",
        props:['notifications','user'],
        data(){
            return{
                notes:[],auth:{}
            }
        },
        methods:{
            markBulk(){},
            markAsRead(id,index){
                axios.get('/notifications/mark/'+id)
                    .then(resp=>{
                        this.notes.splice(index,1);
                    })
                    .catch(error=>{

                    })
            },
            markAllAsRead(){
                axios.post('/mark-all-notifications',{})
                    .then(resp=>{
                        this.notes = [];
                        location.reload();
                    })
                    .catch(error=>{})
            }
        },
        mounted(){
            this.notes = JSON.parse(this.notifications);
            this.auth = JSON.parse(this.user);
        }
    }
</script>

<style scoped>

</style>