<template>
    <div class="col-xl-8">
        <!-- Dashboard Box -->
        <div class="dashboard-box main-box-in-row">
            <div class="headline">
                <h3><i class="icon-feather-bar-chart-2"></i> Your Profile Views</h3>
                <div class="sort-by">
                    <select v-model="selection" class="selectpicker hide-tick">
                        <option value="year">This Year</option>
                        <option value="last-six">Last 6 Months</option>
                        <!--<option value="month">This Month</option>-->
                    </select>
                </div>
            </div>
            <div class="content">
                <!-- Chart -->
                <div class="chart" >
                   <!-- <canvas id="chart" width="100" height="45"></canvas>-->
                    <app-charts v-if="data.length > 0" :height="200" :chart-data="options" ></app-charts>
                    <h2 style="padding: 150px 0 0 0" class="lead text-center" v-else>
                        No Profile Views
                    </h2>
                </div>

            </div>
        </div>
        <!-- Dashboard Box / End -->
    </div>
</template>

<script>
    import AppCharts from './profile-view-chart.vue'
    export default {
        name: "profile-view",
        props:['months','counts'],
        data(){
            return {
                selection:'',
                options:{
                    labels: [],
                    datasets: [
                        {
                            label: 'Views',
                            backgroundColor: '#2e65ff',
                            data: []
                        }
                    ]
                },
                data:[],
                labels:[]

            }
        },
        components:{
            AppCharts
        },
        methods:{
            setGraph(){
                this.options = {
                    labels: this.labels,
                    datasets: [
                        {
                            label: 'Views',
                            backgroundColor: '#2e65ff',
                            data: this.data
                        }
                    ]
                }
            }
        },
        watch:{
            selection:function (value) {
                if(value === 'last-six' || value === 'year'){
                    axios.post('/cs/get-view-count',{data:value})
                        .then(resp=>{
                            this.labels = resp.data.months;
                            this.data = resp.data.counts;
                            this.setGraph()
                        })
                        .catch(resp=>{})
                }
            }
        },
        mounted(){
            this.labels = JSON.parse(this.months);
            this.data = JSON.parse(this.counts);
            this.setGraph();
        }
    }
</script>

<style scoped>

</style>