<!--<template>
    
</template>-->

<script>
    import { Line,mixins } from 'vue-chartjs';
    const { reactiveProp } = mixins;
    export default {
        name: "profile-view-chart",
        extends: Line,
        data(){
            return{
                opts: {

                    layout: {
                        padding: 10,
                    },

                    legend: { display: false },
                    title:  { display: false },

                    scales: {
                        yAxes: [{
                            scaleLabel: {
                                display: false
                            },
                            gridLines: {
                                borderDash: [6, 10],
                                color: "#d8d8d8",
                                lineWidth: 1,
                            },
                        }],
                        xAxes: [{
                            scaleLabel: { display: false },
                            gridLines:  { display: false },
                        }],
                    },

                    tooltips: {
                        backgroundColor: '#333',
                        titleFontSize: 13,
                        titleFontColor: '#fff',
                        bodyFontColor: '#fff',
                        bodyFontSize: 13,
                        displayColors: false,
                        xPadding: 10,
                        yPadding: 10,
                        intersect: false
                    }
                }
            }
        },
        mixins: [reactiveProp],
        mounted () {
            //this.chartData
            // Overwriting base render method with actual data.
            this.renderChart(this.chartData,this.opts)
        }
    }
</script>

<style scoped>

</style>