<template>
    <div class="col-xl-4">

        <!-- Dashboard Box -->
        <!-- If you want adjust height of two boxes
             add to the lower box 'main-box-in-row'
             and 'child-box-in-row' to the higher box -->
        <div class="dashboard-box child-box-in-row">
            <div class="headline">
                <h3><i class="icon-material-outline-note-add"></i> Notes</h3>
            </div>

            <div class="content with-padding">
                <!-- Note -->
                <div class="dashboard-note" v-for="(item,index) in notes" v-if="notes.length > 0">
                    <p>{{item.message}}</p>
                    <div class="note-footer">
                        <span class="note-priority" :class="{low:parseInt(item.priority) === 0,medium:parseInt(item.priority) === 1,high:parseInt(item.priority) === 2}">{{item.priori}}</span>
                        <div class="note-buttons">
                            <a @click.prevent="showModal(item,index)" title="Edit" data-tippy-placement="top"><i class="icon-feather-edit"></i></a>
                            <a @click.prevent="deleteNote(item.id,index)" title="Remove" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <div class="dashboard-note">
                        <h2>No Notes </h2>
                    </div>
                </div>
            </div>
            <div class="add-note-button">
                <a href="#" @click.prevent="showAddModal" class="button full-width button-sliding-icon">Add Note <i class="icon-material-outline-arrow-right-alt"></i></a>
            </div>
        </div>
        <!-- Dashboard Box / End -->
        <div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

            <!--Tabs -->
            <div class="sign-in-form">

                <ul class="popup-tabs-nav">
                    <li>
                        <a href="#tab"><span v-if="!editMode">Add Note</span><span v-else>Edit Note</span></a>
                    </li>
                </ul>
                <div class="popup-tabs-container">
                    <!-- Tab -->
                    <div class="popup-tab-content" id="tab">
                        <!-- Welcome Text -->
                        <div class="welcome-text">
                            <h3>Do Not Forget 😎</h3>
                        </div>
                        <!-- Form -->
                        <form method="post" id="add-note" @submit.prevent="!editMode? addNote():updateNote() ">
                            <select v-model="note.priority" required class="selectpicker with-border default margin-bottom-20" data-size="7" title="Priority">
                                <option value="0">Low Priority</option>
                                <option value="1" selected>Medium Priority</option>
                                <option value="2">High Priority</option>
                            </select>
                            <textarea v-model="note.message" name="textarea" required cols="10" placeholder="Note" class="with-border"></textarea>
                        </form>
                        <!-- Button -->
                        <button class="button full-width button-sliding-icon ripple-effect" type="submit" form="add-note"><span v-if="!editMode">Add Note</span><span v-else>Update Note</span> <i class="icon-material-outline-arrow-right-alt"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "user-notes",
        props:['userNotes'],
        data(){
            return{
                note:{},
                notes:[],
                currentIndex : 0,
                editMode:false
            }
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            addNote(){
                axios.post('add-user-note',this.note)
                    .then(resp=>{
                        this.notes.push(resp.data);
                        $.magnificPopup.close();
                        this.note = {};
                        this.showAlert('note saved successfully','success');
                    })
                    .catch(error=>{})
            },
            deleteNote(id,index){
                if(confirm('are you sure?')){
                    axios.delete(`/delete-user-note/${id}`)
                        .then(resp=>{
                            this.showAlert('note deleted successfully','success');
                            this.notes.splice(index,1)
                        })
                        .catch(error=>{})
                }
            },
            showModal(item,index){
                this.editMode = true;
                this.currentIndex = index;
                this.note = item;
                $.magnificPopup.open({
                    items: {
                        src: '#small-dialog'
                    },
                    type: 'inline'
                });
            },
            updateNote(){
                axios.put(`/edit-user-note/${this.note.id}`,this.note)
                    .then(resp=>{
                        $.magnificPopup.close();
                        this.note = {};
                        this.showAlert('note updated successfully','success');
                    })
                    .catch(error=>{})
            },
            showAddModal(){
                this.note = {};
                this.editMode = false;
                $.magnificPopup.open({
                    items: {
                        src: '#small-dialog'
                    },
                    type: 'inline'
                });
            }
        },
        mounted(){
            this.notes = JSON.parse(this.userNotes);
        }
    }
</script>

<style>
    .mfp-bg{
        opacity: .75 !important;
    }
</style>