<template>
    <div class="full-page-sidebar hidden-sidebar">
        <div class="full-page-sidebar-inner" data-simplebar>
            <form action="" @submit.prevent="filterPosts">

                <div class="sidebar-container">
                    <!-- Keywords -->
                        <div class="sidebar-widget">
                            <h3>Keywords</h3>
                            <div class="keywords-container">
                                <div class="keyword-input-container">
                                    <input v-model="keyword" type="text" class="keyword-input" placeholder="e.g. product title"/>
                                    <button @click.prevent="addKeyword" class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
                                </div>
                                <div class="keywords-list custom-tag-height">
                                    <span v-for="(item,key) in keywords" class="keyword">
                                    <span class="keyword-remove" @click="removeKeyword(key)"></span>
                                    <span class="keyword-text">{{item}}
                                    </span>
                                </span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    <div class="sidebar-widget">
                        <h3>Location</h3>
                        <gmap-autocomplete
                                @place_changed="setPlace">
                        </gmap-autocomplete>
                    </div>

                        <!-- Category -->
                        <div class="sidebar-widget">
                            <h3>Category</h3>
                            <el-select class="with-border" v-model="filters.item_category_id" filterable placeholder="Select">
                                <el-option
                                        v-for="item in $store.state.itemCategories"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="sidebar-widget">
                            <h3>Sub Category</h3>
                            <el-select class="with-border" v-model="filters.item_sub_category_id" filterable placeholder="Select">
                                <el-option
                                        v-for="item in $store.state.itemSubCategories"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="sidebar-widget">
                            <h3>Brands</h3>
                            <el-select class="with-border" v-model="filters.brand_id" filterable placeholder="Select">
                                <el-option
                                        v-for="item in $store.state.brands"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="sidebar-widget">
                            <h3>Models</h3>
                            <el-select class="with-border" v-model="filters.model_id" filterable placeholder="Select">
                                <el-option
                                        v-for="item in $store.state.models"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </div>

                        <!-- Salary -->
                        <div class="sidebar-widget">
                            <h3>Price</h3>
                            <div class="margin-top-55"></div>
                            <!-- Range Slider -->
                            <input id="slider-data" class="range-slider" type="text" value="" data-slider-currency="$" data-slider-min="0" data-slider-max="500000" data-slider-step="100" data-slider-value="[0,1000000]"/>
                        </div>

                </div>
                <!-- Sidebar Container / End -->

                <!-- Search Button -->
                <div class="sidebar-search-button-container">
                    <div class="row">
                        <div class="col-sm-8">
                            <button type="submit" class="button ripple-effect" :class="{'running':loading}" :disabled="loading">
                                <span v-if="!loading"> <i class="icon-feather-search"></i> Search</span>
                                <div v-else style="display:inline-block; margin-left:5px"  class="ld ld-ring ld-spin"></div>
                            </button>
                        </div>
                        <div class="col-sm-4">
                                <button @click.prevent="resetFilters" type="submit" class="button gray ripple-effect">
                                    <span class="icon-material-outline-autorenew"></span>
                                </button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Search Button / End-->

        </div>
    </div>
</template>

<script>
    export default {
        name: "filters",
        data(){
            return {
                filters:{},keyword:'',keywords:[],
                currentPlace : null,currentMarker :{}
                ,loading:false
            }
        },
        methods:{
          filterPosts(){
              this.loading = true;
              if(this.currentMarker != null){
                  this.filters.center = this.currentMarker;
              }
              this.filters.price = $('#slider-data').val();
              this.filters.keywords = this.keywords;
              axios.post('/products/buy/filter',this.filters)
                  .then(resp=>{
                        this.$store.state.products = resp.data;
                        this.loading = false;
                  })
                  .catch(error=>{
                        this.loading = false;
                  })
          },
            resetFilters(){
              this.filters = {};
              this.keywords = [];
              this.$store.state.products = this.$store.state.noFilters;
            },
            addKeyword(){
                if(this.keyword != null){
                    this.keywords.push(this.keyword);
                    this.keyword = null;
                    var under = $('.custom-tag-height');
                    var heightnow = $(under).height();
                    var heightfull = $(under).css({'max-height':'auto', 'height':'auto'}).height();
                    $(under).css({ 'height' : heightnow }).animate({ 'height': heightfull }, 200);
                }
            },
            removeKeyword(key){
                this.keywords.splice(key,1)
                $('.custom-tag-height').css({'height':'auto'}).height();
            },
            setPlace(place) {
                this.currentPlace = place;
                if (this.currentPlace) {
                    const marker = {
                        lat: this.currentPlace.geometry.location.lat(),
                        lng: this.currentPlace.geometry.location.lng()
                    };
                    this.currentMarker = marker;
                    this.$store.state.markers.push({ position: marker });
                    this.$store.state.center = marker;
                    this.currentPlace = null;
                    //make a request to the server to update the data
                    axios.post('/products/buy/filter/map',marker)
                        .then(resp=>{
                            this.$store.state.products = resp.data;
                        })
                        .catch(error=>{})
                }
            },
        },
        watch:{
            itemCategoryId(value){
                axios.get(`/products/end-point/item-sub-categories/${value}`)
                    .then(resp=>{
                        this.$store.state.itemSubCategories = resp.data;
                    })
            },
            brandId(value){
                axios.get(`/products/end-point/brand-models/${value}`)
                    .then(resp=>{
                        this.$store.state.models = resp.data;
                    })
            },
        },
        computed:{
            itemCategoryId(){
                return this.filters.item_category_id;
            },
            brandId(){
                return this.filters.brand_id;
            }
        },
    }
</script>

<style>
    .el-select {
        display: block;
    }
</style>