<template>
    <div class="full-page-container with-map">

        <filter-component></filter-component>
        <!-- Full Page Sidebar / End -->


        <!-- Full Page Content -->
        <div class="full-page-content-container" data-simplebar>
            <div class="full-page-content-inner">

                <h3 class="page-title">Nearby Posts</h3>
                <template v-if="$store.state.products.length > 0">
                    <div class="listings-container grid-layout margin-top-35">

                        <!-- Job Listing -->
                        <a v-for="item in $store.state.products" :href="`/products/buy/${item.slug}`" class="job-listing">

                            <!-- Job Listing Details -->
                            <div class="job-listing-details">
                                <div class="row">

                                    <div class="col-sm-6" v-if="item.avatars.length > 0">
                                        <div  class="avatar-wrapper" data-tippy-placement="bottom" :title="item.title">
                                            <img class="profile-pic" :src="item.avatars[0].name" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6" v-else>
                                        <div  class="avatar-wrapper" data-tippy-placement="bottom" :title="item.title">
                                            <img class="profile-pic" src="/images/company-logo-placeholder-alt.png" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="job-listing-description">
                                            <h4 class="job-listing-company">{{item.user.name}} <span class="verified-badge" title="Verified Employer" data-tippy-placement="top"></span></h4>
                                            <h3 class="job-listing-title">{{item.title}}</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- Job Listing Footer -->
                            <div class="job-listing-footer" style="margin-top: -30px">
                            <span class="bookmark-icon" @click="bookmark(item.id)" :class="{bookmarked:item.bookmarked == true}">

                            </span>
                                <ul>
                                    <li><i class="icon-material-outline-location-on"></i>{{item.location}}</li>
                                    <li><i class="icon-material-outline-account-balance-wallet"></i>{{item.price}}</li>
                                    <li><i class="icon-material-outline-access-time"></i> {{item.human_diff}}</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    <!-- Pagination -->
                    <div class="clearfix"></div>
                    <div class="pagination-container margin-top-20 margin-bottom-20">
                        <nav class="pagination">
                            <ul>
                                <li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                                <li><a href="#" class="ripple-effect current-page">1</a></li>
                                <li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="clearfix"></div>
                </template>
                <template v-else>
                    <div>
                        <h2>No matching data found</h2>
                    </div>
                </template>

                <!-- Pagination / End -->

                <!-- Footer -->
                <footer-component></footer-component>

                <!-- Footer / End -->

            </div>
        </div>
        <!-- Full Page Content / End -->


        <maps-component></maps-component>

    </div>
</template>

<script>
    import FilterComponent from './filters.vue';
    import FooterComponent from './footer.vue';
    import MapsComponent from './maps.vue';
    export default {
        name: "index",
        props:['products','setting','categories','brands','log'],
        components:{
            FooterComponent,
            FilterComponent,
            MapsComponent
        },
        data(){
            return{
                settings:[],logs:{}
            }
        },
        mounted(){
            this.$store.state.log = JSON.parse(this.log);
            this.$store.state.center = {
                lat: this.$store.state.log.lat,
                lng: this.$store.state.log.lng
            };
            //add marker
            const marker = {
                lat: this.$store.state.log.lat,
                lng: this.$store.state.log.lng
            };
            this.$store.state.markers.push({ position: marker });
            this.$store.state.products = JSON.parse(this.products);
            this.$store.state.noFilters = JSON.parse(this.products);
            this.settings = JSON.parse(this.setting);
            this.$store.state.itemCategories = JSON.parse(this.categories);
            this.$store.state.brands = JSON.parse(this.brands);
        },
        methods:{
            bookmark(id){
                axios.get(`/products/bookmark/${id}`)
                    .then(resp=>{
                    })
                    .catch(error=>{
                    })
            }
        }

    }
</script>

<style scoped>

</style>