<template>
    <!-- Full Page Map -->
    <div class="full-page-map-container">

        <!-- Enable Filters Button -->
        <div class="filter-button-container">
            <button class="enable-filters-button">
                <i class="enable-filters-button-icon"></i>
                <span class="show-text">Show Filters</span>
                <span class="hide-text">Hide Filters</span>
            </button>
            <div class="filter-button-tooltip">Click to expand sidebar with filters!</div>
        </div>

        <!-- Map -->
        <div id="map">
            <GmapMap
                    :center="$store.state.center"
                    :zoom="12"
                    map-type-id="terrain"
                    style="width: 100%; height: 100%;"
            >
                <GmapMarker
                        :key="index"
                        v-for="(m, index) in $store.state.markers"
                        :position="m.position"
                        @click="center=m.position"
                />
            </GmapMap>
        </div>



    </div>
    <!-- Full Page Map / End -->
</template>

<script>
    export default {
        name: "maps",
        data(){
            return{
                places: [],
                currentPlace: null,loading:false
                ,mylocation:{},markers:[],address:'',product:{},center:{}
            }
        },
        methods:{
            setPlace(place) {
                this.currentPlace = place;
            },
            addMarker() {
                if (this.currentPlace) {
                    const marker = {
                        lat: this.currentPlace.geometry.location.lat(),
                        lng: this.currentPlace.geometry.location.lng()
                    };
                    this.markers.push({ position: marker });
                    this.mylocation = this.places = this.currentPlace;
                    this.address = this.mylocation.address_components;
                    this.product.location = this.mylocation.formatted_address;
                    this.center = marker;
                    this.currentPlace = null;
                }
            },
            geolocate: function() {
                /*navigator.geolocation.getCurrentPosition(position => {
                    console.log(position.coords.latitude);
                    console.log(position.coords.longitude);
                    this.center = {
                        lat: parseFloat(position.coords.latitude),
                        lng: parseFloat(position.coords.longitude)
                    };
                });*/

            },
        },
        mounted(){
            this.geolocate();
            let instance = axios.create();
            delete instance.defaults.headers.common['X-CSRF-TOKEN'];
            delete instance.defaults.headers.common['X-Requested-With'];
            instance({
                url:'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + 5.6037168 + ',' + -0.1869644 + '&key=' + 'AIzaSyCg8zyiOfyZ4xaLIqX6-P82Z0VCJG5Cpmg',
                headers:{
                    "Content-Type": "application/json",
                    "Accept": "application/json"
                }
            })
                .then(resp=>{
                    this.mylocation = resp.data.results[5];
                    const marker = {
                        lat: this.mylocation.geometry.location.lat,
                        lng: this.mylocation.geometry.location.lng
                    };
                    this.markers.push({ position: marker });
                    this.address = this.mylocation.address_components;
                    this.product.location = this.mylocation.formatted_address;
                })
        }
    }
</script>

<style scoped>

</style>