<template>
     <div class="widget has-shadow col-md-12" >
                                    <div class="widget-header bordered no-actions d-flex align-items-center">
                                        <h4>Add User</h4>
                                    </div>
                                    <div class="widget-body" >
                                        <form class="needs-validation" novalidate @submit.prevent="attemptPost">
                                            <div class="form-group row d-flex align-items-center mb-5">
                                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">First Name*</label>
                                                <div class="col-lg-5">
                                                    <input type="text" v-model="firstname" class="form-control" required placeholder="Enter your name">
                                                </div>
                                            </div>
 
                                            <div class="form-group row d-flex align-items-center mb-5">
                                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Last Name *</label>
                                                <div class="col-lg-5">
                                                    <input type="text" v-model="lastname" class="form-control" required placeholder="Enter your name">
                                                </div>
                                            </div>

                                            <div class="form-group row d-flex align-items-center mb-5">
                                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Email Address *</label>
                                                <div class="col-lg-5">
                                                    
                                                        <input type="email" v-model="email" class="form-control" placeholder="Enter your email" required>
                                                       
                                                        <div class="invalid-feedback">
                                                            Please enter a valid email
                                                        </div>
                                                    
                                                </div>
                                            </div>
                            
                                            <div class="form-group row d-flex align-items-center mb-5">
                                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Role *</label>
                                                <div class="col-lg-5">
                                                    <div class="select">
                                                        <select name="account" v-model="role" class="custom-select form-control" required>
                                                            <option value="">Select a roles</option>
                                                            <option v-for="roles in roles" v-bind:value="roles.id">{{roles.display_name}}</option>
                                                            
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Please select a roles
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                                                                                                    
                                            <div class="text-right">
                                                <button class="btn btn-gradient-01" type="submit">Add User</button>
                                            </div>
                                        </form>
                                    </div>
     </div>
</template>

<script>
export default {
    name:'adduser',
    props:['roles'],
    data(){
        return{
            firstname:"",
            lastname:"",
            email:"",
            role:"",
            roles:[]
        }
    },

    mounted(){
                this.roles = JSON.parse(this.roles)

        },

      methods:{
            attemptPost(){
                axios.post('/admin/users',{
                firstname:this.firstname,
                lastname:this.lastname,
                email:this.email,
                role:this.role
                })
                    .then(resp=>{
                this.firstname=null;
                this.lastname=null;
                this.email=null;
                this.role=null;

                new Noty({
                                theme:'mint',
                                text: 'User successfully added',
                                layout:'topCenter',
                                progressBar:true,
                                timeout:3000,
                                type:'success'

                            }).show();
                            this.loading = false
                        setTimeout(()=>{
                            location.reload()
                        },2000)
                       
                    })
                    .catch(error=>{
                        this.errors = error.response.data.errors
                        let keys = Object.keys(this.errors)
                        this.key = keys
                        this.finalError = this.errors[this.key[0]]
                        this.showMessage = true
                       $('#loadingButton').prop('disabled',false);
                    

                            new Noty({
                                theme:'mint',
                                text: this.finalError,
                                layout:'topCenter',
                                progressBar:true,
                                timeout:3000,
                                type:'error'

                            }).show();
                    
                    this.loading = false;

                    })
            }
        },

         

    

}
</script>

<style>

</style>
