<template>
<div>
    <div class="col-md-12">
                    <div class="widget has-shadow">
                        <div class="widget-header">
                            All USER
                        </div>
                        <div class="widget-body">
                            <div class="table-responsive table-scroll padding-right-10">
                                <div class="widget has-shadow">
                                    <div class="widget-header bordered no-actions d-flex align-items-center">
                                        <h4>Users</h4>
                                    </div>
                                    <div class="widget-body">
                                        <div class="table-responsive">
                                            <table id="export-table" class="table mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>User ID</th>
                                                        <th>User Name</th>
                                                        <th>Country</th>
                                                        <th>Date OF BIRTH</th>
                                                        <th><span style="width:100px;">AVATAR</span></th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="users in users">
                                                        <td><span class="text-primary">{{users.id}}</span></td>
                                                        <td>{{users.firstname}} {{users.lastname}}</td>
                                                        <td>{{users.nationality}}</td>
                                                        <td>{{users.dob}}</td>
                                                        <td><span style="width:100px;"><span class="badge-text badge-text-small info">avatar</span></span></td>
                                                        <td class="td-actions">
                                                            <a @click="edit(users.id)" data-toggle="modal" data-target="#EditModal" ><i class="la la-edit edit"></i></a>
                                                            <a href="#" @click.prevent="customDelete(index,users.id)"><i class="la la-close delete"></i></a>
                                                        </td>
                                                    </tr>
                                                  
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
      </div>
      
    
<div id="EditModal" class="modal modal-top fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit User Info</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">close</span>
                        </button>
                    </div>
                    <form class="needs-validation" novalidate @submit.prevent="attemptEdit">
                                  <div class="modal-body" >
                                       <div class="widget-body" >
                                        
                                            <div class="form-group row d-flex align-items-center mb-5">
                                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">First Name*</label>
                                                <div class="col-lg-5">
                                                    <input type="text" v-model="firstname" class="form-control" required placeholder="Enter your name">
                                                </div>
                                            </div>
 
                                            <div class="form-group row d-flex align-items-center mb-5">
                                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Last Name *</label>
                                                <div class="col-lg-5">
                                                    <input type="text" v-model="lastname" class="form-control" required placeholder="Enter your name">
                                                </div>
                                            </div>

                                            <div class="form-group row d-flex align-items-center mb-5">
                                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Email Address *</label>
                                                <div class="col-lg-5">
                                                    
                                                        <input type="email" v-model="email" class="form-control" placeholder="Enter your email" required>
                                                       
                                                        <div class="invalid-feedback">
                                                            Please enter a valid email
                                                        </div>
                                                    
                                                </div>
                                            </div>
                                  
                                       
                                       </div>
                                   </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-shadow" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                     </form>
                </div>
            </div>
        </div>


</div>

</template>

<script>
export default {
  name: "users",
        props:['users'],
        data(){
            return{
                firstname:"",
                lastname:"",
                email:"",
                users:[]
                            }
        },


         mounted(){
                this.users = JSON.parse(this.users)

        },

          methods:{
           
            customDelete(index,id){
                if(confirm("Are You sure you want to delete this user?",id)){
                    this.loading = true
                    axios.delete('/admin/users/'+id)
                        .then(resp=>{
                            if (index > -1) {
                                this.categories.splice(index, 1);
                            }
                            new Noty({
                                theme:'mint',
                                text: 'Deleted Successfully',
                                layout:'topRight',
                                progressBar:true,
                                timeout:3000,
                                type:'success'

                            }).show();
                            this.loading = false;
                            setTimeout(()=>{
                            location.reload()
                        },2000)
                        })
                        .catch(resp=>{
                            new Noty({
                                theme:'mint',
                                text: 'Sorry an Error Occurred',
                                layout:'topRight',
                                progressBar:true,
                                timeout:3000,
                                type:'error'

                            }).show();
                            this.loading = false;
                        })
                }
            },
            edit(id){
                this.edit_id = id;
                axios.get('/admin/users/'+id)
                    .then(resp=>{
                        this.lastname = resp.data.lastname;
                        this.firstname = resp.data.firstname;
                        this.email = resp.data.email
                    })
            },

            attemptEdit(){
                axios.put('/admin/users/'+this.edit_id,{
                    firstname:this.firstname,
                    lastname:this.lastname,
                    email:this.email
                    })
                    .then(resp=>{
                        new Noty({
                            theme:'mint',
                            text: 'Editted Successfully',
                            layout:'topRight',
                            progressBar:true,
                            timeout:3000,
                            type:'success'

                        }).show();
                        this.loading = false
                        setTimeout(()=>{
                            location.reload()
                        },2000)
                    })
                    .catch(resp=>{
                        new Noty({
                            theme:'mint',
                            text: 'Sorry an Error Occurred',
                            layout:'topRight',
                            progressBar:true,
                            timeout:3000,
                            type:'error'

                        }).show();
                        this.loading = false;
                    })
            }
        }
}
</script>

<style>

</style>
