<template>
    <div class="row flex-row">
        <sidebar-component @uploadChanged="uploadChanged" :authenticatedUser="authenticatedUser"></sidebar-component>
        <div class="col-xl-9">
            <div class="widget has-shadow">
                <div class="widget-header bordered no-actions d-flex align-items-center">
                    <h4>Update Profile</h4>
                </div>
                <div class="widget-body">
                    <div class="col-10 ml-auto">
                        <div class="section-title mt-3 mb-3">
                            <h4>01. Personnal Informations</h4>
                        </div>
                    </div>
                    <form class="form-horizontal" id="update-form" @submit.prevent="update">
                        <div class="form-group row d-flex align-items-center mb-5">
                            <label class="col-lg-2 form-control-label d-flex justify-content-lg-end">First Name</label>
                            <div class="col-lg-6">
                                <input type="text" required class="form-control" v-model="authenticatedUser.firstname">
                            </div>
                        </div>
                        <div class="form-group row d-flex align-items-center mb-5">
                            <label class="col-lg-2 form-control-label d-flex justify-content-lg-end">Last Name</label>
                            <div class="col-lg-6">
                                <input type="text" required class="form-control" v-model="authenticatedUser.lastname">
                            </div>
                        </div>
                        <div class="form-group row d-flex align-items-center mb-5">
                            <label class="col-lg-2 form-control-label d-flex justify-content-lg-end">Email</label>
                            <div class="col-lg-6">
                                <input type="text" disabled required class="form-control" v-model="authenticatedUser.email">
                            </div>
                        </div>
                        <div class="form-group row d-flex align-items-center mb-5">
                            <label class="col-lg-2 form-control-label d-flex justify-content-lg-end">Phone</label>
                            <div class="col-lg-6">
                                <input type="text" required class="form-control" v-model="authenticatedUser.profile.mobile" placeholder="+00 987 654 32">
                            </div>
                        </div>
                        <div class="form-group row d-flex align-items-center mb-5">
                            <label class="col-lg-2 form-control-label d-flex justify-content-lg-end">Alt Phone</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" v-model="authenticatedUser.profile.alt_mobile">
                            </div>
                        </div>
                        <div class="form-group row d-flex align-items-center mb-5">
                            <label class="col-lg-2 form-control-label d-flex justify-content-lg-end">Location</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" v-model="authenticatedUser.profile.location">
                            </div>
                        </div>
                    </form>
                    <div class="em-separator separator-dashed"></div>
                    <div class="text-right">
                        <button form="update-form" class="btn btn-gradient-01" type="submit" :class="{'running':loading}" :disabled="loading">
                            <span v-if="!loading">Save Changes</span>
                            <div v-else style="display:inline-block; margin-left:5px"  class="ld ld-ring ld-spin"></div>
                        </button>
                        <button class="btn btn-shadow" type="reset">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SidebarComponent from './sidebar.vue'
    export default {
        name: "index",
        props:['user'],
        data(){
            return {
                authenticatedUser:{},
                avatar:null,
                formData:{},
                loading:false
            }
        },
        methods:{
            update(){
                this.loading = true;
                this.formData = new FormData();
                this.formData.append('user',JSON.stringify(this.authenticatedUser));
                this.formData.append('avatar',this.avatar)
                axios.post('/admin/profile',this.formData,{headers: {'Content-Type': 'multipart/form-data'}})
                    .then(resp=>{
                        this.loading = false;
                        console.log(resp.status)
                        if(resp.status !== 200){
                            location.reload();
                        }else{
                            this.showAlert('Profile Updated successfully','success')
                        }
                    })
                    .catch(error=>{
                        this.loading  = false;
                        this.showAlert('Sorry an error occurred','error')
                    })
            },
            uploadChanged(data){
                this.avatar = data.avatar
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
        },
        components:{
            SidebarComponent
        },
        created() {
            this.authenticatedUser = JSON.parse(this.user);
        }
    }
</script>

<style scoped>

</style>