<template>
    <div class="col-xl-3">
        <!-- Begin Widget -->
        <div class="widget has-shadow">
            <div class="widget-body">
                <div class="mt-5 style-edit-button">
                    <img v-if="!this.authenticatedUser.profile.logo" src="/assets/img/avatar/avatar-01.jpg" alt="..." style="width: 120px;" class="avatar rounded-circle d-block mx-auto">
                    <img v-else :src="this.authenticatedUser.profile.logo" alt="..." style="width: 120px;" class="avatar rounded-circle d-block mx-auto">
                    <span @click="selectAvatar" class="la la-pencil"></span>
                </div>
                <input @change="uploadChanged" style="visibility: hidden" type="file" ref="avatar">
                <h3 class="text-center mt-3 mb-1">{{authenticatedUser.name}}</h3>
                <p class="text-center">{{authenticatedUser.email}}</p>
                <div class="em-separator separator-dashed"></div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)"><i class="la la-user la-2x align-middle pr-2"></i>Profile</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Widget -->
    </div>
</template>

<script>
    export default {
        name: "sidebar",
        props:['authenticatedUser'],
        data(){
            return{
                avatar:null,
                avatar_url :null
            }
        },
        methods:{
            selectAvatar(){
                this.$refs.avatar.click();
            },
            uploadChanged(){
                let upload = this.$refs.avatar.files[0];
                let name = upload.name;
                let extensions = ['jpg','png','tiff','gif','jpeg'];
                let extension = name.split('.')[1].toLowerCase();
                let isValid = false;
                extensions.forEach((value,key)=>{
                    console.log(value);
                    if(value === extension){
                        isValid = true;
                        return true;
                    }
                })
                if(isValid){
                    this.avatar = upload;
                    this.authenticatedUser.profile.logo = URL.createObjectURL(upload);
                }else{
                    this.showAlert('Please select an image','error')
                }
                //emit event to send file
                this.$emit('uploadChanged',{avatar:this.avatar});
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
        },
        mounted() {
            this.logo_url = this.authenticatedUser.profile.logo;
        }
    }
</script>

<style>
.style-edit-button{
    position: relative;
}
    .style-edit-button span{
        position: absolute;
        right: 20px;
        font-weight: bolder;
        font-size: 20px;
        bottom: 8px;
        cursor: pointer;
        transition: transform .2s;
    }
.style-edit-button span:hover{
    transform: scale(1.2);
    color: #0f9df0;
}
</style>