<template>
    <div class="col-md-12">
        <div class="widget has-shadow">
            <div class="widget-header">
                Add Item Sub Category Brand
            </div>
            <div class="widget-body">
                <form method="post" @submit.prevent="attemptAdd">
                    <div class="row">
                        <div class="col-md-6">
                                <v-select placeholder="Select Item Sub Categories" required multiple  v-model="item_sub_category" label="name" :options="$store.state.itemCategories"></v-select>
                        </div>
                        <div class="col-md-6">
                                <v-select required multiple v-model="models" placeholder="Select Item Brands"  label="name" :options="$store.state.brands"></v-select>
                        </div>
                    </div>
                    <div class="sign-btn text-right" style="margin-top: 20px">
                        <button type="submit"  class="btn btn-lg btn-gradient-01 ld-ext-right" :class="{'running':loading}" :disabled="loading">
                            Add
                            <div class="ld ld-ring ld-spin"></div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import vSelect from 'vue-select';
    export default {
        name: "add",
        components:{
            vSelect
        },
        data(){
            return{
                loading:false,
                name:'',
               models:'',item_sub_category:''
            }
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            attemptAdd(){
                this.loading = true;
                axios.post('/admin/item-sub-category-model',{brands:this.models,item_sub_categories:this.item_sub_category})
                    .then(resp=>{
                        this.showAlert('Item added successfully','success');
                       this.$store.state.models = resp.data.data;
                        this.models ='';
                        this.item_sub_category='';
                        this.loading = false;
                    })
                    .catch(error=>{
                        if(error.response.status === 501){
                            this.showAlert(`duplicate entry from ${this.name}`,'error');
                        }else if(error.response.status === 422){
                            let keys = Object.keys(error.response.data.errors);
                            let item = keys[0];
                            let finalError = error.response.data.errors[item];
                            this.showAlert(finalError,'error');
                        }
                        else{
                            this.showAlert('sorry an error occurred','error');
                        }
                        this.loading = false;
                    })
            },
        }
    }
</script>

<style scoped>

</style>