<template>
    <div class="row">
        <div class="col-md-12">
            <div class="widget has-shadow">
                <div class="widget-header">
                    Unapproved Products
                </div>
                <div class="widget-body">
                    <div class="table-responsive table-scroll padding-right-10">
                        <data-tables  v-loading="loading" :stripe="true" :data="$store.state.products"
                                      @selection-change="handleSelectionChange"
                                      :pagination-props="{ pageSizes: [5,10, 15,20] }">
                            <el-table-column
                                    type="selection"
                                    width="55">
                            </el-table-column>
                            <el-table-column :prop="'title'"  width="150" :label="'Title'" :key="'Title'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'price'"  width="150" :label="'Price'" :key="'Price'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'category.name'"  width="120" :label="'Category'" :key="'Category'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'sub_category.name'"  width="150" :label="'Sub Category'" :key="'Sub_Category'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'brand.name'"  width="120" :label="'Brand'" :key="'Brand'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'model.name'"  width="120" :label="'Model'" :key="'Model'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'user.name'"  width="150" :label="'User'" :key="'User'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'expiry'"  width="120" :label="'Expiry'" :key="'Expiry'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column label="Actions" align="right"  fixed="right" width="150">
                                <template slot-scope="scope">
                                    <button type="button" @click="approveSingle(scope.$index, scope.row.id)" data-toggle="tooltip" data-placement="bottom"
                                            :title="'Approve ' +scope.row.title"
                                            class="btn btn-success btn-sm">
                                        <i class="ion-checkmark"></i>
                                    </button>
                                    <button type="button" @click="deleteProduct(scope.$index, scope.row.id)" data-toggle="tooltip" data-placement="bottom"
                                            :title="'Delete ' +scope.row.title"
                                            class="btn btn-danger btn-sm">
                                        <i class="ion-trash-a"></i>
                                    </button>
                                    <button type="button" @click="showModal(scope.$index, scope.row)" data-toggle="tooltip" data-placement="bottom"
                                            :title="'Images of ' +scope.row.title"
                                            class="btn btn-primary btn-sm">
                                        <i class="ion-eye"></i>
                                    </button>
                                </template>

                            </el-table-column>
                        </data-tables>
                        <button @click="approveBulk" type="button" class="btn btn-success ripple mr-1 mb-2 ld-ext-right" :class="{'running':loading}" :disabled="loading" style="margin-top: 20px">
                            <span v-if="!loading">Approve <i style="margin-left:5px" class="ion-checkmark"></i></span>
                            <span v-else>Approving</span>
                            <div class="ld ld-ring ld-spin"></div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Begin Centered Modal -->
        <div id="edit-modal" class="modal fade" v-if="show">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{currentItem.title}}</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                       <div class="row">
                           <div class="col-sm-6"  v-if="currentItem.avatars.length > 0"  v-for="item in currentItem.avatars">
                               <div  class="avatar-wrapper"  data-tippy-placement="bottom" :title="item.title">
                                   <img class="profile-pic" :src="item.name" alt="" />
                               </div>
                           </div>
                           <div class="col-sm-6" v-else>
                               <h2>No Images</h2>
                           </div>
                           <div class="col-sm-6" v-if="currentItem.user.contacts">
                               <h3>
                                   Contacts
                               </h3>
                               <ul class="list-group">
                                   <li class="list-group-item" v-for="contact in currentItem.user.contacts">
                                       {{contact.contact}}
                                   </li>
                               </ul>
                           </div>
                       </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-shadow" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Centered Modal -->
    </div>
</template>


<script>
    export default {
        name: "index",
        props:['products'],
        data(){
            return{
                loading:false,selected:[],currentItem:{},show:false
            }
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            handleSelectionChange(data){
                this.selected = data;
            },
            approveSingle(index,id){
                if(confirm('Are You sure you want to perform this action?')){
                    axios.get('/admin/products/approve/'+id)
                        .then(resp=>{
                            this.$store.state.products.splice(index,1);
                            this.showAlert('approved successfully','success');
                        })
                        .catch(error=>{
                            this.showAlert('sorry an error occurred','error');
                        })
                }
            },
            approveBulk(){
                if(this.selected.length > 0){
                    if(confirm('Are You sure you want to perform this action?')){
                        this.loading = true;
                        axios.post('/admin/products/approve-bulk',{data:this.selected})
                            .then(resp=>{
                                this.$store.state.products = resp.data;
                               // this.$store.state.products.splice(index,1);
                                this.showAlert('approved successfully','success');
                                this.loading = false;
                            })
                            .catch(error=>{
                                this.showAlert('sorry an error occurred','error');
                                this.loading = false;
                            })
                    }
                }else{
                    this.showAlert('Please select something','warning');
                }
            },
            showModal(index,row){
                if(row.avatars != null){
                    this.show = true;
                }else{
                    this.show = false;
                }
                this.currentItem = row;
                if(this.show){
                    $("#edit-modal").modal('show');
                }
            },
            deleteProduct(index,id){
                alert(index);
                if(confirm('Are you sure you want to perform this action?')){
                    axios.delete('/products/sell/'+id)
                        .then(resp=>{
                            this.$store.state.products.splice(index,1);
                            this.showAlert('Post deleted successfully','success');
                        }).
                    catch(error=>{
                        this.showAlert('sorry an error occurred','error')
                    })
                }
            }
        },
        mounted(){
            this.$store.state.products = JSON.parse(this.products);
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        }
    }
</script>

<style scoped>

</style>