<template>
    <div class="messages-inbox">
        <div class="messages-headline">
            <div class="input-with-icon">
                <input id="autocomplete-input" type="text" autocomplete="off" @keyup="find" v-model="search_data" placeholder="Search">
                <i class="icon-material-outline-search"></i>
            </div>
        </div>

        <ul>
            <li v-for="(item,index) in $store.state.chats[0]" :key="index" @click.prevent="toggleActive(item.user.id,index)" :class="{'active-message':active == 'active-'+item.user.id}">
                <a href="#">
                    <div class="message-avatar"><i class="status-icon" :class="{'status-online':item.user.online_status}"></i>
                        <img v-if="item.user.profile.avatar" :src="'avatars/status/'+item.user.profile.avatar" alt="" />
                        <img v-else src="/images/user-avatar-placeholder.png" alt="" />
                    </div>

                    <div class="message-by">
                        <div class="message-by-headline">
                            <h5>{{item.user.name}}</h5>
                            <span v-html="item.last_chat" ><!--{{item.last_chat}}--></span>
                        </div>
                        <p>{{item.last_message}}</p>
                        <span v-if="item.unread_messages > 0" class="custom-badge">{{item.unread_messages}}</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "chat-users",
        props:['users'],
        data(){
            return{
                active:'',
                search_data:'',
                all_find_users:[],
                all_users:[]
            }
        },
        methods:{
            toggleActive(id,index){
                this.$emit('getUserConversations',{
                    id:id,
                    index:index
                });
                this.active = 'active-'+id;
                //set the unread messages to zero
                this.$store.state.chats[0][index].unread_messages = 0;
            },
            find(){
                /*this.all_users = this.users;
                this.$emit('findSearch',{
                    searchData:this.search_data
                });*/
                let self = this;
                let results = this.users[0].filter(item =>{
                    return item.user.name.toLowerCase().includes(self.search_data.toLowerCase().trim())
                })
                this.$store.state.chats.unshift(results);
                delete this.$store.state.chats[1];
            }
        },
        mounted(){
            console.log( this.$store.state.activeChat + ' is the active chat')
            this.active = `active-${ this.$store.state.activeChat}`
        }

    }
</script>

<style>
.custom-badge{
    display: inline-block;
    font-weight: 700;
    height: 19px;
    width: 19px;
    line-height: 19px;
    text-align: center;
    color: #fff;
    font-size: 11px;
    background-color: #2a5bec;
    border-radius: 50%;
    position: relative;
    margin: 0 0 10px 0;
    float: right;
}
</style>