<template>
    <div class="message-content-inner" v-chat-scroll>

      <!--  &lt;!&ndash; Time Sign &ndash;&gt;
        <div class="message-time-sign">
            <span>28 June, 2018</span>
        </div>-->

        <div v-for="(data,index) in messages" :key="index">
            <div class="message-time-sign">
                <span>{{index}}</span>
            </div>

            <div v-for="(item,i) in data" :key="i" class="message-bubble" :class="{me:item.sender_id == currentuser.id}">
                <div class="message-bubble-inner">
                    <div class="message-avatar">
                        <img v-if="item.sender_id === currentuser.id" :src="'avatars/status/'+currentuser.profile.avatar" alt="" />
                        <img v-else :src="'avatars/status/'+item.sender.profile.avatar" alt="" />
                        <!--<img v-else src="images/user-avatar-small-01.jpg" alt="" />-->
                    </div>
                    <div class="message-text"><p v-html="item.chat"><!--{{item.chat}}--></p></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--<div class="message-bubble">
            <div class="message-bubble-inner">
                <div class="message-avatar"><img src="images/user-avatar-small-02.jpg" alt="" /></div>
                <div class="message-text">
                    &lt;!&ndash; Typing Indicator &ndash;&gt;
                    <div class="typing-indicator">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>-->
    </div>

</template>

<script>
    export default {
        name: "chatMessageContainer",
        props:['messages','currentuser'],

    }
</script>

<style scoped>

</style>