<template>
    <div class="message-reply">
        <textarea cols="1" rows="1" @keyup.down="downPressed" @keyup.enter="send" placeholder="Your Message" v-model="chatMessage" data-autoresize></textarea>
        <button class="button ripple-effect" @click.prevent="send" :disabled="chatMessage == ''">Send</button>
    </div>
</template>

<script>
    export default {
        name: "chatComposer",
        data(){
            return {
                chatMessage:''
            }
        },
        methods:{
            send(){
                this.$emit('messageSent',{
                    message:this.chatMessage.replace(/\r?\n/g, '<br />'),
                    author:'me'
                });
                this.chatMessage = ''
            },
            downPressed(){
                this.chatMessage = this.chatMessage + '\n';
            }
        }
    }
</script>

<style scoped>

</style>