<template>
    <div class="messages-container-inner">

        <!-- Messages -->
        <real-time-user-component @getUserConversations="getConversations" :users="this.allUsers" @findSearch="findSearch"></real-time-user-component>
        <!-- Messages / End -->

        <!-- Message Content -->
        <div class="message-content">

            <div class="messages-headline">
                <h4 v-if="active_chat_true">{{active_chat_user[0].user.name}}</h4>
                <h4 v-else>No Active Chat</h4>
                <a v-if="active_chat_true" href="#" class="message-action"><i class="icon-feather-trash-2"></i> Delete Conversation</a>
            </div>

            <!-- Message Content Inner -->
            <real-time-messages-all-component v-if="active_chat > 0" :messages="messages" :currentuser="currentUser"></real-time-messages-all-component>
            <!-- Message Content Inner / End -->

            <!-- Reply Area -->
            <real-time-composer-component v-if="active_chat > 0" v-on:messageSent="addMessage"></real-time-composer-component>

        </div>
        <!-- Message Content -->

    </div>
</template>

<script>
    export default {
        name: "realChat",
        props:['users','authentic','audio','today','chat'],
        data(){
          return{
              messages:[],
              allUsers:[],
              allUsersUnderlying:[],
              currentUser:[],
              active_chat:0,
              active_chat_user:'',
              active_chat_true : false,
              active_index :0,
          }
        },
        methods:{
            addMessage(message){
                let new_message = {
                    chat:message.message,
                    receiver_id:this.active_chat,
                    sender_id:this.currentUser.id,
                    author:'me'
                };
                let keys = Object.keys(this.messages);
                if(keys.includes(this.today)){
                    this.messages[this.today].push(new_message)
                }
                let lastMessage = new_message.chat.replace('<br />',' ');
                this.$store.state.chats[0][this.active_index].last_message = lastMessage;
                axios.post('/message-send',{
                    message:message.message,
                    receiver:this.active_chat
                })
                    .then(resp=>{
                        this.$store.state.currentMessage = resp.data;
                    })
                //this.messages.push(message);

            },
            findSearch(data){
                const filterItems = (needle, heystack) => {
                    let query = needle.toLowerCase();
                    return heystack
                        .filter(item => {
                            return item.name.toLowerCase().indexOf(needle) >= 0 ;
                        });
                }
                this.allUsers = filterItems(data.searchData.toLowerCase().trim(),this.allUsersUnderlying[0].user)
            },
            getConversations(data){
                this.active_chat = data.id;
                this.active_index = data.index;
                this.$store.state.activeChat = data.id;
                axios.get('/get-user-conversation/'+data.id)
                    .then(resp=>{
                        this.messages = resp.data.chats
                    })
            },
        },
        mounted(){
            this.allUsers = JSON.parse(this.users);
            this.$store.state.chats = JSON.parse(this.users);
            this.allUsersUnderlying = JSON.parse(this.users);
            this.currentUser = JSON.parse(this.authentic);
            if(parseInt(this.chat) > 0){
                this.$store.state.activeChat = parseInt(this.chat);
            }
            Echo.private('chatConnect.'+this.currentUser.id)
                .listen('ChatConnect', (e) => {
                    console.log(e)
                    let index = this.$store.state.chats[0].findIndex(item=>parseInt(item.user.id) === parseInt(e.sender_id));
                    if(index === -1) {
                        axios.post('/message-add-chat', e)
                            .then(resp => {
                                this.$store.state.chats[0].unshift(resp.data[0][0]);
                                this.allUsersUnderlying[0].unshift(resp.data[0][0])
                                this.active_chat_user = resp.data[0];
                            })
                            .catch(error => {
                            })
                    }else{
                        //add the message to the array if the chat is active
                        if(parseInt(this.active_chat) ===  parseInt(e.sender_id)){
                            let new_message = {
                                chat:e.message,
                                receiver_id:e.receiver,
                                sender_id:e.sender_id,
                                sender:e.sender
                            };
                            let keys = Object.keys(this.messages);
                            if(keys.includes(this.today)){
                                this.messages[this.today].push(new_message)
                            }else{
                                console.log('not available')
                            }
                            axios.put(`/mark-single-message-read/${e.message_id}`)
                                .then(resp=>{
                                    console.log(resp.data)
                                })
                                .catch(error=>{})
                        }
                        this.$store.state.chats = e.receiver_details;
                        //play audio files
                        let audio = new Audio(this.audio);
                        audio.play();
                    }
                });
        },
        watch:{
            active_chat:function(value){
                const filterItems = (needle, heystack) => {
                    let query = needle;
                    return heystack
                        .filter(item => {
                            return item.user.id == query;
                        });
                }
                this.active_chat_user = filterItems(value,this.allUsersUnderlying[0]);
                this.active_chat_true = true;
            }
        }
    }
</script>

<style scoped>

</style>