<template>
    <div class="row">
        <add-sub></add-sub>
        <div class="col-md-12">
            <div class="widget has-shadow">
                <div class="widget-header">
                    All Item Categories
                </div>
                <div class="widget-body">
                    <div class="table-responsive table-scroll padding-right-10">
                        <data-tables  v-loading="loading" :stripe="true" :data="$store.state.itemSubCategories" :pagination-props="{ pageSizes: [5,10, 15,30] }">
                            <el-table-column :prop="'name'" :label="'Name'" :key="'Name'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'item.name'" :label="'Category'" :key="'Category'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column label="Actions" align="right">
                                <template slot-scope="scope">
                                    <button type="button" @click="showModal(scope.$index, scope.row)"
                                            class="btn btn-primary btn-sm">
                                        <i class="ion-edit"></i>
                                    </button>
                                    <button type="button" @click="deleteCategory(scope.$index, scope.row.id)"
                                            class="btn btn-danger btn-sm">
                                        <i class="ion-trash-a"></i>
                                    </button>
                                </template>

                            </el-table-column>
                        </data-tables>
                    </div>
                </div>
            </div>
        </div>
        <div id="edit-modal" class="modal modal-top fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Category</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">close</span>
                        </button>
                    </div>
                    <form method="post" @submit.prevent="attemptEdit">

                        <div class="modal-body">
                            <div class="group material-input">
                                <input v-model="edit_name" type="text" autofocus  required autocomplete="off" placeholder="Category Name">
                                <span class="bar"></span>
                            </div>
                            <hr>
                            <div class="group material-input">
                                <select v-model="edit_id" class="custom-select form-control">
                                    <option v-for="item in $store.state.itemCategories" :value="item.id">{{item.name}}</option>
                                </select>
                                <span class="bar"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-shadow" data-dismiss="modal">Close</button>
                            <button type="submit"  class="btn btn-lg btn-gradient-01 ld-ext-right" :class="{'running':loading}" :disabled="loading">
                                Update
                                <div class="ld ld-ring ld-spin"></div>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</template>


<script>
    import AddSub from './add.vue';
    export default {
        name: "index",
        components:{
            AddSub
        },
        props:['data','items'],
        data(){
            return{
                loading:false,currentItem:{},edit_name:'',index:'',itemSub:{},edit_id:''
            }
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            deleteCategory(index,id){
                if(confirm("Are You sure you want to perform this action?")){
                    this.loading = true;
                    axios.delete('/admin/item-sub-categories/'+id)
                        .then(resp=>{
                            this.$store.state.itemSubCategories.splice(index, 1);
                            this.showAlert('item deleted successfully','success');
                            this.loading = false
                        })
                        .catch(resp=>{
                            this.showAlert('sorry an error occurred','error');
                            this.loading = false;
                        })
                }
            },
            showModal(index,row){
                this.currentItem = row;
                this.edit_name = row.name;
                this.index = index;
                this.edit_id = row.item.id;
                $('#edit-modal').modal('show');
            },
            attemptEdit(){
                this.loading = true;
                axios.put('/admin/item-sub-categories/'+this.currentItem.id,{name:this.edit_name,item_category_id:this.edit_id})
                    .then(resp=>{
                        this.$store.state.itemSubCategories.splice(this.index,1);
                        this.$store.state.itemSubCategories.unshift(resp.data.data);
                        $('#edit-modal').modal('hide');
                        this.showAlert('Updated successfully','success');
                        this.loading = false

                    })
                    .catch(error=>{
                        if(error.response.status === 501){
                            this.showAlert(`duplicate entry for ${this.edit_name}`,'error');
                        }else{
                            this.showAlert('sorry an error occurred','error');
                        }
                        this.loading = false;
                    })
            }
        },
        mounted(){
            this.$store.state.itemCategories = JSON.parse(this.items);
            this.$store.state.itemSubCategories = JSON.parse(this.data);
        }
    }
</script>

<style scoped>

</style>