<template>
    <div class="container">
        <div class="row" v-if="values.length > 0">
            <div class="col-xl-12">
                <div class="letters-list">
                   <!-- <a href="#" class="current">A</a>-->
                    <a @click.prevent="showCompanies(index)" v-for="(item,index) in keys" href="#" :class="{current:index === activeIndex}">{{item}}</a>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="companies-list" v-for="(item,index) in values" v-if="index === activeIndex">
                    <a v-for="company in item" :href="`/companies/${company.slug}`" class="company">
                        <div class="company-inner-alignment">
                            <span class="company-logo">
                                <img v-if="company.logo" :src="company.logo" alt="">
                                <img v-else src="/images/company-logo-placeholder.png" alt="">
                            </span>
                            <h4>{{company.name}}</h4>
                            <div class="star-rating" data-rating="3.5"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div v-else class="row">
            <div class="col-sm-12">
                <div class="oops text-center">
                    <img src="/images/oops.PNG" alt="">
                    <h2>Please No Companies Found!</h2>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "index",
        props:['grouped'],
        data(){
            return{
                companies:{},
                keys:[],
                values:[],
                activeIndex:0
            }
        },
        methods:{
            showCompanies(index){
                if(index !== this.activeIndex){
                    this.activeIndex = index;
                }
            }
        },
        mounted(){
            this.companies = JSON.parse(this.grouped);
            this.keys = Object.keys(this.companies);
            this.values = Object.values(this.companies);
        }
    }
</script>

<style scoped>
    .oops{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .oops img{
        max-width: 300px;
        padding: 20px;
        border-radius: 5%;
        cursor: pointer;
        transition: .5s;
    }
    .oops img:hover{
        transform: scale(1.1);
    }
    .oops h2{
        color: #cb135f;
        font-weight: bolder;
        cursor: pointer;
        transition: transform .5s;
    }
    .oops h2:hover{
        transform: scale(1.3);
    }
</style>