<template>

    <div class="boxed-list margin-bottom-60" >
                    <div class="boxed-list-headline">
                        <h3><i class="icon-material-outline-thumb-up" id="review-page"></i> Reviews</h3>
                    </div>
                    <ul class="boxed-list-ul">
                        <li v-for="companies in companies.review">
                            <div class="boxed-list-item">
                                <!-- Content -->
                                <div class="item-content">
                                    <h4>{{companies.title}}<span>Anonymous Employee</span></h4>
                                    <div class="item-details margin-top-10">
                                        <div class="star-rating" :data-rating="companies.rate"></div>
                                        <div class="detail-item"><i class="icon-material-outline-date-range"></i> August 2018</div>
                                    </div>
                                    <div class="item-description">
                                        <p>{{companies.review}}</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="centered-button margin-top-35">
                        <a href="#small-dialog" class="popup-with-zoom-anim button button-sliding-icon">Leave a Review <i class="icon-material-outline-arrow-right-alt"></i></a>
                    </div>

 <div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#tab">Leave a Review</a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab">
				
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>What is it like to work at <span>{{companies.name}}</span>?</h3>
					</div>
				<!-- Form -->
				<form method="post" id="leave-company-review-form" @submit.prevent="attemptPost">

			    <div class="row">
						<div class="col-xl-12">
							<div class="input-with-icon-left">
								<i class="icon-material-outline-rate-review"></i>
								<input type="text" class="input-text with-border" name="reviewtitle" v-model="reviews.title" id="reviewtitle" placeholder="Review Title"  required/>
							</div>
						</div>

                        <!-- Leave Rating -->
					<div class="clearfix"></div>
					<div class="leave-rating-container">
						<div class="leave-rating margin-bottom-5">
							<input type="radio" name="rating" id="rating-1" value="5" v-model="reviews.rate" required>
							<label for="rating-1" class="icon-material-outline-star"></label>
							<input type="radio" name="rating" id="rating-2" value="4" v-model="reviews.rate" required>
							<label for="rating-2" class="icon-material-outline-star"></label>
							<input type="radio" name="rating" id="rating-3" value="3" v-model="reviews.rate" required>
							<label for="rating-3" class="icon-material-outline-star"></label>
							<input type="radio" name="rating" id="rating-4" value="2" v-model="reviews.ratee" required>
							<label for="rating-4" class="icon-material-outline-star"></label>
							<input type="radio" name="rating" id="rating-5" value="1" v-model="reviews.rate" required>
							<label for="rating-5" class="icon-material-outline-star"></label>
						</div>
					</div>
					<div class="clearfix"></div>
					<!-- Leave Rating / End-->

				
					</div>

					<textarea class="with-border" placeholder="Review" name="message" v-model="reviews.review" id="message" cols="7"  required></textarea>

			
				
				<!-- Button -->
				<button class="button margin-top-35 full-width button-sliding-icon ripple-effect" type="submit" form="leave-company-review-form">Leave a Review <i class="icon-material-outline-arrow-right-alt"></i></button>
	</form>
			</div>

		</div>
	</div>
</div>

                </div>
</template>

<script>
export default {
 name: 'reviewcompany',
 props: ['company'],
  data(){
          return{
        
        companies:'',
        //check
        reviews:{}
          }
          
    },
    
     methods:{
         
        attemptPost(){
                 this.reviews.company_id = this.companies.id;
                axios.post('/reviewcompany',this.reviews)
                    .then(resp=>{
                this.companies.review.unshift(resp.data); 
                  $.magnificPopup.close();
                var elmnt = document.getElementById("review-page");
                elmnt.scrollIntoView();      
            })
             },
             },
    
     mounted(){
                 this.companies= JSON.parse(this.company)
        },
}
</script>

<style>

</style>
