<template>
    <!-- Begin Notifications -->
    <li class="nav-item dropdown"><a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link">

        <i class="la la-bell animated" :class="{'infinite':unreads.length > 0,'swing':unreads.length > 0}"></i>
        <span v-if="unreads.length > 0" class="badge-pulse"></span>
    </a>
        <ul aria-labelledby="notifications" class="dropdown-menu notification">
            <li>
                <div class="notifications-header">
                    <div class="title">Notifications ({{unreads.length}})</div>
                    <div class="notifications-overlay"></div>
                    <img src="/assets/img/notifications/01.jpg" alt="..." class="img-fluid">
                </div>
            </li>
            <li v-for="note in unreads" v-if="unreads.length > 0">
                <a href="#">
                    <div class="message-icon">
                        <i class="la la-bell"></i>
                    </div>
                    <div class="message-body">
                        <div class="message-body-heading">
                            {{`The product ${note.data.title} was just added. Review to approve or delete.`}}
                        </div>
                        <span class="date">{{formatDate(note.created_at)}}</span>
                    </div>
                </a>
            </li>
            <li v-if="!unreads.length > 0">
                <a href="#">
                    <div class="message-icon">
                        <i class="la la-bell-slash"></i>
                    </div>
                    <div class="message-body">
                        <div class="message-body-heading">
                            No New Notifications
                        </div>
                    </div>
                </a>
            </li>
            <li v-if="unreads.length > 0">
                <a rel="nofollow" @click.prevent="markAllAsRead" style="cursor: pointer" class="dropdown-item all-notifications text-center">Mark All As Read</a>
            </li>
        </ul>
    </li>
    <!-- End Notifications -->
</template>

<script>
    export default {
        name: "index",
        props:['auth','noty'],
        data(){
            return{
                user:{},
                unreads:[]
            }
        },
        methods:{
            markAllAsRead(){
                axios.post('/mark-all-notifications',{})
                    .then(resp=>{
                        this.unreads = [];
                    })
                    .catch(error=>{})
            },
            formatDate(date){
                return moment(date).fromNow();
            }
        },
        mounted(){
            this.user = JSON.parse(this.auth);
            this.unreads = JSON.parse(this.noty);
            Echo.private('users.' + this.user.id)
                .notification((notification) => {
                    console.log(notification)
                    if(notification.type === 'App\\Notifications\\ProductAdded'){
                        let note = {
                            id:notification.id,
                            type:notification.type,
                            data:{
                                title:notification.title,
                            }
                        };
                        this.unreads.unshift(note);
                    }
                });
        }
    }
</script>

<style scoped>

</style>