<template>
    <div class="full-page-sidebar">
        <div class="full-page-sidebar-inner" data-simplebar>
            <div class="sidebar-container">
                <!-- Location -->
                <div class="sidebar-widget">
                    <h3>Location</h3>
                        <gmap-autocomplete placeholder="Enter Location"
                                           @place_changed="setPlace">
                        </gmap-autocomplete>
                </div>
                <!-- Keywords -->
                <div class="sidebar-widget">
                    <h3>Keywords</h3>
                    <div class="keywords-container">
                        <div class="keyword-input-container">
                            <input v-model="keyword" type="text" class="keyword-input" placeholder="e.g. job title"/>
                            <button @click.prevent="addKeyword" class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
                        </div>
                        <div class="keywords-list custom-tag-height">
                                    <span v-for="(item,key) in $store.state.keywords" class="keyword">
                                    <span class="keyword-remove" @click="removeKeyword(key)"></span>
                                    <span class="keyword-text">{{item}}
                                    </span>
                                </span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="sidebar-search-button-container">
                <button @click="search" class="button ripple-effect">Search</button>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "filters",
        data(){
            return{
                query:{},keyword:''
            }
        },
        methods:{
            setPlace(place) {
                this.query.lat = place.geometry.location.lat();
                this.query.lng = place.geometry.location.lng();
            },
            addKeyword(){
                if(this.keyword != null){
                    this.$store.state.keywords.push(this.keyword);
                    this.keyword = null;
                    var under = $('.custom-tag-height');
                    var heightnow = $(under).height();
                    var heightfull = $(under).css({'max-height':'auto', 'height':'auto'}).height();
                    $(under).css({ 'height' : heightnow }).animate({ 'height': heightfull }, 300);
                }
            },
            removeKeyword(key){
                this.$store.state.keywords.splice(key,1)
                $('.custom-tag-height').css({'height':'auto'}).height();
            },
            search(){
                this.query.keywords = this.$store.state.keywords;
                axios.post('/search',this.query)
                    .then(resp=>{
                        this.$emit('dataChanged',{
                            jobs:resp.data.jobs,
                            products:resp.data.products
                        })
                    })
            }
        }
    }
</script>

<style scoped>

</style>