<template>
    <div class="full-page-container">
        <filter-component @dataChanged="onDataChanged"></filter-component>
        <!-- Full Page Sidebar / End -->

        <!-- Full Page Content -->
        <div class="full-page-content-container" data-simplebar>
            <div class="full-page-content-inner">

                <template v-if="jobs.length > 0">
                    <h3 class="page-title">Matched Jobs</h3>
                    <div class="listings-container grid-layout margin-top-35">
                        <!-- Job Listing -->
                        <a v-for="job in jobs"
                           :href="!auth?'#sign-in-dialog':`/jobs/${job.slug}/apply`"
                           @click="passUrl(`/jobs/${job.slug}/apply`)"
                           class="job-listing"
                           :class="{'popup-with-zoom-anim':!auth}">

                            <!-- Job Listing Details -->
                            <div class="job-listing-details">
                                <!-- Logo -->
                                <div class="job-listing-company-logo">
                                    <img v-if="job.company.logo == null" src="images/company-logo-01.png" alt="">
                                    <img v-else :src="job.company.logo" alt="">
                                </div>

                                <!-- Details -->
                                <div class="job-listing-description">
                                    <h4 class="job-listing-company">{{job.company.name}} <span v-if="job.company.verified" class="verified-badge" title="Verified Employer" data-tippy-placement="top"></span></h4>
                                    <h3 class="job-listing-title">{{job.title}}</h3>
                                </div>
                            </div>

                            <!-- Job Listing Footer -->
                            <div class="job-listing-footer">
                                <span class="bookmark-icon"></span>
                                <ul>
                                    <li><i class="icon-material-outline-location-on"></i> {{job.location}}</li>
                                    <li><i class="icon-material-outline-business-center"></i> {{job.type}}</li>
                                    <li><i class="icon-material-outline-account-balance-wallet"></i> {{job.min_salary}}-{{job.max_salary}}</li>
                                    <li><i class="icon-material-outline-access-time"></i> {{job.posted_on}}</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </template>
                <template v-if="products.length > 0">
                    <h3 class="page-title">Matched Products</h3>
                    <div class="listings-container grid-layout margin-top-35">
                        <!-- Job Listing -->
                        <a v-for="item in products"
                           :href="!auth?'#sign-in-dialog':`/products/buy/${item.slug}`"
                           @click="passUrl(`/products/buy/${item.slug}`)"
                           class="job-listing"
                           :class="{'popup-with-zoom-anim':!auth}">

                            <!-- Job Listing Details -->
                            <div class="job-listing-details">
                                <div class="row">

                                    <div class="col-sm-6" v-if="item.avatars.length > 0">
                                        <div  class="avatar-wrapper" data-tippy-placement="bottom" :title="item.title">
                                            <img class="profile-pic" :src="item.avatars[0].name" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6" v-else>
                                        <div  class="avatar-wrapper" data-tippy-placement="bottom" :title="item.title">
                                            <img class="profile-pic" src="/images/company-logo-placeholder-alt.png" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="job-listing-description">
                                            <h4 class="job-listing-company">{{item.user.name}} <span class="verified-badge" title="Verified Employer" data-tippy-placement="top"></span></h4>
                                            <h3 class="job-listing-title">{{item.title}}</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- Job Listing Footer -->
                            <div class="job-listing-footer" style="margin-top: -30px">
                            <span class="bookmark-icon">

                            </span>
                                <ul>
                                    <li><i class="icon-material-outline-location-on"></i>{{item.location}}</li>
                                    <li><i class="icon-material-outline-account-balance-wallet"></i>{{item.price}}</li>
                                    <li><i class="icon-material-outline-access-time"></i> {{item.human_diff}}</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </template>

                <div class="clearfix"></div>
                <!-- Pagination / End -->
                <signin-component></signin-component>

                <app-footer-component></app-footer-component>

            </div>
        </div>
        <!-- Full Page Content / End -->

    </div>
</template>

<script>
    import FilterComponent from './filters.vue'
    export default {
        name: "search",
        props:['product','work','words','authentication'],
        data(){
            return{
                products:[],
                jobs:[],
                auth:0
            }
        },
        components:{
            FilterComponent
        },
        methods:{
            onDataChanged(data){
                this.products = data.products;
                this.jobs = data.jobs;
            },
            passUrl(url){
                sessionStorage.setItem('returnUrl',url);
            }
        },
        mounted(){
            this.products = JSON.parse(this.product);
            this.jobs = JSON.parse(this.work);
            this.$store.state.keywords = JSON.parse(this.words);
            this.auth = parseInt(this.authentication)
        }
    }
</script>

<style scoped>
    .mfp-bg{
        opacity: .85 !important;
    }
</style>