<template>

    <div class="col-xl-12">
        <div class="dashboard-box margin-top-0">

            <!-- Headline -->
            <div class="headline">
                <h3><i class="icon-material-outline-supervisor-account"></i>
                    {{items.length}}  Contracts(s) Pending</h3>
            </div>

            <div class="content">
                <ul class="dashboard-box-list">
                    <ul class="dashboard-box-list">
                        <li v-for="(item,index) in items">
                            <!-- Overview -->
                            <div class="freelancer-overview manage-candidates">
                                <div class="freelancer-overview-inner">
                                    <div class="freelancer-name">
                                        <h4><a href="#">{{item.work.title}}
                                        </a></h4>
                                        <!-- Details -->
                                        <span class="freelancer-detail-item"><a href="#"><i class="icon-feather-mail"></i> {{item.work.user.name}}</a></span>
                                        <span class="freelancer-detail-item"><i class="icon-feather-phone"></i>{{item.work.user.profile.mobile}} </span>

                                        <!-- Rating -->
                                        <div class="buttons-to-right always-visible margin-top-10 margin-bottom-3">
                                                <span class="freelancer-detail-item icon-material-outline-location-on"></span> {{item.work.location}}
                                                <br>
                                                <span class="freelancer-detail-item icon-line-awesome-money"></span>  {{item.work.min_salary}} - {{item.work.max_salary}}
                                        </div>

                                        <!-- Buttons -->
                                        <div class="buttons-to-right always-visible margin-top-25 margin-bottom-5">
                                            <a href="#" @click.prevent="acceptContract(item.id,index)" class="button ripple-effect" title="Accept Invitation"
                                               data-tippy-placement="top"><i class="icon-material-outline-check"></i> Accept</a>
                                            <a href="#" @click.prevent="declineContract(item.id,index)"  class="button red ripple-effect" title="Cancel Invitation"
                                               data-tippy-placement="top"><i class="icon-line-awesome-times"></i> Decline</a>
                                            <a :href="item.attachments.name" class="button green ripple-effect" title="Download Attachment" data-tippy-placement="top">
                                                <i class="icon-material-outline-save-alt"></i>
                                                Attachment
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "index",
        props:['contracts'],
        data(){
            return{
                items:[],
            }
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            acceptContract(id,index){
                if(confirm('Are You sure')){
                    axios.get(`/contracts/accept/${id}`)
                        .then(resp=>{
                            this.showAlert('accepted successfully','success');
                            this.items.splice(index,1);
                        })
                        .catch(error=>{
                            this.showAlert('sorry an error occurred','error')
                        })
                }
            },
            declineContract(id,index){
                if(confirm('Are You sure')){
                    axios.get(`/contracts/decline/${id}`)
                        .then(resp=>{
                            this.showAlert('declined successfully','success');
                            this.items.splice(index,1);
                        })
                        .catch(error=>{
                            this.showAlert('sorry an error occurred','error')
                        })
                }
            }
        },
        mounted(){
            this.items = JSON.parse(this.contracts);
        }
    }
</script>

<style scoped>
    .hide-form{
        display: none;
    }
    .el-date-picker{
        display: block;
    }
    .el-date-picker > span{
        display: none;
    }
    .freelancer-name span{
        color: unset;
    }
</style>