<template>
    <div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

        <!--Tabs -->
        <div class="sign-in-form">

            <ul class="popup-tabs-nav">
                <li><a href="#tab">Upload Contract Files</a></li>
            </ul>

            <div class="popup-tabs-container">

                <!-- Tab -->
                <div class="popup-tab-content" id="tab">



                    <!-- Form -->
                    <form @submit.prevent="saveContract" method="post" id="add-note">

                        <div class="submit-field">
                            <h5>Attachments</h5>
                            <!-- Attachments -->
                            <div class="clearfix"></div>

                            <!-- Upload Button -->
                            <div class="uploadButton margin-top-0">
                                <input ref="contracts" @change="changeFiles" class="uploadButton-input" type="file" accept="text/plain, application/pdf,application/msword" id="upload" multiple="">
                                <label class="uploadButton-button ripple-effect" for="upload">Upload Files</label>
                                <span class="uploadButton-file-name">Maximum file size: 10 MB</span>
                            </div>

                        </div>
                        <button class="button full-width button-sliding-icon ripple-effect" :class="{'running':loading}" :disabled="loading">
                            <span v-if="!loading">Send Contract <i class="icon-material-outline-arrow-right-alt"></i></span>
                            <div v-else style="display:inline-block; margin-left:5px"  class="ld ld-ring ld-spin"></div>
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "send",
        data(){
          return {
              uploads:[],
              formData:{},
              loading:false
          }
        },
        props:['work','employer','employee'],
        methods:{
            changeFiles(){
                let here = this;
                $.each(this.$refs.contracts.files,function (key,value) {
                    here.uploads.push(value);
                })
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            saveContract(){
                if(this.uploads.length > 0){
                    this.loading = true;
                    this.formData = new FormData();
                    let here = this;
                    if(this.uploads.length > 0){
                        this.uploads.forEach(function (value) {
                            here.formData.append('contracts[]',value)
                        });
                    }
                    this.formData.append('employee_id',parseInt(this.employee));
                    this.formData.append('employer_id',parseInt(this.employer));
                    this.formData.append('work_id',parseInt(this.work));
                    axios.post('/interviews/send-contract',this.formData,{headers: {'Content-Type': 'multipart/form-data'}})
                        .then(resp=>{
                            this.showAlert('contract sent successfully','success');
                            this.loading = false;
                            $.magnificPopup.close()
                        })
                        .catch(error=>{
                            if(error.response.status === 501){
                                this.showAlert('Please this contract has already been sent','warning');
                            }else if(error.response.status === 422){
                                let keys = Object.keys(error.response.data.errors)
                                let item = keys[0];
                                let finalError = error.response.data.errors[item]
                                this.showAlert(finalError[0],'error')
                            }
                            else{
                                this.showAlert('sorry an error occurred','error')
                            }
                            this.loading = false;
                        })
                }else{
                    this.showAlert('Please select the contract files','error');
                }
            }
        }
    }
</script>

<style scoped>

</style>