<template>
    <div class="widget-body">
        <form method="post" @submit.prevent="attemptAdd">
            <div class="group material-input" v-for="(item,index) in count" :id="index" :key="index">
                <input type="text" autofocus  required autocomplete="off" name="name[]" placeholder="Category Name">
                <span class="bar"></span>
                <a v-if="index !=  0" @click.prevent="removeEL(index)" href="" class="btn btn-sm btn-gradient-05" style="margin-top: 10px"><span style="font-size: 20px" class="ion-minus-circled"></span></a>
            </div>
            <a href="" @click.prevent="increaseCount()" class="btn btn-sm btn-gradient-04" style="margin-top: 10px"><span style="font-size: 20px" class="ion-plus-circled"></span></a>
            <div class="sign-btn text-right" style="margin-top: 20px">
                <button type="submit"  class="btn btn-lg btn-gradient-01 ld-ext-right" :class="{'running':loading}" :disabled="loading">
                    Add
                    <div class="ld ld-ring ld-spin"></div>
                </button>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "add",
        data(){
            return{
                loading:false,
                name:'',
                count : 1
            }
        },
        methods:{
            attemptAdd(){
                this.loading = true;
                let data = $('form').serializeArray();
                axios.post('/admin/job-categories',{name:data})
                    .then(resp=>{
                        new Noty({
                            theme:'mint',
                            text: 'Added Successfully',
                            layout:'topRight',
                            progressBar:true,
                            timeout:3000,
                            type:'success'

                        }).show();
                        location.reload();
                    })
                    .catch(resp=>{
                        new Noty({
                            theme:'mint',
                            text: 'Sorry an Error Occurred',
                            layout:'topRight',
                            progressBar:true,
                            timeout:3000,
                            type:'error'

                        }).show();
                        this.loading = false;
                    })
            },
            increaseCount(){
                let c = this.count;
                this.count ++;
                $('#'+c+' input').focus();
            },
            removeEL(index){
                if(index > 0)
                    $('#'+index).remove();
                this.count --;
            }
        }
    }
</script>

<style scoped>

</style>