<template>
    <div>
        <!--<table class="table table-hover mb-0">
            <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,index) in categories">
                <td>{{item.name}}</td>
                <td class="td-actions">
                    <a href="" @click="edit(item.id)" data-toggle="modal" data-target="#edit-modal"><i class="la la-edit edit"></i></a>
                    <a @click.prevent="customDelete(index,item.id)"  :class="{disabled:loading}">
                        <i v-if="!loading" class="la la-close delete" ></i>
                        <i v-if="loading" class="ld ld-ring ld-spin"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>-->
        <data-tables  v-loading="loading" :stripe="true" :data="categories" :pagination-props="{ pageSizes: [5,10, 15,30] }">
            <el-table-column :prop="'name'" :label="'Name'" :key="'Name'" :class="'text-center'">
            </el-table-column>
            <el-table-column label="Actions" align="right">
                <template slot-scope="scope">
                    <button type="button" @click="showModal(scope.$index, scope.row)"
                            class="btn btn-primary btn-sm">
                        <i class="ion-edit"></i>
                    </button>
                    <button type="button" @click="deleteCategory(scope.$index, scope.row.id)"
                            class="btn btn-danger btn-sm">
                        <i class="ion-trash-a"></i>
                    </button>
                </template>

            </el-table-column>
        </data-tables>
        <div id="edit-modal" class="modal modal-top fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Category</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">close</span>
                        </button>
                    </div>
                    <form method="post" @submit.prevent="attemptEdit">

                    <div class="modal-body">
                            <div class="group material-input">
                                <input v-model="edit_name" type="text" autofocus  required autocomplete="off" placeholder="Category Name">
                                <span class="bar"></span>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-shadow" data-dismiss="modal">Close</button>
                        <button type="submit"  class="btn btn-lg btn-gradient-01 ld-ext-right" :class="{'running':loading}" :disabled="loading">
                            Save
                            <div class="ld ld-ring ld-spin"></div>
                        </button>
                    </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "all",
        props:['data'],
        data(){
            return{
                categories:[],
                loading:false,
                edit_name:'',
                index:'',
                currentItem:{}
            }
        },
        mounted(){
            this.categories = JSON.parse(this.data)
        },
        methods:{
            edit(){},
            deleteCategory(index,id){
                if(confirm("Are You sure you want to perform this action?")){
                    this.loading = true
                    axios.delete('/admin/job-categories/'+id)
                        .then(resp=>{
                            if (index > -1) {
                                this.categories.splice(index, 1);
                            }
                            new Noty({
                                theme:'mint',
                                text: 'Deleted Successfully',
                                layout:'topRight',
                                progressBar:true,
                                timeout:3000,
                                type:'success'

                            }).show();
                            this.loading = false
                        })
                        .catch(resp=>{
                            new Noty({
                                theme:'mint',
                                text: 'Sorry an Error Occurred',
                                layout:'topRight',
                                progressBar:true,
                                timeout:3000,
                                type:'error'

                            }).show();
                            this.loading = false;
                        })
                }
            },
            showModal(index,row){
                this.currentItem = row;
                this.edit_name = row.name;
                this.index = index;
                $('#edit-modal').modal('show');
            },
            attemptEdit(){
                axios.put('/admin/job-categories/'+this.currentItem.id,{name:this.edit_name})
                    .then(resp=>{
                        this.categories.splice(this.index,1);
                        this.categories.unshift(resp.data.data);
                        $('#edit-modal').modal('hide');
                        new Noty({
                            theme:'mint',
                            text: 'Editted Successfully',
                            layout:'topRight',
                            progressBar:true,
                            timeout:3000,
                            type:'success'
                        }).show();
                        this.loading = false

                    })
                    .catch(resp=>{
                        new Noty({
                            theme:'mint',
                            text: 'Sorry an Error Occurred',
                            layout:'topRight',
                            progressBar:true,
                            timeout:3000,
                            type:'error'

                        }).show();
                        this.loading = false;
                    })
            }
        }
    }
</script>

<style scoped>
    .disabled{
        pointer-events: none;
    }
</style>