<template>
    <div class="full-page-container">
        <app-search></app-search>


        <!-- Full Page Sidebar / End -->

        <!-- Full Page Content -->
        <div class="full-page-content-container" data-simplebar>
            <div class="full-page-content-inner">

                <h3 class="page-title">Search Results</h3>

                <div class="notify-box margin-top-15">
                    <div class="switch-container">
                        <label class="switch"><input type="checkbox"><span class="switch-button"></span><span class="switch-text">Turn on email alerts for this search</span></label>
                    </div>

                    <div class="sort-by">
                        <span>Sort by:</span>
                        <select class="selectpicker hide-tick">
                            <option>Relevance</option>
                            <option>Newest</option>
                            <option>Oldest</option>
                            <option>Random</option>
                        </select>
                    </div>
                </div>

                <!-- Freelancers List Container -->
                <div class="freelancers-container freelancers-grid-layout margin-top-35">

                    <!--Freelancer -->
                    <div v-for="employee in $store.state.users" class="freelancer">

                        <!-- Overview -->
                        <div class="freelancer-overview">
                            <div class="freelancer-overview-inner">

                                <!-- Bookmark Icon -->
                                <span class="bookmark-icon"></span>

                                <!-- Avatar -->
                                <div class="freelancer-avatar">
                                    <div class="verified-badge"></div>
                                    <a :href="`/cs/${employee.profile.url}`">
                                        <img v-if="employee.profile.logo" :src="employee.profile.logo" alt="">
                                        <img v-else src="/images/user-avatar-big-01.jpg" alt="">
                                    </a>
                                </div>

                                <!-- Name -->
                                <div class="freelancer-name">
                                    <h4><a :href="`/cs/${employee.profile.url}`">{{employee.name}} <img class="flag" src="/images/flags/gh.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
                                </div>

                                <!-- Rating -->
                                <div class="freelancer-rating">
                                    <div class="star-rating" :data-rating="employee.profile.overall_rating"></div>
                                </div>
                            </div>
                        </div>

                        <!-- Details -->
                        <div class="freelancer-details">
                            <div class="freelancer-details-list">
                                <ul>
                                    <li>Location <strong><i class="icon-material-outline-location-on"></i> {{getLocation(employee.profile.location)}}</strong></li>
                                    <li>Rate <strong>₵{{employee.profile.rate}} / hr</strong></li>
                                    <li>Job Success <strong>{{employee.profile.job_success}}%</strong></li>
                                </ul>
                            </div>
                            <a :href="`/cs/${employee.profile.url}`" class="button button-sliding-icon ripple-effect">View Profile <i class="icon-material-outline-arrow-right-alt"></i></a>
                        </div>
                    </div>
                    <!-- Freelancer / End -->
                </div>
                <!-- Freelancers Container / End -->

                <!-- Pagination -->
                <div class="clearfix"></div>
                <div class="pagination-container margin-top-20 margin-bottom-20">
                    <nav class="pagination">
                        <ul>
                            <li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                            <li><a href="#" class="ripple-effect">1</a></li>
                            <li><a href="#" class="ripple-effect current-page">2</a></li>
                            <li><a href="#" class="ripple-effect">3</a></li>
                            <li><a href="#" class="ripple-effect">4</a></li>
                            <li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
                <div class="clearfix"></div>
                <!-- Pagination / End -->

                <app-footer-component></app-footer-component>

            </div>
        </div>
        <!-- Full Page Content / End -->

    </div>
</template>

<script>
    import AppSearch from './search.vue'
    export default {
        name: "index",
        props:['users'],
        components:{AppSearch},
        methods:{
            getLocation(loc){
                if(loc){
                    let location = loc.split(',');
                    if(location.length > 2){
                        return location[1];
                    }else{
                        let new_loc = location[0].split(',');
                        if(new_loc.length > 0){
                            return new_loc[0];
                        }else{
                            return location[0];
                        }
                    }
                }else{
                    return 'Not Set';
                }

            }
        },
        mounted(){
            this.$store.state.users = JSON.parse(this.users);
            //make request to count the views
            axios.post('/cs/view-count',{hi:10})
                .then(resp=>{
                })
                .catch(error=>{})
        }
    }
</script>

<style scoped>

</style>