<template>
    <div class="sidebar-container">

        <a href="#" @click="messageSeller" class="apply-now-button"><i class="icon-feather-message-square"></i> Chat</a>

        <!-- Sidebar Widget -->
        <div class="sidebar-widget">
            <div class="job-overview">
                <div class="job-overview-headline">Product Summary</div>
                <div class="job-overview-inner">
                    <ul>
                        <li>
                            <i class="icon-material-outline-location-on"></i>
                            <span>Location</span>
                            <h5>{{$store.state.products.location}}</h5>
                        </li>
                        <li>
                            <i class="icon-material-outline-business-center"></i>
                            <span>Status</span>
                            <h5>{{$store.state.products.negotiable?'Negotiable':'Not Negotiable'}}</h5>
                        </li>
                        <li>
                            <i class="icon-material-outline-local-atm"></i>
                            <span>Price</span>
                            <h5>{{$store.state.products.price}}</h5>
                        </li>
                        <li>
                            <i class="icon-material-outline-access-time"></i>
                            <span>Date Posted</span>
                            <h5>{{$store.state.products.human_diff}}</h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Sidebar Widget -->
        <div class="sidebar-widget">
            <h3>Bookmark or Share</h3>

            <!-- Bookmark Button -->
            <button class="bookmark-button margin-bottom-25" @click="bookmark" :class="{bookmarked : $store.state.products.bookmarked}">
                <span class="bookmark-icon"></span>
                <span class="bookmark-text">Bookmark</span>
                <span class="bookmarked-text">Bookmarked</span>
            </button>

            <!-- Copy URL -->
            <div class="copy-url">
                <input id="copy-url" type="text" value="" class="with-border">
                <button class="copy-url-button ripple-effect" data-clipboard-target="#copy-url" title="Copy to Clipboard" data-tippy-placement="top"><i class="icon-material-outline-file-copy"></i></button>
            </div>

            <!-- Share Buttons -->
            <div class="share-buttons margin-top-25">
                <div class="share-buttons-trigger"><i class="icon-feather-share-2"></i></div>
                <div class="share-buttons-content">
                    <span>Interesting? <strong>Share It!</strong></span>
                    <ul class="share-buttons-icons">
                        <li><a href="#" data-button-color="#3b5998" title="Share on Facebook" data-tippy-placement="top"><i class="icon-brand-facebook-f"></i></a></li>
                        <li><a href="#" data-button-color="#1da1f2" title="Share on Twitter" data-tippy-placement="top"><i class="icon-brand-twitter"></i></a></li>
                        <li><a href="#" data-button-color="#dd4b39" title="Share on Google Plus" data-tippy-placement="top"><i class="icon-brand-google-plus-g"></i></a></li>
                        <li><a href="#" data-button-color="#0077b5" title="Share on LinkedIn" data-tippy-placement="top"><i class="icon-brand-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "detail",
        props:['product'],
        mounted(){
            this.$store.state.products = JSON.parse(this.product)
        },
        methods:{
            bookmark(){
                axios.get(`/products/bookmark/${this.$store.state.products.id}`)
                    .then(resp=>{
                    })
                    .catch(error=>{
                    })
            },
            messageSeller(){
                window.location.href = `/messages/add/${this.$store.state.products.user.id}`;
            }
        }
    }
</script>

<style scoped>

</style>