<template>
    <div>
    <profile-header :auth="auth"></profile-header>
        <!-- Page Content
        ================================================== -->
        <div class="container">
            <div class="row">

                <!-- Content -->
                <div class="col-xl-8 col-lg-8 content-right-offset">

                    <!-- Page Content -->
                    <div class="single-page-section position-edit-button" @dblclick="showProfileEdit" @mouseenter="profileMouseEnter" @mouseleave="profileMouseLeave">
                        <h3 class="margin-bottom-25">About Me </h3>
                        <i v-if="(parseInt(this.profileUserId) === parseInt(this.auth.id)) && (toggles.showProfileEditButton || toggles.showProfile)" @click="showProfileEdit" class="customize-cursor icon-feather-edit"></i>
                        <textarea v-show="toggles.showProfile"  @focusout="profileFocusOut" cols="30" ref="profileShow" rows="10" v-model="profileIntro"></textarea>
                        <p v-show="!toggles.showProfile" v-html="profileIntro"></p>
                    </div>

                    <!-- Boxed List -->
                    <div class="boxed-list margin-bottom-60">
                        <div class="boxed-list-headline">
                            <h3><i class="icon-material-outline-thumb-up"></i> Employment History and Feedback</h3>
                        </div>
                        <ul class="boxed-list-ul">
                            <li v-for="history in employment_history" v-if="employment_history.length > 0">
                                <div class="boxed-list-item">
                                    <!-- Content -->
                                    <div class="item-content">
                                        <h4>{{history.title}}</h4>
                                        <div class="item-details margin-top-10">
                                            <div class="star-rating" :data-rating="history.rating"></div>
                                            <div class="detail-item"><i class="icon-material-outline-date-range"></i> {{history.date}}</div>
                                        </div>
                                        <div class="item-description">
                                            <p>{{history.comment}} </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li v-if="!employment_history.length > 0">
                                <div class="boxed-list-item">
                                    <!-- Content -->
                                    <div class="item-content">
                                        <h4>No Employment History</h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                       <!--  Pagination
                        <div class="clearfix"></div>
                        <div class="pagination-container margin-top-40 margin-bottom-10">
                            <nav class="pagination">
                                <ul>
                                    <li><a href="#" class="ripple-effect current-page">1</a></li>
                                    <li><a href="#" class="ripple-effect">2</a></li>
                                    <li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="clearfix"></div>
                         Pagination / End -->
                    </div>
                    <!-- Boxed List / End -->
                </div>


                <!-- Sidebar -->
                <div class="col-xl-4 col-lg-4">
                    <div class="sidebar-container">

                        <!-- Profile Overview -->
                        <div class="profile-overview">
                            <div class="overview-item"><strong>${{profileRate}}</strong><span>Hourly Rate</span></div>
                            <div class="overview-item"><strong>{{jobsDone}}</strong><span>Jobs Done</span></div>
                        </div>
                        <!-- Freelancer Indicators -->
                        <div class="sidebar-widget">
                            <div class="freelancer-indicators">

                                <!-- Indicator -->
                                <div class="indicator">
                                    <strong>{{profileJobSuccess}}%</strong>
                                    <div class="indicator-bar" :data-indicator-percentage="profileJobSuccess"><span></span></div>
                                    <span>Job Success</span>
                                </div>

                                <!-- Indicator -->
                                <div class="indicator">
                                    <strong>{{profileRecommendation}}%</strong>
                                    <div class="indicator-bar" :data-indicator-percentage="profileRecommendation"><span></span></div>
                                    <span>Recommendation</span>
                                </div>
                            </div>
                        </div>
                        <!-- Widget -->
                        <div class="sidebar-widget">
                            <h3>Social Profiles</h3>
                            <div class="freelancer-socials margin-top-25">
                                <ul>
                                    <li><a href="#" title="Dribbble" data-tippy-placement="top"><i class="icon-brand-dribbble"></i></a></li>
                                    <li><a href="#" title="Twitter" data-tippy-placement="top"><i class="icon-brand-twitter"></i></a></li>
                                    <li><a href="#" title="Behance" data-tippy-placement="top"><i class="icon-brand-behance"></i></a></li>
                                    <li><a href="#" title="GitHub" data-tippy-placement="top"><i class="icon-brand-github"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Widget -->
                        <div class="sidebar-widget">
                            <h3>Skills</h3>
                            <div class="task-tags">
                                <span style="margin-right: 4px" v-for="item in profileSkills">{{item.skill}}</span>
                            </div>
                        </div>

                        <!-- Widget -->
                        <div class="sidebar-widget">
                            <h3>Attachments</h3>
                            <div class="attachments-container">
                                <a href="#" class="attachment-box ripple-effect"><span>Cover Letter</span><i>PDF</i></a>
                                <a href="#" class="attachment-box ripple-effect"><span>Contract</span><i>DOCX</i></a>
                            </div>
                        </div>

                        <!-- Sidebar Widget -->
                        <div class="sidebar-widget">
                            <!-- Copy URL -->
                            <div class="copy-url">
                                <input id="copy-url" type="text" value="" class="with-border">
                                <button class="copy-url-button ripple-effect" data-clipboard-target="#copy-url" title="Copy to Clipboard" data-tippy-placement="top"><i class="icon-material-outline-file-copy"></i></button>
                            </div>

                            <!-- Share Buttons -->
                            <div class="share-buttons margin-top-25">
                                <div class="share-buttons-trigger"><i class="icon-feather-share-2"></i></div>
                                <div class="share-buttons-content">
                                    <span>Interesting? <strong>Share It!</strong></span>
                                    <ul class="share-buttons-icons">
                                        <li><a href="#" data-button-color="#3b5998" title="Share on Facebook" data-tippy-placement="top"><i class="icon-brand-facebook-f"></i></a></li>
                                        <li><a href="#" data-button-color="#1da1f2" title="Share on Twitter" data-tippy-placement="top"><i class="icon-brand-twitter"></i></a></li>
                                        <li><a href="#" data-button-color="#dd4b39" title="Share on Google Plus" data-tippy-placement="top"><i class="icon-brand-google-plus-g"></i></a></li>
                                        <li><a href="#" data-button-color="#0077b5" title="Share on LinkedIn" data-tippy-placement="top"><i class="icon-brand-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import ProfileHeader from './profile-header.vue';
    import {mapActions,mapGetters} from 'vuex';
    export default {
        name: "index",
        data(){
            return {
                toggles:{showProfile:false,showProfileEditButton:false},
                auth:{},employment_history:[]
            }
        },
        props:['user','current','employments','jobsDone'],
        components:{
          ProfileHeader
        },
        methods:{
            ...mapActions([
                'setProfile'
            ]),
            showProfileEdit(){
                if(parseInt(this.profileUserId) === parseInt(this.auth.id)){
                    this.toggles.showProfile =  !this.toggles.showProfile;
                    if(this.toggles.showProfile){
                        this.$nextTick(() => this.$refs.profileShow.focus())
                    }
                }

            },
            profileFocusOut(){
                this.toggles.showProfile = false;
            },
            profileMouseEnter(){
                this.toggles.showProfileEditButton = true;
            },
            profileMouseLeave(){
                this.toggles.showProfileEditButton = false;
            }

        },
        computed:{
            ...mapGetters([
                'profileSkills',
                'profileRate',
                'profileId',
                'profileJobSuccess',
                'profileRecommendation',
                'profileUserId'
            ]),
            profileIntro:{
                get(){
                    return this.$store.getters.profileIntroduction;
                },
                set(value){
                    this.$store.dispatch('updateProfileIntroduction',value);
                }
            },

        },
        mounted(){
            axios.post('/cs/view-count',{id:this.auth.profile.id,currentId:this.profileId})
                .then(resp=>{
                    console.log('Justice'+resp.data)
                })
                .catch(error=>{
                    console.log('an error occurred')
                })
        },
        created(){
           this.setProfile(JSON.parse(this.user));
           this.employment_history = JSON.parse(this.employments);
           this.auth = JSON.parse(this.current);
        }
    }

</script>

<style>
.position-edit-button{
    position: relative;
}
    .position-edit-button i{
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
    .position-edit-button:focus .i{
        color: yellow;
    }
</style>