<template>
    <div class="single-page-header freelancer-header style-freelance-header" data-background-image="/images/single-freelancer.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="single-page-header-inner">
                        <div class="left-side">
                            <div class="header-image freelancer-avatar">
                                <img v-if="profileLogo" :src="profileLogo" alt="">
                                <img v-else src="/images/user-avatar-big-02.jpg" alt="avatar">
                            </div>
                            <div class="header-details">
                                <h3>{{profileName}} <span>iOS Expert + Node Dev</span></h3>
                                <ul>
                                    <li><div class="star-rating" :data-rating="profileRating"></div></li>
                                    <li><img class="flag" src="/images/flags/gh.svg" alt=""> {{profileCountry}}</li>
                                    <li><div class="verified-badge-with-title">Verified</div></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <i v-if="(parseInt(this.profileUserId) === parseInt(this.auth.id))" @click="showModal" class="customize-cursor-header icon-feather-edit"></i>
        <div id="small-dialog-1" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

            <!--Tabs -->
            <div class="sign-in-form">

                <ul class="popup-tabs-nav">
                </ul>

                <div class="popup-tabs-container">

                    <!-- Tab -->
                    <div class="popup-tab-content" id="tab1">

                        <div class="profile__container">
                            <div class="profile__header_with-pic">
                                <span class="icon-feather-edit-2"></span>
                                <div class="profile__header_user_pic">
                                    <img src="/images/user-avatar-big-02.jpg" alt="">
                                    <span class="icon-feather-edit-2"></span>
                                </div>
                            </div>
                        </div>
                        <div class="profile_container__form_name">
                            <input placeholder="firstname" class="with-border" type="text">
                            <input class="with-border" placeholder="lastname" type="text">
                        </div>
                        <div class="profile__container__tagline">
                            <input class="with-border" type="text">
                        </div>
                        <div class="profile__container__location">
                            <div class="profile__container__country-state">
                                <select class="with-border">
                                    <option value="">Ghana</option>
                                </select>
                                <select class="with-border">
                                    <option value="">Ashanti</option>
                                </select>
                            </div>
                            <input type="text" class="with-border">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    export default {
        name: "profile-header",
        props:['auth'],
        methods:{
            showModal(){
                $.magnificPopup.open({
                    items: {
                        src: '#small-dialog-1',
                    },
                    type: 'inline'
                });
            }
        },
        computed:{
            ...mapGetters([
                'profileName',
                'profileCountry',
                'profileLogo',
                'profileRating',
                'profileUserId'
            ])
        }
    }
</script>

<style>
    /*style the modal*/
    .profile__container{
        display: flex;
        position: relative;
    }
    .profile__header_with-pic > span{
        top: 10px;
        right: 5px;
        position: absolute;
        background: #53bcfb;
        padding: 4px;
        border-radius: 50%;
        font-weight: bolder;
        color: white;
        cursor: pointer;
    }
    .profile__header_with-pic{
        background: url("/images/user-avatar-big-02.jpg");
        background-size: cover;
        flex :1;
        object-fit: cover;
        height: 150px;
        background-repeat: no-repeat;
        position: relative;
    }
    .profile__header_user_pic{
        position: absolute;
        top: 100px;
        left: 20px;

    }
    .profile__header_user_pic img{
        width: 100px;
        border-radius: 50%;
    }

    .profile__header_user_pic span{
        top: 77px;
        position: absolute;
        background: #53bcfb;
        padding: 4px;
        border-radius: 50%;
        font-weight: bolder;
        color: white;
        cursor: pointer;
    }
    .profile_container__form_name{
        display: flex;
        flex: 1;
        margin-top:60px ;
        flex-direction: row;
        justify-content: space-between;
    }
    .profile_container__form_name input{
        width: 80%;
    }
    .profile__container__location{
        display: flex;
        flex-direction: column;
    }
    .profile__container__country-state{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .profile__container__country-state select{
        padding-bottom: 6px;
    }

.freelancer-header{
    position: relative;
}
    .freelancer-header i{
        position: absolute;
        z-index: 16;
        font-size: 18px;
        bottom: 20px;
        right: 20px;
        padding: 5px;
        cursor: pointer;
        transition: all .5s;
        border-radius: 3px;
    }
.freelancer-header i:hover{
    background: #0a82e2;
    color: white;
}
.mfp-bg{
    opacity: .8 !important;
}
</style>