<template>
    <div class="col-md-12">
        <div class="widget has-shadow">
            <div class="widget-header">
                Add User Plan
            </div>
            <div class="widget-body">
                <form method="post" @submit.prevent="attemptAdd">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="group material-input">
                                <input type="text" autofocus v-model="plan.name"  required autocomplete="off" placeholder="Plan Name">
                                <span class="bar"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="group material-input">
                                <input type="number" v-model="plan.monthly"  required autocomplete="off" placeholder="Monthly Amount">
                                <span class="bar"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="group material-input">
                                <input type="number" v-model="plan.yearly"  required autocomplete="off" placeholder="Yearly Amount">
                                <span class="bar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="sign-btn text-right" style="margin-top: 20px">
                        <button type="submit"  class="btn btn-lg btn-gradient-01 ld-ext-right" :class="{'running':loading}" :disabled="loading">
                            Add
                            <div class="ld ld-ring ld-spin"></div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "add",
        data(){
            return{
                loading:false,
                plan:{},
                count : 1
            }
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            attemptAdd(){
                this.loading = true;
                axios.post('/admin/manage-users/plans',this.plan)
                    .then(resp=>{
                        this.showAlert('plan added successfully','success');
                        this.$store.state.plans.unshift(resp.data.data);
                        this.plan = {};
                        this.loading = false;
                    })
                    .catch(error=>{
                        if(error.response.status === 501){
                            this.showAlert(`duplicate entry for ${this.plan.name}`,'error');
                        }else{
                            this.showAlert('sorry an error occurred','error');
                        }
                        this.loading = false;
                    })
            },
            increaseCount(){
                let c = this.count;
                this.count ++;
                $('#'+c+' input').focus();
            },
            removeEL(index){
                if(index > 0)
                    $('#'+index).remove();
                this.count --;
            }
        }
    }
</script>

<style scoped>

</style>