<template>
    <div class="row">
        <add-category></add-category>
        <div class="col-md-12">
            <div class="widget has-shadow">
                <div class="widget-header">
                    All Plans
                </div>
                <div class="widget-body">
                    <div class="table-responsive table-scroll padding-right-10">
                        <data-tables  v-loading="loading" :stripe="true" :data="$store.state.plans" :pagination-props="{ pageSizes: [5,10, 15,20,25,30] }">
                            <el-table-column :prop="'name'" :label="'Name'" :key="'Name'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'monthly_amount'" :label="'Monthly Amount (GHS)'" :key="'Monthly Amount'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'yearly_amount'" :label="'Yearly Amount (GHS)'" :key="'Yearly Amount'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column label="Actions" align="right">
                                <template slot-scope="scope">
                                    <button type="button" @click="showModal(scope.$index, scope.row)"
                                            class="btn btn-primary btn-sm">
                                        <i class="ion-edit"></i>
                                    </button>
                                    <button type="button" @click="deleteCategory(scope.$index, scope.row.id)"
                                            class="btn btn-danger btn-sm">
                                        <i class="ion-trash-a"></i>
                                    </button>
                                </template>

                            </el-table-column>
                        </data-tables>
                    </div>
                </div>
            </div>
        </div>
        <div id="edit-modal" class="modal modal-top fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Plan</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">close</span>
                        </button>
                    </div>
                    <form method="post" @submit.prevent="attemptEdit">

                        <div class="modal-body">
                            <div class="group material-input">
                                <input v-model="edit_name" type="text" autofocus  required autocomplete="off" placeholder="Plan Name">
                                <span class="bar"></span>
                            </div>
                            <div class="group material-input">
                                <input v-model="month" type="text"  required autocomplete="off" placeholder="Monthly Amount">
                                <span class="bar"></span>
                            </div>
                            <div class="group material-input">
                                <input v-model="year" type="text"  required autocomplete="off" placeholder="Yearly amount">
                                <span class="bar"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-shadow" data-dismiss="modal">Close</button>
                            <button type="submit"  class="btn btn-lg btn-gradient-01 ld-ext-right" :class="{'running':loading}" :disabled="loading">
                                Update
                                <div class="ld ld-ring ld-spin"></div>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import AddCategory from './add.vue'
    export default {
        name: "index",
        props:['data'],
        data(){
            return{
                loading:false,currentItem:{},edit_name:'',index:'',month:'',year:''
            }
        },
        components:{
            AddCategory
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            deleteCategory(index,id){
                if(confirm("Are You sure you want to perform this action?")){
                    this.loading = true;
                    axios.delete('/admin/manage-users/plans/'+id)
                        .then(resp=>{
                            this.$store.state.plans.splice(index, 1);
                            this.showAlert('plan deleted successfully','success');
                            this.loading = false
                        })
                        .catch(resp=>{
                            this.showAlert('sorry an error occurred','error');
                            this.loading = false;
                        })
                }
            },
            showModal(index,row){
                this.currentItem = row;
                this.edit_name = row.name;
                this.month = row.monthly_amount;
                this.year = row.yearly_amount;
                this.index = index;
                $('#edit-modal').modal('show');
            },
            attemptEdit(){
                this.loading = true;
                let plan = {};
                plan.name = this.edit_name;
                plan.month = this.month;
                plan.year = this.year;
                axios.put('/admin/manage-users/plans/'+this.currentItem.id,plan)
                    .then(resp=>{
                        this.$store.state.plans.splice(this.index,1);
                        this.$store.state.plans.unshift(resp.data.data);
                        $('#edit-modal').modal('hide');
                        this.showAlert('Updated successfully','success');
                        this.loading = false
                    })
                    .catch(error=>{
                        if(error.response.status === 501){
                            this.showAlert(`duplicate entry for ${this.edit_name}`,'error');
                        }else{
                            this.showAlert('sorry an error occurred','error');
                        }
                        this.loading = false;
                    })
            }
        },
        mounted(){
            this.$store.state.plans = JSON.parse(this.data);
        }
    }
</script>

<style scoped>

</style>