<template>
    <div class="col-md-12">
        <div class="widget has-shadow">
            <div class="widget-header">
                Add Item Brand
            </div>
            <div class="widget-body">
                <form method="post" @submit.prevent="attemptAdd">
                    <div class="group material-input" v-for="(item,index) in count" :id="index" :key="index">
                        <input type="text" autofocus v-model="name"  required autocomplete="off" placeholder="Brand Name">
                        <span class="bar"></span>
                    </div>
                    <div class="sign-btn text-right" style="margin-top: 20px">
                        <button type="submit"  class="btn btn-lg btn-gradient-01 ld-ext-right" :class="{'running':loading}" :disabled="loading">
                            Add
                            <div class="ld ld-ring ld-spin"></div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "add",
        data(){
            return{
                loading:false,
                name:'',
                count : 1
            }
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            attemptAdd(){
                this.loading = true;
                axios.post('/admin/brands',{name:this.name})
                    .then(resp=>{
                        this.showAlert('Item added successfully','success');
                        this.$store.state.brands.unshift(resp.data.data);
                        this.name = '';
                        this.loading = false;
                    })
                    .catch(error=>{
                        if(error.response.status === 501){
                            this.showAlert(`duplicate entry from ${this.name}`,'error');
                        }else{
                            this.showAlert('sorry an error occurred','error');
                        }
                        this.loading = false;
                    })
            },
            increaseCount(){
                let c = this.count;
                this.count ++;
                $('#'+c+' input').focus();
            },
            removeEL(index){
                if(index > 0)
                    $('#'+index).remove();
                this.count --;
            }
        }
    }
</script>

<style scoped>

</style>