<template>
    <div class="col-md-12">
        <div class="widget has-shadow">
            <div class="widget-header">
                Filter Records
            </div>
            <div class="widget-body">
                <form method="post" @submit.prevent="filterRecored">
                    <div class="form-group row mb-3">
                        <div class="col-xl-4 mb-3">
                            <label class="form-control-label">Title</label>
                            <input type="text"  autofocus v-model="record.title"value="Los Angeles" class="form-control">
                        </div>
                        <div class="col-xl-8 mb-3">
                            <label class="form-control-label">Salary</label>
                            <vue-slider  tooltipPlacement="bottom" :min="0" :max="10000" :interval="100" v-model="record.salary"></vue-slider>
                        </div>
                        <div class="col-xl-5">
                            <label class="form-control-label">Date Posted</label>
                            <el-date-picker
                                    v-model="record.date"
                                    type="daterange"
                                    prefix-icon="la la-calendar"
                                    range-separator="|"
                                    start-placeholder="Start date"
                                    end-placeholder="End date">
                            </el-date-picker>
                        </div>
                        <div class="col-xl-4">
                            <label class="form-control-label">Expiry</label>
                            <el-date-picker
                                    class="form-control"
                                    v-model="record.expiry"
                                    prefix-icon="la la-calendar"
                                    type="daterange"
                                    range-separator="|"
                                    start-placeholder="Start date"
                                    end-placeholder="End date">
                            </el-date-picker>
                        </div>
                    </div>
                    <div class="sign-btn text-right" style="margin-top: 20px">
                        <button type="submit"  class="btn btn-lg btn-gradient-01 ld-ext-right" :class="{'running':loading}" :disabled="loading">
                            Filter
                            <div class="ld ld-ring ld-spin"></div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import VueSlider from 'vue-slider-component'
    export default {
        name: "add",
        components: {
            VueSlider
        },
        data(){
            return{
                loading:false,
                record:{salary:[0,10000]},
            }
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            filterRecored(){
                this.loading = true;
                axios.post('/admin/reports/filter-jobs',this.record)
                    .then(resp=>{
                        this.$emit('jobsChanged',{
                            jobs:resp.data
                        })
                        this.loading = false;
                    })
                    .catch(error=>{
                        this.loading = false;
                    })
            },

        }
    }
</script>

<style>
/*.el-date-picker{
    display: block;
}*/
    .slider{
        width: 100%;
    }
</style>