<template>
    <div class="row">
        <filter-jobs @jobsChanged="onJobsChanged"></filter-jobs>
        <div class="col-md-12">
            <div class="widget has-shadow">
                <div class="widget-header">
                    All Jobs
                </div>
                <div class="widget-body">
                    <div class="table-responsive table-scroll padding-right-10">
                        <data-tables  v-loading="loading" :stripe="true" :data="jobs" page-size="10" :pagination-props="{ pageSizes: [10,15,20,25,30] }">
                            <el-table-column width="250" prop="title" label="Title" key="title"></el-table-column>
                            <el-table-column prop="min_salary" label="Min Salary" key="min_salary"></el-table-column>
                            <el-table-column prop="max_salary" label="Max Salary" key="max_salary"></el-table-column>
                            <el-table-column prop="applications_count" label="Applicants" key="applications_count"></el-table-column>
                            <el-table-column prop="shortlist_count" label="Shortlisted" key="shortlist_count"></el-table-column>
                            <el-table-column prop="interview_count" label="Interviewed" key="interview_count"></el-table-column>
                            <el-table-column prop="employed_count" label="Employed" key="employed_count"></el-table-column>
                        </data-tables>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import FilterJobs from './filter-jobs.vue'
    export default {
        name: "index",
        props:['data'],
        data(){
            return{
                jobs:[]
            }
        },
        components:{
            FilterJobs
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            onJobsChanged(data){
                console.log(data);
                this.jobs = data.jobs
            }
        },
        mounted(){
            this.jobs = JSON.parse(this.data);
        }
    }
</script>

<style scoped>

</style>