<script>
    import { PolarArea } from 'vue-chartjs'
    export default {
        name: "jobs-overview",
        data(){
            return{
                data : {
                    datasets: [{
                        data: [100,50,34,30,10],
                        backgroundColor: [
                            "#FF6384",
                            "#4BC0C0",
                            "#36A2EB",
                            "#42b9f4",
                            "#a041f4",
                        ],
                        label: 'Jobs'
                    }],
                    // These labels appear in the legend and in the tooltips when hovering different arcs
                    labels: [
                        'Jobs',
                        'Applicants',
                        'Shortlisted',
                        'Interviewed',
                        'Employed'
                    ]
                },
                options:{}
            }
        },
        extends: PolarArea,
        props: ['chartdata'],
        mounted () {
            console.log(this.chartdata);
            //this.renderChart(this.chartdata, this.options)
            this.renderChart(this.chartdata,this.options)
        }
    }
</script>

<style scoped>

</style>