<script>
    import { PolarArea } from 'vue-chartjs'
    export default {
        name: "subscriptions",
        data(){
            return{
                data : {
                    datasets: [{
                        data: [10, 20, 30],
                        backgroundColor: [
                            "#FF6384",
                            "#4BC0C0",
                            "#36A2EB"
                        ],
                        label: 'Subscriptions'
                    }],

                    // These labels appear in the legend and in the tooltips when hovering different arcs
                    labels: [
                        'Red',
                        'Yellow',
                        'Blue'
                    ]
                },
                options:{}
            }
        },
        extends: PolarArea,
        props: ['chartdata'],
        mounted () {
            console.log(this.chartdata);
            //this.renderChart(this.chartdata, this.options)
            this.renderChart(this.chartdata,this.options)
        }
    }
</script>

<style scoped>

</style>