<template>
    <a href="#small-dialog" @click.prevent="attemptApply" class="apply-now-button">Apply Now <i class="icon-material-outline-arrow-right-alt"></i></a>
</template>

<script>
    export default {
        name: "apply",
        props:['works'],
        methods:{
            attemptApply(){
                axios.post('/apply/job',{id:this.formattedJob.id})
                    .then(resp=>{
                        Snackbar.show(
                            {
                                text: 'Application sent Successfully',
                                pos:'top-center',
                                showAction:true,
                                backgroundColor:'#0f9b1f',
                                actionTextColor:'#ffffff',
                                actionText:'Dismiss',
                                duration:3000
                            }
                        );
                    }).catch(error=>{
                    Snackbar.show(
                        {
                            text: 'You have applied for this job already',
                            pos:'top-center',
                            showAction:true,
                            backgroundColor:'#c93028',
                            actionTextColor:'#ffffff',
                            actionText:'Dismiss',
                            duration:0
                        }
                    );
                })
            }
        },
        computed:{
            formattedJob(){
                return JSON.parse(this.works)
            }
        },

    }
</script>

<style scoped>

</style>