<template>
    <div class="row">

        <form action="" @submit.prevent="attemptUpdate">
            <!-- Dashboard Box -->
            <div class="col-xl-12">
                <div class="dashboard-box margin-top-0">

                    <!-- Headline -->
                    <div class="headline">
                        <h3><i class="icon-feather-folder-plus"></i> Job Edit Form</h3>
                    </div>

                    <div class="content with-padding padding-bottom-10">
                        <div class="row">

                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Job Title</h5>
                                    <input type="text" v-model="work.title" class="with-border" required>
                                </div>
                            </div>

                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Job Type</h5>
                                    <el-select class="with-border" v-model="work.type" filterable placeholder="Select">
                                        <el-option
                                                v-for="item in job_types"
                                                :key="item.value"
                                                :label="item.name"
                                                :value="item.value">
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>

                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Job Category</h5>
                                    <el-select class="with-border" v-model="work.job_category_id" filterable placeholder="Select Category">
                                        <el-option
                                                v-for="item in job_categories"
                                                :key="item.id"
                                                :label="item.name"
                                                :value="item.id">
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>

                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Location</h5>
                                    <div class="input-with-icon">
                                        <div>
                                            <gmap-autocomplete :value="town"
                                                    @place_changed="setPlace">
                                            </gmap-autocomplete>
                                        </div>
                                        <i class="icon-material-outline-location-on"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Degree</h5>
                                    <select v-model="work.degree" class="with-border" required>
                                        <option>MPhil</option>
                                        <option>BSC</option>
                                        <option>MSC</option>
                                        <option>PHD</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Salary</h5>
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="input-with-icon">
                                                <input v-model="work.min_salary" class="with-border" type="number" placeholder="Min" required>
                                                <i class="currency">USD</i>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="input-with-icon">
                                                <input v-model="work.max_salary" class="with-border" type="number" placeholder="Max" required>
                                                <i class="currency">USD</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Expiry Date</h5>
                                    <datepicker class="with-border block" placeholder="Pick a day" v-model="work.expiry" name="uniquename"></datepicker>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Tags <span>(optional)</span>  <i class="help-icon" data-tippy-placement="right" title="Maximum of 10 tags"></i></h5>
                                    <div class="keywords-container">
                                        <div class="keyword-input-container">
                                            <input v-model="tag" type="text" class="keyword-input with-border" placeholder="e.g. job title, responsibilites"/>
                                            <button @click.prevent="addTag" class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
                                        </div>
                                        <div class="keywords-list custom-tag-height">
                                            <span v-if="work.tags.length > 0" v-for="(item,key) in work.tags" class="keyword"><span class="keyword-remove" @click="removeTag(item.id,key)"></span><span class="keyword-text">{{item.name}}</span></span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Requirements <span>(optional)</span>  <i class="help-icon" data-tippy-placement="right" title="Maximum of 10 tags"></i></h5>
                                    <div class="keywords-container">
                                        <div class="keyword-input-container">
                                            <input v-model="req" type="text" class="keyword-input with-border" placeholder="e.g. job title, responsibilites"/>
                                            <button @click.prevent="addRequirement" class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
                                        </div>
                                        <div class="keywords-list custom-require-height" >
                                            <span v-if="work.requirements.length>0" v-for="(item,key) in work.requirements" class="keyword"><span class="keyword-remove" @click="removeRequirement(item.id,key)"></span><span class="keyword-text">{{item.name}}</span></span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-xl-12">
                                <div class="submit-field">
                                    <h5>Job Description</h5>
                                    <textarea v-model="work.description" cols="30" rows="5" class="with-border"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-12">
                <button class="button ripple-effect big margin-top-30" :class="{'running':loading}" :disabled="loading">
                    <span v-if="!loading"> <i class="icon-feather-plus"></i> Post Job</span>
                    <div v-else style="display:inline-block; margin-left:5px"  class="ld ld-ring ld-spin"></div>
                </button>
            </div>
        </form>
    </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';
    export default {
        components:{
            Datepicker
        },
        name: "edit-job",
        props:['categories','job'],
        data(){
            return{
                req:null,tag:null,loading:false,
                state:'',town:'',job_categories : [],center:{},
                currentPlace:null,mylocation:{},address:'',places:'',work:{},
                job_types:[
                    {
                        name:'Full Time',
                        value:'full_time'
                    },
                    {
                        name:'Part Time',
                        value:'part_time'
                    },
                    {
                        name:'Temporary',
                        value:'temporary'
                    },
                    {
                        name:'Internship',
                        value:'intership'
                    }
                ]

            }
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            addTag(){
                if(this.tag != null){
                    axios.post('add-work-tag',{name:this.tag,work_id:this.work.id})
                        .then(resp=>{
                            this.work.tags.push(resp.data);
                            this.tag = null;
                        })
                        .catch(error=>{
                            if(error.response.status === 422){
                                this.showAlert(`Duplicate tag "${this.tag}" for ${this.work.title}`,'error');
                                this.tag = null;
                            }
                        })
                    var under = $('.custom-tag-height');
                    var heightnow = $(under).height();
                    var heightfull = $(under).css({'max-height':'auto', 'height':'auto'}).height();
                    $(under).css({ 'height' : heightnow }).animate({ 'height': heightfull }, 200);
                }
            },
            addRequirement(e){
                if(this.req != null){
                    axios.post('add-work-requirement',{name:this.req,work_id:this.work.id})
                        .then(resp=>{
                            this.work.requirements.push(resp.data);
                            this.req = null;
                        })
                        .catch(error=>{
                            if(error.response.status === 422){
                                this.showAlert(`Duplicate requirement "${this.req}" for ${this.work.title}`,'error');
                                this.req = null;
                            }
                        })
                    var under = $('.custom-require-height');
                    var heightnow = $(under).height();
                    var heightfull = $(under).css({'max-height':'auto', 'height':'auto'}).height();
                    $(under).css({ 'height' : heightnow }).animate({ 'height': heightfull }, 200);
                }
            },
            removeRequirement(id,key){
                if(confirm('Are you sure?')){
                    axios.delete(`/remove-work-requirement/${id}`)
                        .then(resp=>{
                            this.work.requirements.splice(key,1);
                        })
                    $('.custom-require-height').css({'height':'auto'}).height();
                }
            },
            removeTag(id,key){
                if(confirm('Are you sure')){
                    axios.delete(`/remove-work-tag/${id}`)
                        .then(resp=>{
                            this.work.tags.splice(key,1);
                        })
                    $('.custom-tag-height').css({'height':'auto'}).height();
                }
            },
            attemptUpdate(){
                this.loading = true;
                axios.put(`/jobs/${this.work.slug}`,{
                    location:this.town,
                    center:this.center,address:this.address,
                    work:this.work
                })
                    .then(resp=>{
                        window.location.href = '/manage-jobs';
                    })
                    .catch(error=>{
                        if(error.response.status === 422){
                            let keys = Object.keys(error.response.data.errors);
                            let item = keys[0];
                            let finalError = error.response.data.errors[item];
                            this.showAlert(finalError,'error');
                        }
                        this.loading = false;
                    })
            },
            setPlace(place) {
                this.currentPlace = place;
                if(this.currentPlace){
                    this.mylocation = this.places = this.currentPlace;
                    this.address = this.mylocation.address_components;
                    this.town = this.mylocation.formatted_address;
                    this.center.lat = this.currentPlace.geometry.location.lat();
                    this.center.lng = this.currentPlace.geometry.location.lng();
                }
            },
        },
        mounted(){
            this.job_categories = JSON.parse(this.categories);
            this.work = JSON.parse(this.job);
            this.center = {
                lat: this.work.lat,
                lng: this.work.lng
            };
            // get the current location
             let instance = axios.create();
             delete instance.defaults.headers.common['X-CSRF-TOKEN'];
             delete instance.defaults.headers.common['X-Requested-With'];
             instance({
                 url:'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + this.work.lat + ',' + this.work.lng + '&key=' + 'AIzaSyCg8zyiOfyZ4xaLIqX6-P82Z0VCJG5Cpmg',
                 headers:{
                     "Content-Type": "application/json",
                     "Accept": "application/json"
                 }
             })
                 .then(resp=>{
                     this.mylocation = resp.data.results[1];
                     this.address = this.mylocation.address_components;
                     this.town = this.mylocation.formatted_address;
                     console.log(resp.data);
                 })
        }

    }
</script>

<style scoped>
    .el-select,.el-date-picker {
        display: block;
    }
    .el-date-picker{
        width: 100%;
    }
</style>