<template>
    <div class="row" id="settings_container">

        <form method="post" @submit.prevent="attemptSave">
            <!-- Dashboard Box -->
            <div class="col-xl-12">
                <div class="dashboard-box margin-top-0">

                    <!-- Headline -->
                    <div class="headline">
                        <h3><i class="icon-material-outline-account-circle"></i> Interview</h3>
                    </div>

                    <div class="content with-padding padding-bottom-0">

                        <div class="row">

                            <div class="col">
                                <div class="row">

                                    <div class="col-xl-6">
                                        <div class="submit-field">
                                            <h5>Date</h5>
                                            <datetime v-model="time" type="datetime"></datetime>
                                        </div>
                                    </div>

                                    <div class="col-xl-6">
                                        <div class="submit-field">
                                            <h5>Deadline</h5>
                                            <datetime v-model="deadline"></datetime>
                                        </div>
                                    </div>

                                    <div class="col-xl-6">
                                        <div class="submit-field">
                                            <h5>Location</h5>
                                            <input type="text" id="location" v-model="location" class="with-border" required>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="submit-field">
                                            <h5>Enquiry Contact</h5>
                                            <input type="text" id="contact" v-model="contact" class="with-border" required>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="submit-field">
                                            <h5>Attachments</h5>
                                            <div class="clearfix"></div>

                                            <!-- Upload Button -->
                                            <div class="uploadButton margin-top-0">
                                                <input class="uploadButton-input" ref="file" type="file" @change="changeAttachment" id="upload"/>
                                                <label class="uploadButton-button ripple-effect" for="upload">Upload Files</label>
                                                <span class="uploadButton-file-name">Maximum file size: 50 MB</span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="submit-field">
                                            <h5>Description</h5>
                                            <textarea id="description"  cols="30" rows="5" v-model="description" class="with-border">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Button -->
            <div class="col-xl-12">
                <button type="submit" class="button ripple-effect big margin-top-30"><i class="icon-feather-plus"></i>Save Changes</button>
            </div>
        </form>

    </div>
</template>

<script>
    export default {
        name: "interview",
        props:['job','applicant'],
        data(){
            return{
                time:'',
                deadline:'',
                location:'',
                description:'',
                attachment:'',
                contact:'',
                formData:{}
            }
        },
        methods:{
            changeAttachment(e){
                this.attachment = this.$refs.file.files[0];
            },
            attemptSave(){
                this.formData = new FormData();
                this.formData.append('time',this.time);
                this.formData.append('deadline',this.deadline);
                this.formData.append('description',this.description);
                this.formData.append('contact',this.contact);
                this.formData.append('attachment',this.attachment);
                this.formData.append('location',this.location);
                this.formData.append('job',this.job);
                this.formData.append('applicant',this.applicant);
                axios.post('/manage-candidates/interview/save',this.formData)
                    .then(resp=>{
                            location.replace('/manage-candidates/'+this.job);
                    })
                    .catch(error=>{
                        if(error.response.status == 422){
                        let keys = Object.keys(error.response.data.errors)
                        let item = keys[0]
                        $('#'+item).focus()
                        let finalError = error.response.data.errors[item]

                            Snackbar.show(
                                {
                                    text: finalError[0],
                                    pos:'top-center',
                                    showAction:true,
                                    backgroundColor:'#c93028',
                                    actionTextColor:'#ffffff',
                                    actionText:'Dismiss',
                                    duration:3000
                                }
                            )

                        }
                        if(error.response.status == 430){
                            Snackbar.show(
                                {
                                    text: 'This action has already been taken',
                                    pos:'top-center',
                                    showAction:true,
                                    backgroundColor:'#c93028',
                                    actionTextColor:'#ffffff',
                                    actionText:'Dismiss',
                                    duration:0
                                }
                            )
                        }
                    })
            }
        }
    }
</script>

<style scoped>

</style>