<template>
    <div class="col-xl-12">

        <div class="dashboard-box margin-top-0">
            <div class="headline">
                <h3><i class="icon-material-outline-business-center"></i> My Job Listings</h3>
                <input placeholder="Search" v-model="search" type="text" class="with-border filter-jobs">
            </div>
            <div class="content">
                <ul class="dashboard-box-list">
                    <li v-if="posts.data.length > 0" v-for="item in posts.data">
                        <!-- Job Listing -->
                        <div class="job-listing">

                            <!-- Job Listing Details -->
                            <div class="job-listing-details">
                                <div class="job-listing-description">
                                    <h3 class="job-listing-title"><a href="#">{{item.title}}</a> <span class="dashboard-status-button" :class="{green:item.status === 'active',yellow:item.status ==='expiring',red:item.status === 'expired'}">{{item.status}}</span></h3>

                                    <!-- Job Listing Footer -->
                                    <div class="job-listing-footer">
                                        <ul>
                                            <li><i class="icon-material-outline-date-range"></i> Posted on {{item.created_at|changeDateFormat}}</li>
                                            <li><i class="icon-material-outline-date-range"></i> Expiring on {{item.expiry|changeDateFormat}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Buttons -->
                        <div class="buttons-to-right always-visible">
                            <a :href="'/manage-candidates/'+item.slug" class="button ripple-effect"><i class="icon-material-outline-supervisor-account">

                            </i> Manage Candidates
                                <span class="button-info">{{item.applications.length}}</span>
                            </a>
                            <a :href="`/manage-jobs?slug=${item.slug}`"  class="button gray ripple-effect ico" title="Edit" data-tippy-placement="top"><i class="icon-feather-edit"></i></a>
                            <!--<a href="#" class="button gray ripple-effect ico" title="Remove" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>-->
                        </div>
                    </li>
                    <li v-if="!posts.data.length > 0">
                        <!-- Job Listing -->
                        <div class="job-listing">
                            <!-- Job Listing Details -->
                            <div class="job-listing-details">
                                <div class="job-listing-description">
                                    <h3 class="job-listing-title"><a href="#">No Data Found</a>
                                    </h3>
                                </div>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
        <!-- Pagination -->
        <div class="clearfix"></div>
        <div v-if="posts.data.length > 0" class="row">
            <div class="col-md-12">
                <!-- Pagination -->
                <div class="pagination-container margin-top-60 margin-bottom-60">
                    <nav class="pagination">
                        <ul>
                            <li v-if="posts.prev_page_url" class="pagination-arrow"><a @click.prevent="loadPosts(posts.current_page - 1)" href="#"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                            <li v-for="item in posts.last_page"><a href="#" @click.prevent="loadPosts(item)" :class="{'current-page':item === posts.current_page}">{{item}}</a></li>
                            <li v-if="posts.next_page_url" class="pagination-arrow"><a @click.prevent="loadPosts(posts.current_page + 1)" href="#"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Pagination / End -->
    </div>

</template>

<script>
    export default {
        name: "manage_jobs",
        props:['data'],
        data(){
            return {
                posts:{},
                path:'',
                search:'',
                searchMode:false,
                tempPosts:''
            }
        },
        methods:{
            deletePost(){},
            loadPosts(id){
                let url = `${this.path}?search=${this.search}&page=`;
                if(!this.searchMode){
                    url = `${this.path}/true?page=`;
                }
              axios.get(`${url}${id}`)
                  .then(resp=>{
                        this.posts = resp.data;
                  })
                  .catch(error=>{
                  })
            }
        },
        mounted(){
            this.posts = JSON.parse(this.data);
            this.tempPosts = JSON.parse(this.data);
            this.path = this.posts.path;
        },
        filters:{
            changeDateFormat(value){
                return moment(value).format("dddd, MMMM Do YYYY");
            }
        },
        watch:{
            search:function (value) {
                console.log(value.length)
                if(value.length > 0){
                    axios.get(`/manage-jobs/search/filter?search=${value}`)
                        .then(resp=>{
                            this.searchMode = true;
                            this.posts = resp.data;
                            this.path = this.posts.path;

                        })
                        .catch(error=>{})
                }else{
                    this.posts = this.tempPosts;
                    this.path = this.posts.path;
                    this.searchMode = false;
                }
            }
        }
    }
</script>

<style >
    .mfp-bg{
        opacity: .8 !important;
    }
    .filter-jobs{
        position: absolute;
        top: 10px;
        right: 8px;
        width: 30% !important;
    }
</style>