<template>
    <div class="row">

        <form action="" @submit.prevent="attemptPost">
            <!-- Dashboard Box -->
            <div class="col-xl-12">
                <div class="dashboard-box margin-top-0">

                    <!-- Headline -->
                    <div class="headline">
                        <h3><i class="icon-feather-folder-plus"></i> Job Submission Form</h3>
                    </div>

                    <div class="content with-padding padding-bottom-10">
                        <div class="row">

                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Job Title</h5>
                                    <input type="text" v-model="title" class="with-border" required>
                                </div>
                            </div>

                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Job Type</h5>
                                    <el-select class="with-border" v-model="type" filterable placeholder="Select">
                                        <el-option
                                                v-for="item in job_types"
                                                :key="item.value"
                                                :label="item.name"
                                                :value="item.value">
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>

                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Job Category</h5>
                                    <el-select class="with-border" v-model="category" filterable placeholder="Select Category">
                                        <el-option
                                                v-for="item in job_categories"
                                                :key="item.id"
                                                :label="item.name"
                                                :value="item.id">
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>

                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Location</h5>
                                    <div class="input-with-icon">
                                        <div>
                                            <gmap-autocomplete
                                                    @place_changed="setPlace">
                                            </gmap-autocomplete>
                                        </div>
                                        <i class="icon-material-outline-location-on"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Degree</h5>
                                    <select v-model="degree" class="with-border" required>
                                        <option>MPhil</option>
                                        <option>BSC</option>
                                        <option>MSC</option>
                                        <option>PHD</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Salary</h5>
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="input-with-icon">
                                                <input v-model.number="min_salary" class="with-border" placeholder="Min" required>
                                                <i class="currency">USD</i>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="input-with-icon">
                                                <input v-model.number="max_salary" class="with-border" placeholder="Max" required>
                                                <i class="currency">USD</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Expiry Date</h5>
                                    <datepicker class="with-border block" placeholder="Pick a day" v-model="expiry_date" name="uniquename"></datepicker>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Tags <span>(optional)</span>  <i class="help-icon" data-tippy-placement="right" title="Maximum of 10 tags"></i></h5>
                                    <div class="keywords-container">
                                        <div class="keyword-input-container">
                                            <input v-model="tag" type="text" class="keyword-input with-border" placeholder="e.g. job title, responsibilites"/>
                                            <button @click.prevent="addTag" class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
                                        </div>
                                        <div class="keywords-list custom-tag-height">
                                            <span v-for="(item,key) in tags" class="keyword"><span class="keyword-remove" @click="removeTag(key)"></span><span class="keyword-text">{{item}}</span></span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Requirements <span>(optional)</span>  <i class="help-icon" data-tippy-placement="right" title="Maximum of 10 tags"></i></h5>
                                    <div class="keywords-container">
                                        <div class="keyword-input-container">
                                            <input v-model="req" type="text" class="keyword-input with-border" placeholder="e.g. job title, responsibilites"/>
                                            <button @click.prevent="addRequirement" class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
                                        </div>
                                        <div class="keywords-list custom-require-height" >
                                            <span v-for="(item,key) in requirements" class="keyword"><span class="keyword-remove" @click="removeRequirement(key)"></span><span class="keyword-text">{{item}}</span></span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-xl-12">
                                <div class="submit-field">
                                    <h5>Job Description</h5>
                                    <textarea v-model="description" cols="30" rows="5" class="with-border"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-12">
                <button class="button ripple-effect big margin-top-30" :class="{'running':loading}" :disabled="loading">
                    <span v-if="!loading"> <i class="icon-feather-plus"></i> Post Job</span>
                    <div v-else style="display:inline-block; margin-left:5px"  class="ld ld-ring ld-spin"></div>
                </button>
            </div>
        </form>
    </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';
    export default {
        components:{
            Datepicker
        },
        name: "post_job",
        props:['categories','log'],
        data(){
            return{
                title:'',type:'',category:'',degree:'',location:'',min_salary:'',max_salary:'',
                tags:[],requirements:[],description:'',req:null,tag:null,loading:false,expiry_date:'',
                regions:null,country : [],state:'',town:'',job_categories : [],logs:{},markers:[],
                center:{},currentPlace:null,mylocation:{},address:'',places:'',
                job_types:[
                    {
                        name:'Full Time',
                        value:'full_time'
                    },
                    {
                        name:'Part Time',
                        value:'part_time'
                    },
                    {
                        name:'Temporary',
                        value:'temporary'
                    },
                    {
                        name:'Internship',
                        value:'intership'
                    }
                ]

            }
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            addTag(){
                if(this.tag != null){
                    if(this.tags.length < 1){
                        this.tags.push(this.tag);
                    }else {
                        if(this.tags.indexOf(this.tag) === -1)
                            this.tags.push(this.tag)
                    }

                    var under = $('.custom-tag-height');
                    var heightnow = $(under).height();
                    var heightfull = $(under).css({'max-height':'auto', 'height':'auto'}).height();
                    $(under).css({ 'height' : heightnow }).animate({ 'height': heightfull }, 200);
                }
                this.tag = null
            },
            addRequirement(e){
                //console.log(e)
                if(this.req != null){
                    if(this.requirements.length < 1){
                        this.requirements.push(this.req);
                    }else {
                        if(this.requirements.indexOf(this.req) === -1){
                            this.requirements.push(this.req)
                        }
                    }
                    var under = $('.custom-require-height');
                    var heightnow = $(under).height();
                    var heightfull = $(under).css({'max-height':'auto', 'height':'auto'}).height();
                    $(under).css({ 'height' : heightnow }).animate({ 'height': heightfull }, 200);
                }
                this.req = null
            },
            removeRequirement(key){
                this.requirements.splice(key,1);
                $('.custom-require-height').css({'height':'auto'}).height();
            },
            removeTag(key){
                this.tags.splice(key,1)
                $('.custom-tag-height').css({'height':'auto'}).height();
            },
            attemptPost(){
                this.loading = true;
                axios.post('/jobs',{category:this.category,description:this.description,degree:this.degree,
                    location:this.town,max_salary:this.max_salary,min_salary:this.min_salary,
                    title:this.title,type:this.type,expiry_date:this.expiry_date,
                    requirements:this.requirements,tags:this.tags,country_id:this.location,state_id:this.state,
                    center:this.center,address:this.address
                })
                    .then(resp=>{
                        this.title = null;this.category=null;this.description=null;this.type=null;this.expiry_date=null;
                        this.min_salary=null;this.max_salary=null;this.location=null;
                        this.requirements = null;this.tags = null;
                        window.scrollTo(0,0);
                        this.showAlert('Post Saved Successfully','success');
                        this.loading = false;
                    })
                    .catch(error=>{
                        if(error.response.status === 422){
                            let keys = Object.keys(error.response.data.errors);
                            let item = keys[0];
                            let finalError = error.response.data.errors[item];
                            this.showAlert(finalError,'error');
                        }else{
                            this.showAlert('Please Make Sure the location is fully qualified','error')
                        }
                        this.loading = false;
                    })
            },
            setPlace(place) {
                this.currentPlace = place;
                if(this.currentPlace){
                    this.mylocation = this.places = this.currentPlace;
                    this.address = this.mylocation.address_components;
                    this.town = this.mylocation.formatted_address;
                    this.center.lat = this.currentPlace.geometry.location.lat();
                    this.center.lng = this.currentPlace.geometry.location.lng();
                }
            },
           /* addMarker() {
                if (this.currentPlace) {
                    const marker = {
                        lat: this.currentPlace.geometry.location.lat(),
                        lng: this.currentPlace.geometry.location.lng()
                    };
                    this.markers.push({ position: marker });
                    this.mylocation = this.places = this.currentPlace;
                    this.address = this.mylocation.address_components;
                    this.town = this.mylocation.formatted_address;
                    this.center = marker;
                    this.currentPlace = null;
                }
            },
            geolocate: function() {
                navigator.geolocation.getCurrentPosition(position => {
                    console.log(position.coords.latitude);
                    console.log(position.coords.longitude);
                    this.center = {
                        lat: parseFloat(position.coords.latitude),
                        lng: parseFloat(position.coords.longitude)
                    };
                });
            },
*/
        },
        computed:{
            formattedCounties(){
                return JSON.parse(this.countries);
            }
        },
        mounted(){
            this.job_categories = JSON.parse(this.categories);
            this.logs = JSON.parse(this.log);
            this.center = {
                lat: this.logs.lat,
                lng: this.logs.lng
            };
            //add marker
            const marker = {
                lat: this.logs.lat,
                lng: this.logs.lng
            };
            this.markers.push({ position: marker });
            // get the current location
           /* let instance = axios.create();
            delete instance.defaults.headers.common['X-CSRF-TOKEN'];
            delete instance.defaults.headers.common['X-Requested-With'];
            instance({
                url:'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + this.logs.lat + ',' + this.logs.lng + '&key=' + 'AIzaSyCg8zyiOfyZ4xaLIqX6-P82Z0VCJG5Cpmg',
                headers:{
                    "Content-Type": "application/json",
                    "Accept": "application/json"
                }
            })
                .then(resp=>{
                    this.mylocation = resp.data.results[5];
                    this.address = this.mylocation.address_components;
                    this.town = this.mylocation.formatted_address;
                })*/
        }

    }
</script>

<style scoped>
.el-select,.el-date-picker {
    display: block;
}
.el-date-picker{
    width: 100%;
}
</style>